.idle-icon {
    height: 100px;
    // background: url(../../assets/images/icons/sandclock.png) no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    opacity: 0.2;
    margin-bottom: 10px;
}

.force_out-icon {
    height: 100px;
    // background: url(../../assets/images/icons/security.png) no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    opacity: 0.2;
    margin-bottom: 10px;
}