:host { 
    display: contents; 
  }
  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .home-home {
    width: 100%;
    height: 1117px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(7, 49, 115, 1);
  }
  .home-ellipse11 {
    top: 860px;
    left: 818px;
    width: 210px;
    height: 210px;
    position: absolute;
  }
  .home-ellipse12 {
    top: 24px;
    left: 1379px;
    width: 354px;
    height: 370px;
    position: absolute;
  }
  .home-rectangle28 {
    top: 229px;
    left: 940px;
    width: 497px;
    height: 581px;
    position: absolute;
    border-radius: 5px;
  }
  .home-rectangle29 {
    top: 229px;
    left: 940px;
    width: 497px;
    height: 721px;
    position: absolute;
    border-radius: 5px;
  }
  .home-rectangle30 {
    top: 229px;
    left: 940px;
    width: 497px;
    height: 721px;
    position: absolute;
    border-radius: 5px;
  }
  .home-group44 {
    top: 300px;
    left: 969px;
    width: 440px;
    height: 248px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-group39 {
    top: 0px;
    left: 0px;
    width: 440px;
    height: 93.19745635986328px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-text {
    color: rgba(7, 49, 115, 1);
    width: 150px;
    height: auto;
    position: absolute;
    font-size: 17px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-rectangle291 {
    top: 42.64967727661133px;
    left: 0px;
    width: 440px;
    height: 51px;
    position: absolute;
    border-color: rgba(63, 98, 153, 0.7099999785423279);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
  }
  .home-group41 {
    top: 154.80255126953125px;
    left: 0px;
    width: 440px;
    height: 93.19745635986328px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-text02 {
    color: rgba(7, 49, 115, 1);
    width: 300px;
    height: auto;
    position: absolute;
    font-size: 17px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-rectangle292 {
    top: 42.6496696472168px;
    left: 0px;
    width: 440px;
    height: 51px;
    position: absolute;
    border-color: rgba(63, 98, 153, 0.7099999785423279);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
  }
  .home-group43 {
    top: 620px;
    left: 961px;
    width: 455px;
    height: 130px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-rectangle301 {
    top: 78.51485443115234px;
    left: 1px;
    width: 454px;
    height: 51px;
    position: absolute;
  }
  .home-text04 {
    top: 93.96039581298828px;
    left: 187px;
    color: rgba(255, 255, 255, 1);
    width: 82px;
    height: auto;
    position: absolute;
    font-size: 13px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text06 {
    color: rgba(7, 49, 115, 0.6499999761581421);
    width: 440px;
    height: auto;
    position: absolute;
    font-size: 13px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text08 {
    top: 229px;
    left: 290px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text10 {
    top: 320px;
    left: 290px;
    color: rgba(255, 255, 255, 1);
    width: 479px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Extra Light;
    text-align: left;
    font-family: Inter;
    font-weight: 300;
    line-height: 31px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-group46 {
    top: 487px;
    left: 290px;
    width: 559px;
    height: 293px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-screenshotfrom202403011346492 {
    top: 0px;
    left: 0px;
    width: 559px;
    height: 293px;
    position: absolute;
  }
  .home-group45 {
    top: 112px;
    left: 245px;
    width: 70px;
    height: 70px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-ellipse10 {
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    position: absolute;
  }
  .home-polygon2 {
    top: 15px;
    left: 55px;
    width: 39px;
    height: 39px;
    position: absolute;
  }
  .home-rectangle27 {
    top: 0px;
    left: 0px;
    width: 1728px;
    height: 90px;
    position: absolute;
  }
  .home-text12 {
    top: 60px;
    left: 1318px;
    color: rgba(7, 49, 115, 1);
    height: auto;
    position: absolute;
    font-size: 17px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-group21 {
    top: 60px;
    left: 291px;
    width: 79px;
    height: 23px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-text14 {
    color: rgb(9, 71, 168);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Medium;
    text-align: left;
    font-family: "K2D";
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-group19 {
    top: 6px;
    left: 26.5px;
    width: 13.5px;
    height: 15px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-group18 {
    left: -6px;
    width: 13.5px;
    bottom: -1px;
    height: 15px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(9, 71, 168, 1);
  }
  .home-vector {
    top: 2.1425628662109375px;
    left: 6.8399553298950195px;
    width: 0px;
    height: 1px;
    position: absolute;
  }
  .home-vector1 {
    top: 11.5191650390625px;
    left: 6.8399553298950195px;
    width: 0px;
    height: 1px;
    position: absolute;
  }
  .home-vector2 {
    top: 3.702392578125px;
    left: 4.260005474090576px;
    width: 5px;
    height: 8px;
    position: absolute;
  }
  