<div class="home-container">
  <div class="home-home">
    <img
      src="/ellipse111153-30bd-300h.png"
      alt="Ellipse111153"
      class="home-ellipse11"
    />
    <img
      src="/ellipse121154-nmm-400w.png"
      alt="Ellipse121154"
      class="home-ellipse12"
    />
    <img
      src="/rectangle281155-2b0b-600h.png"
      alt="Rectangle281155"
      class="home-rectangle28"
    />
    <img
      src="/rectangle291435-tmhl-800h.png"
      alt="Rectangle291435"
      class="home-rectangle29"
    />
    <img
      src="/rectangle301442-15zk-800h.png"
      alt="Rectangle301442"
      class="home-rectangle30"
    />
    <div class="home-group44">
      <div class="home-group39">
        <span class="home-text"><span>Country*</span></span>
        <img
          src="/rectangle291153-5oaj-200h.png"
          alt="Rectangle291153"
          class="home-rectangle291"
        />
      </div>
      <div class="home-group41">
        <span class="home-text02"><span>Upload Document*</span></span>
        <img
          src="/rectangle291153-pvsr-200h.png"
          alt="Rectangle291153"
          class="home-rectangle292"
        />
      </div>
    </div>
    <div class="home-group43">
      <img
        src="/rectangle301153-ch3p-200h.png"
        alt="Rectangle301153"
        class="home-rectangle301"
      />
      <span class="home-text04"><span>WATCH NOW</span></span>
      <span class="home-text06">
        <span>
          By registering, you confirm that you agree to the storing and
          processing of your personal data by CLOS.
        </span>
      </span>
    </div>
    <span class="home-text08"><span>Get Sign Up with CLOS</span></span>
    <span class="home-text10">
      <span>
        CLOS provides better solution for loans. It is an end-to-end solution
        covering Retail and Small Business Products. It comes with workflow,
        screens and allows foe extensibility and quick time time to market.
        <span [innerHTML]="rawjs1o"></span>
      </span>
    </span>
    <div class="home-group46">
      <img
        src="/screenshotfrom2024030113464921154-64roe-600w.png"
        alt="Screenshotfrom2024030113464921154"
        class="home-screenshotfrom202403011346492"
      />
      <div class="home-group45">
        <img
          src="/ellipse101154-8n7-200h.png"
          alt="Ellipse101154"
          class="home-ellipse10"
        />
        <img
          src="/polygon21154-6tp1.svg"
          alt="Polygon21154"
          class="home-polygon2"
        />
      </div>
    </div>
    <img
      src="/rectangle271154-yohk-200h.png"
      alt="Rectangle271154"
      class="home-rectangle27"
    />
    <span class="home-text12"><span>+65 6701 8501</span></span>
    <div class="home-group21">
      <span class="home-text14">CL S</span>
      <div class="home-group19">
        <div class="home-group18"></div>
        <img src="/vector1155-0dm.svg" alt="Vector1155" class="home-vector" />
        <img src="/vector1155-2wc8.svg" alt="Vector1155" class="home-vector1" />
        <img src="/vector1155-bx9f.svg" alt="Vector1155" class="home-vector2" />
      </div>
    </div>
  </div>
</div>
