.main-container {
    height: 88%;
}

.mat-tab-group {
    height: 4.5rem;
}

.mat-icon {
    color: #012970;
    padding-right: 3rem;
    font-size: 20px;
    font-weight: 600;
    margin-top: 4px;
}
.tabsName {
    font-weight: bold;
    color: blue;
}