<section style="margin-left: 65px;">
    <div class="row mb-5 mt-5">
        <div class="col-md-3">
            <p class="mb-5">Application Id: <span style="color:royalblue">{{appId}}</span></p>
            <p>Applicant Name: <span style="color:royalblue">{{appDetails?.APPMLNAME}}</span></p>
        </div>
        <div class="col-md-9">
            <div class="goBack">
                <button mat-raised-button class="back-btn" onclick="history.back()"><mat-icon>keyboard_arrow_left</mat-icon>Go Back</button>
            </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
        </div>
    </div>
    <div style="width:98%;">
        <div class="row mb-5 databaseRow" *ngFor="let dataKey of databaseDetail; let i=index">
            <div class="col-md-3" style="border-bottom: 2px solid rgb(233, 233, 233);">
                <p class="mb-2">Database: {{databaseDetail[i].tabelName}}</p>
            </div>
            <div class="col" style="border-bottom: 2px solid rgb(233, 233, 233);"></div>
            <div class="col" style="border-bottom: 2px solid rgb(233, 233, 233);"></div>
            <div class="col" style="border-bottom: 2px solid rgb(233, 233, 233);"></div>
            <div class="col" style="border-bottom: 2px solid rgb(233, 233, 233);"></div>
            <div class="col" style="border-bottom: 2px solid rgb(233, 233, 233);"></div>
            <div class="col" style="border-bottom: 2px solid rgb(233, 233, 233);"></div>
            <div class="col" style="border-bottom: 2px solid rgb(233, 233, 233);">
                <p class="mb-2">Match Found :<span style="color: green;" *ngIf="this.dbDetails[i].duplicates.length==0">N</span>
                    <span style="color: green;" *ngIf="this.dbDetails[i].duplicates.length!=0">Y</span>
                </p>
            </div>
            <div class="matchedApplication"></div>
            <div class="matched-columns">
                <!-- <p class="mb-4 mt-5">Matched Columns :<span class="matched-columns-sub" *ngFor="let fieldsList of display1; let i=index">
                    <ng-container *ngFor="let dissss of fieldsList[i]; let j=index">{{display1[i].dissss[j]}}&nbsp; </ng-container></span>
                </p> -->
                <p class="mb-4 mt-4">Application</p>
            </div>
            <div style="overflow-x:auto;">
            <table style="border: 1px solid rgb(233, 233, 233);">
                <tr>
                    <ng-container *ngFor="let dbList of displaydbList[i]; let j = index">
                       <ng-container *ngFor="let dbList1 of dbList.applicationFields">
                            <ng-container *ngFor="let header of appDetails | keyvalue;let i = index">
                                <ng-container *ngIf="header.key == dbList1">
                                     <th> {{header.key}}</th>
                                </ng-container>
                           </ng-container>
                       </ng-container>
                    </ng-container>
                </tr>
                <tbody>
                    <tr>
                        <ng-container *ngFor="let dbList of displaydbList[i]; let j = index">
                            <ng-container *ngFor="let dbList1 of dbList.applicationFields">
                                 <ng-container *ngFor="let appData of appDetails | keyvalue">
                                     <ng-container *ngIf="appData.key == dbList1">
                                          <td> {{appData.value}}</td>
                                     </ng-container>
                                </ng-container>
                            </ng-container>
                         </ng-container>
                    </tr>
                </tbody>
            </table>
            </div>
            <!-- Database -->
            <div style="width:98%;background-color: white;">
                <p class="mb-4 mt-5">Database</p>
            </div>
            <div style="overflow-x:auto;">
            <table style="border: 1px solid rgb(233, 233, 233);">
                <tr>
                    <th style="background:#28428f;color:#fff">Matching Percentage</th>
                <ng-container *ngFor="let dbList of displaydbList[i]; let j = index">
                    <ng-container *ngFor="let dbList1 of dbList.tableFields">
                        <th>{{dbList1}}</th>
                    </ng-container>
                 </ng-container>
                </tr>
                <tbody *ngIf="this.dbDetails[i].duplicates.length!=0">
                    <ng-container *ngFor="let dbHeader of multiDB[i];let m = index">
                        <tr>
                            <td>
                                <div class="progress progress-div">
                                    <div class="progress-bar progress_bar_01 progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" [style.width.%]="dbHeader.matchingPercentage">
                                        {{dbHeader.matchingPercentage}}% Match
                                    </div>
                                  </div>
                               </td>
                            <ng-container *ngFor="let dbList of displaydbList[i]; let j = index">
                                <ng-container *ngFor="let dbList1 of dbList.tableFields let s = index">
                                    <ng-container >
                                    <td>{{dbHeader[dbList1]}}</td>
                                </ng-container>
                                </ng-container>
                            </ng-container>
                        </tr>
                    </ng-container>
                </tbody>
                <tbody *ngIf="this.dbDetails[i].duplicates.length==0">
                    <span class="not-match">Not Match Found</span>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</section>