<div style="width:30%; margin-top:15% ; padding-left:35%; ">
<mat-card class="example-card">
    <mat-card-title>
        <b><mat-icon style="vertical-align: middle; font-size: 20px;">report_problem</mat-icon>
           PAGE NOT FOUND !</b></mat-card-title><br>
    <mat-card-content>
      <p>We can't find the page you are looking for..</p>
    </mat-card-content>
    <button class="login__btn" (click)="login()" name="btn">
       <b>BACK TO LOGIN</b>
      </button>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>