<div *ngIf="config" style="font-size: 14px; overflow: hidden;">
    <div class="category-header">
        GENERAL
    </div>
    <div class="category-sub-header">
        PATHS:
    </div>
    <table *ngIf="config.paths">
        <tbody>
            <tr>
                <td>
                    <span class="min-label">Watch Directory</span>
                </td>
                <td>:</td>
                <td>
                    <input [(ngModel)]="config.paths.watch" class="min-input">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="min-label">History Directory</span>
                </td>
                <td>:</td>
                <td>
                    <input [(ngModel)]="config.paths.history" class="min-input">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="min-label">Reject Directory</span>
                </td>
                <td>:</td>
                <td>
                    <input [(ngModel)]="config.paths.reject" class="min-input">
                </td>
            </tr>
        </tbody>
    </table>
    <div class="category-sub-header">
        FILE NAME:
    </div>
    <table *ngIf="config.files">
        <tbody>
            <tr>
                <td>
                    <span class="min-label">Exact File Name</span>
                </td>
                <td>:</td>
                <td>
                    <input [(ngModel)]="config.files.general.name" class="min-input">
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <span class="min-label">Name Pattern</span>
                </td>
                <td valign="top">:</td>
                <td>
                    <div>
                        <div *ngFor="let element of config.files.general.namePattern; let index = index; trackBy: trackByIndex;"
                            style="margin-bottom: 1px; position: relative;">
                            <input [(ngModel)]="config.files.general.namePattern[index]" class="min-input" type="text">
                            <button mat-icon-button color="warn" class="min-button min-add-button"
                                (click)="config.files.general.namePattern.splice(index, 1);">
                                <mat-icon style="font-size: 14px;">remove</mat-icon>
                            </button>
                        </div>
                        <div style="height: 26px; position: relative;">
                            <span class="add-items-text">Click the + icon to add items.</span>
                            <button mat-icon-button color="primary" class="min-button min-add-button"
                                (click)="config.files.general.namePattern.push('');">
                                <mat-icon style="font-size: 14px;">add</mat-icon>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="min-label">Read File Data</span>
                </td>
                <td>:</td>
                <td>
                    <div style="height: 25px;">
                        <mat-select [(ngModel)]="readLineMode" (ngModelChange)="onReadlineModeChange()" class="min-select" style="width: 100px; margin-right: 10px;">
                            <mat-option *ngFor="let opt of readLineModes" [value]="opt">{{opt}}</mat-option>
                        </mat-select>
                        <input *ngIf="readLineMode=='Single Line'" [(ngModel)]="config.files.readLine" class="min-input" style="width: calc(100% - 110px);">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="height: 10px;"></div>
    <div class="category-header">
        ADVANCED
    </div>
    <table *ngIf="config.task">
        <tbody>
            <tr>
                <td>
                    <span class="min-label">Input Polling (ms)</span>
                </td>
                <td>:</td>
                <td>
                    <input [(ngModel)]="config.task.inputPollingMs" class="min-input" type="number" min="0">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="min-label">Batch Size</span>
                </td>
                <td>:</td>
                <td>
                    <input [(ngModel)]="config.task.insertBatchSize" class="min-input" type="number" min="0">
                </td>
            </tr>
        </tbody>
    </table>
    <div style="position: relative; height: 50px;">
        <button mat-button (click)="debug()"
            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <mat-icon>bug_report</mat-icon>
            <span style="padding-left: 10px;">Print Config To Console</span>
        </button>
    </div>
</div>