<div class="tl-main-container">
    <div class="header-container">
        <div class="title-container">
            <div class="component-title" style="border-bottom:none">
                <span style="font-size:2rem;color: red;">
                    Alert!
                </span>
                <br><br>
                <span style="font-size:1.4rem">
                    There were errors attaching in your file(s).
                </span>
            </div>
        </div>
    </div>
    <div class="button-container">
        <div style='float: left;'>
        </div>
        <div style="margin-left: 1rem;">
            <button class="tl-btn-submit" (click)="onApplyClick()">
                Ok
            </button>
        </div>
    </div>
</div>