.main-header{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: blue;
}
.sub-header{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: blue; 
}
.logo-img{
    width:150px;
    height:100px;
}
.box{
    height:250px;
    width:100%;
    border-radius: 11px;
    background-color: lightgrey;
}
.content{
    color:black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    display: flex; align-items: center; justify-content: center;
    margin-left:10px;
    line-height: 1.6;
}
.testimonilas{
    background-color: lightgrey;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    height:200px;
    width:100%;
    line-height: 1.6;
    display: flex; align-items: center; justify-content: center;
}
.version-info{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    right: 0;
    background: #262525;
    width: 100%;
    color: silver;
    padding: 4px 15px;
    > .version-name{
      font-size: 12px;
      float: right;
      > .version-link:hover{
        border-bottom: 1px dotted gray;
        cursor: pointer;
      }
    }
    
  }
  .min-select {
    width: 18rem;
    padding: 10px;
    border: solid #e6e6e6 0.1rem;
    background-color: #fafafa;
    box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 10%) inset;
    transition: all linear 70ms;
    outline: solid transparent 0.2rem;
    margin-top: 4%;
}
  