<mat-toolbar class="tool-bar">

    <span>Nirnaya</span>
    <!-- <span class="separator-div">
        <div class="separator"></div>
    </span>
    <span>{{projectName}}</span> -->
    <span class="separator-div">
        <div class="separator"></div>
    </span>
    <span>Data Administration</span>
    <span class="separator-div">
        <div class="separator"></div>
    </span>
    <span>
        Profiling Variable

    </span>
    <span class="example-spacer"></span>

    <button mat-stroked-button style=" color: #394eb4;
    border-radius: 2rem !important;
    background-color: white;" (click)="goBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <span>
            Go back
        </span>
    </button>
    <!-- <span>
      <button mat-stroked-button>
        <mat-icon style="margin-right: 0px;">error_outline</mat-icon>
      </button>
    </span> -->
</mat-toolbar>

<div class="main-container">
    <div class="header-container flex-row-parent">
        <div class="img-container flex-stetch">
            <img style="opacity: 0.7;" src="assets/Icons/configuration.png">
        </div>
        <div class="describe-container flex-unstetch flex-column-parent">
            <div class="title-container flex-stetch">
                <span style="font-size: 2rem; font-weight: 500;">
                Profiling Variable
                </span>
            </div>
            <div class="sub-title-container flex-unstetch">
                <span style="font-size: 1.4rem; color: gray;">
                    You can create and edit Profiling Variable here.
                </span>
            </div>
        </div>
        <div class="create-rule-container flex-stetch">
            <span style="padding-right: 2rem;">
                <button mat-stroked-button color="primary" (click)="createNewVariable()" style=" color: #394eb4;
                border-radius: 2rem !important;
                background-color: white;">
                    <mat-icon>add</mat-icon>
                    <span>
                        Create Profiling Variable
                    </span>
            </button>
            </span>
        </div>
    </div>
    <div class="filter-container flex-row-parent">
        <div class="search-container flex-unstetch" style="position: relative;">
            <mat-icon class="icon-search" style="left: 2rem;">search</mat-icon>
            <input class="min-input" (input)="searchTable()" [(ngModel)]="inputText" style="margin-top: 0rem; margin-left: 1rem; height: 3rem; padding-left: 4rem; width: 98%;margin-right: 2rem;" placeholder="Search by Profiling Variable name">
        </div>
        <div class="sort-container flex-stetch" style="margin-left: 2rem;">
            Sort by :
        </div>
        <div class="sort-container flex-unstetch">
            <mat-select class="min-select" style="width: 20%;margin-left: 1rem;">
                <mat-option value="asc" (click)="sortAsc()">Asc by name.</mat-option>
                <mat-option value="desc" (click)="sortDesc()">Desc by name.</mat-option>
            </mat-select>
        </div>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div class="content-container">
        <div class="card-container" *ngFor="let profile of variables">
            <div class="inner-card-container" matRipple>
                <div class="left-card-align ">
                    <div style="margin-top: 1rem; margin-left: 2rem; ">
                        <span style="font-size: 1.6rem;  text-transform: capitalize; font-weight: 500;color:rgb(54, 52, 52)">
                            {{profile.name}}
                        </span><br>
                        <p></p>
                        <span style="font-size: 1.3rem; color: gray;">
                            {{profile.description}}
                        </span>
                    </div>
                </div>
                <div class="center-card-align">
                    <!-- center -->
                </div>
                <div class="right-card-align ">
                    <!-- right -->
                    <button mat-stroked-button #tooltip="matTooltip" matTooltip="Click here to edit" (click)="editVariable(profile)"> <mat-icon class="edit-button-icon" >edit</mat-icon><span style="margin-left: 1rem;color: blue;font-weight: 500">Edit </span></button>
                    <!-- <button  class="edit-button" #tooltip="matTooltip" mat-raised-button
                    matTooltip="Click here to edit"
                         (click)="onClickCard(Table)">
                        <mat-icon class="edit-button-icon" >edit</mat-icon>
                    </button> -->

                    <button mat-stroked-button #tooltip="matTooltip" matTooltip="Click here to delete" (click)="deleteVariable(profile)"> <mat-icon class="delete-button-icon" >delete</mat-icon><span style="margin-left: 1rem;color: red;font-weight: 500">Delete </span></button>
                    <!-- <button mat-raised-button   #tooltip="matTooltip"
                    matTooltip="Click here to delete"
                        >
                        <mat-icon  class="delete-button-icon">delete<span style="margin-right:5rem;color: blue;font-weight: 500">Delete </span></mat-icon>
                    </button> -->
                </div>
            </div>
        </div>
        <div class="no-records-found" *ngIf="variables.length == 0 && !loading">
            <div class="div-span">
                No profiling Variables found
            </div>
        </div>
    </div>
</div>
<notifier-container></notifier-container>
<notifier-container></notifier-container>