<div class="content-container">
    <form #loanDetailsInfoForm="ngForm">
        <div class="content-section">
            <div class="grid-container">

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl Outstanding Bal1</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="text" [ngModelOptions]="{standalone: true}" matInput [(ngModel)]="listFieldName['appxPBal1f']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl Outstanding Bal2</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="text" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxPBal2f']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl Bank 1</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="text" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxPLBnk1']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl Account No1</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="number" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxPLAcc1']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl Prin Loan Amt1</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="number" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxPLAmt1']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl Outstanding Bal1</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="text" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxPLBal1']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl Loan Term1</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="text" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxPLTrm1']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl Rating1</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="text" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxPLRAT1']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl History1</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="text" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxPLHis1']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl Bank2</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="text" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxPLBnk2']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl Account No2</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="number" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxPLAcc2']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl Prin Loan Amt2</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="number" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxPLAmt2']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl Outstanding Bal2</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="text" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxPLBal2']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl Loan Term2</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="text" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxPLTrm2']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl Rating2</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="text" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxPLRAT2']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl History2</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="text" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxPLHis2']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl Loan Tenure</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="text" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxPLLTen']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl Loan Purpose</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="text" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxPLLPur']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl Applied Amount</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="number" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxAppAmt']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl Max Approved Amt</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="number" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxMaxAmt']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_Fields">
                    <div style="margin-top: 2rem">
                        <span class="field_name">Pl Granted Amount</span>
                    </div>
                    <div>
                        <mat-form-field class="select-field" matInput style="font-size:16px;width:75%">
                            <input type="number" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="listFieldName['appxGrnAmt']" (ngModelChange)="setInput()">
                        </mat-form-field>
                    </div>
                </div>

            </div>
        </div>

    </form>
</div>