.dialog-theme-light .mat-select-placeholder {
    color: rgb(79 73 73 / 77%);
}
.dialog-theme-dark .form-control::placeholder {
    color: rgb(122, 107, 107);
  }

.dialog-theme-dark .form-control{
    color: #ffffffab;
    background-color: #1f1f1fab;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 5px 0px rgb(113 113 115);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.label{
    text-align: center;
    font-size: 26px;
    font-weight: 900;
}
::ng-deep .query-mat-select{
height: 37px;
padding: 7px;
border-radius: 0.4rem;
border: solid #e6e6e6 0.1rem;
background-color: #fafafa;
box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 10%) inset;
transition: all linear 70ms;
outline: solid transparent 0.2rem;
resize: none;
}

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888 !important; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555 !important; 
    }
  
    ::-webkit-scrollbar-thumb:horizontal{
    background: silver; 
    border-radius: 10px;
    }

  .icon-hov2{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: gray;
    border-radius: 16px;
    width: 28px !important;
    height: 28px;
  }
  .icon-hov2:hover{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 204, 204);
    border-radius: 16px;
    width:28px !important;
    height: 28px;
  }
  .table-container {
    flex: 1 1 auto;
    // border: 1px solid gainsboro;
    border-radius: 0.5rem;
    overflow: auto;
    position: relative;
    table-layout: fixed;
    margin:0.5rem;
    #table {
        border-collapse: collapse;
        width: 100%;
        min-width: max-content;
       
        td>div.content {
            white-space: nowrap;
            overflow: hidden;
            padding-left: 1rem;
            // padding: 0.5rem 1rem 0.5rem 1rem;
        }
        th>div.content {
            padding-top: 0.4rem;
            white-space: nowrap;
            overflow: hidden;
        }
        th>div.content_check {
            padding-top: 0.4rem;
            white-space: nowrap;
            overflow: hidden;
            padding-left: 0.6rem;
        }
    }
    #table td {
        border-top: 4px solid #ffffff;
        line-height: 35px;
    }
    #table tbody tr:hover td {
        background-color: #ddd
    }

    #table tbody tr {
        background-color: #f8f8f8;
  
    }
    #table tbody tr:hover {
        background-color: #ddd;
    }
    #table tbody {
        overflow-y: auto;
        height: auto
    }
    th {
        position: sticky;
        top: 0;
        padding: 7px 25px;
    }
    #table thead {
        position: sticky;
        top: 0;
        background-color: #0e2954;
        color: white;
      }
    #table th {
        text-align: middle;
        z-index: 15;
        padding: 3px 30px 3px 0px;
        // min-width: 21rem;
        max-height: 2rem;
         ::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
            border-color: white !important;
            background-color: #adadad !important;
        }
         ::ng-deep mat-checkbox .mat-checkbox-checkmark-path {
            stroke: blue !important;
        }
         ::ng-deep .mat-checkbox .mat-checkbox-frame {
            border-color: white !important;
        }
         ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
            background-color: white !important;
            border-color: white !important;
        }
    }
  }
  .min-select {
    padding: 5px;
    border-radius: 0.4rem;
    border: solid #e6e6e6 0.1rem;
    background-color: #fafafa;
    box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 10%) inset;
    transition: all linear 70ms;
    outline: solid transparent 0.2rem;
    resize: none;
}
.paginator-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 1rem;
    >.left-container {
        flex: 0 0 auto;
    }
    >.middle-container {
        flex: 0 0 auto;
    }
    >.right-container {
        margin-top: 1rem;
        flex: 0 0 auto;
    }
  }
  .page-links {
    position: relative;
      display: block;
      padding: .5rem .75rem;
      margin-left: -1px;
      line-height: 1.25;
      // color: #007bff;
      background-color: transparent;
      border: 0px solid #dee2e6;
    }
    .page-links.active{
        font-weight: bold;
      }