<div class="popup-header-section">
    <mat-icon>donut_small</mat-icon>
    <h2>Bureau Screen</h2>
</div>
<div class="popup-content-section">
    <div class="body-header">
        <h3>External System: TU</h3>
    </div>
    <div class="card-section-1">
        <div class="card_item">
            <div class="card_header">
                <span class="card-content-heading">total creadit limit</span>
            </div>
            <div class="card-content">
                <span class="card-content-count">259400</span>
                <mat-icon class="card-content-icon">credit_card</mat-icon>
            </div>
        </div>
        <div class="card_item">
            <div class="card_header">
                <span class="card-content-heading">total outstanding balance</span>
            </div>
            <div class="card-content">
                <span class="card-content-count">8110</span>
                <mat-icon class="card-content-icon">account_balance_wallet</mat-icon>
            </div>
        </div>
        <div class="card_item">
            <div class="card_header">
                <span class="card-content-heading">highest credit limit</span>
            </div>
            <div class="card-content">
                <span class="card-content-count">YTP</span>
                <mat-icon class="card-content-icon">attach_money</mat-icon>
            </div>
        </div>
        <div class="card_item">
            <div class="card_header">
                <span class="card-content-heading">TU risk fade</span>
            </div>
            <div class="card-content">
                <span class="card-content-count">FF</span>
                <mat-icon class="card-content-icon">queue</mat-icon>
            </div>
        </div>
        <div class="card_item">
            <div class="card_header">
                <span class="card-content-heading">TU risk score</span>
            </div>
            <div class="card-content">
                <span class="card-content-count">662</span>
                <mat-icon class="card-content-icon">score</mat-icon>
            </div>
        </div>
    </div>
    <div class="card-section-1">
        <div class="card_item" style="width: 300px;border-left:4px solid red">
            <div class="card_header">
                <span class="card-content-heading">trusting social score</span>
            </div>
            <div class="card-content">
                <span class="card-content-count">YTP</span>
                <mat-icon class="card-content-icon">verified_user</mat-icon>
            </div>
        </div>
        <div class="card_item" style="width: 300px;border-left:4px solid red">
            <div class="card_header">
                <span class="card-content-heading">CIBI result</span>
            </div>
            <div class="card-content">
                <span class="card-content-count">YTP</span>
                <mat-icon class="card-content-icon">queue_play_next</mat-icon>
            </div>
        </div>
    </div>

    <div class="table-section">
        <div class="table table-responsive table-content">
            <table>
                <thead>
                    <tr>
                        <th>S.NO</th>
                        <th>Account Type</th>
                        <th>Open Date</th>
                        <th>OS Balance Per Acct</th>
                        <th>Handling</th>
                        <th>View Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Type A</td>
                        <td>06-22-2023</td>
                        <td>YTP</td>
                        <td>yes</td>
                        <td>
                            <mat-icon>more</mat-icon>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Type B</td>
                        <td>04-22-2023</td>
                        <td>STP</td>
                        <td>no</td>
                        <td>
                            <mat-icon>more</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="popup-footer-section">
    <button mat-raised-button (click)="close()"><mat-icon>close</mat-icon>&nbsp;&nbsp;Close</button>

</div>