<div class="page__main-container">
    <div class="header-container">
        <span>
            Manage Groups:-
        </span>
    </div>
    <div class="main-container">
        <div class="search-container">
            <mat-icon class="icon-search">search</mat-icon>
            <input class="min-input" [(ngModel)]="name" (ngModelChange)="getGroupsListNameSearch()" placeholder="Search Here...">
        </div>
        <div class="content-container">
            <div class="list__group-container" *ngFor="let group of groups; let i = index">
                <div class="check__box-container">
                    <input type="checkbox" [(ngModel)]="group.isChecked">
                </div>
                <div class="group__icon-container">
                    <mat-icon>groups</mat-icon>
                </div>
                <div class="group__name-container">
                    {{group.name}}
                </div>
            </div>
        </div>
    </div>
    <div class="paginated-container">
        <div class="page-nav-container noselect" [@fadeInOut] *ngIf="entryCount" >
            <div>
                <button mat-icon-button [disabled]="(pageNum + 1) <= 1" (click)="prevPage()">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
            </div>
            <div>
                <span>Page {{pageNum + 1}} of {{totalPages}}
                </span>(<span>{{currentPageStart}}</span>-<span>{{currentPageEnd}}</span> of
                <span>{{entryCount}}</span>)
            </div>
            <div>
                <button mat-icon-button [disabled]="(pageNum + 1) >= totalPages" (click)="nextPage()">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
<mat-dialog-actions align="end" class="button-container">
    <div class="apply_btn-container">
        <button class="tl-btn" mat-dialog-close>
            <mat-icon>close</mat-icon>
            <span>Close</span>
        </button>
    </div>
    <div class="submit_btn-container">
        <button  class="tl-btn-submit"(click)="onApplyClick()">
            <mat-icon>done</mat-icon>
            <span>Apply</span>
        </button>
    </div>
   
    
</mat-dialog-actions>
<notifier-container></notifier-container>