.example-container {
  height: 842px;
}

.list-item {
  margin-right: 10px;
  margin-left: 10px;

  .mat-list-item {
      height: 50px;
      font-size: 12px;
      margin-bottom: 10px;
      background: #f7f7f7;
      border-radius: 5px;
      font-weight: 700;
      opacity: 0.8;
      box-shadow: 0 1px 9px 1px rgb(0 0 0 / 14%);

      .list-icon {
          margin-right: 15px;
          background: aliceblue;
          padding: 4px 10px;
          color: blue;
          font-size: 14px;
          border-radius: 8px;
      }
  }

  .unexpanded-icon {
      margin-right: 0 !important;
      font-size: 36px;
      opacity: 0.5;
  }

  .mat-list-item:hover {
      color: blue;
      background: aliceblue;
      cursor: pointer;
      opacity: 1;
  }

  > .mat-list-item.active {
      opacity: 1;
      background: aliceblue;
      border-left: 4px solid blue;
  }

  > .mat-list-item.success {
      color: green;

      .material-symbols-outlined {
          margin-right: 10px;
          color: green;
          border-radius: 10px;
          font-size: 36px;
      }
  }

  .mat-list-item.success.active {
      background: honeydew;
      border-left: 4px solid green;
  }
}

.at-separator-thick {
  background: #d4d4d4;
  height: 4px;
  margin: 0%;
  width: 60px;
}

::ng-deep .input-field .mat-form-field-underline {
  display: none;
}

::ng-deep .select-field .mat-form-field-underline {
  display: none;
}

::ng-deep .input-field .mat-form-field-flex {
  white-space: nowrap;
  background-color: rgb(251 251 251 / 70%);
  color: #606266;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  outline: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-weight: 500;
  border-radius: 4px;
}

::ng-deep .select-field {
  display: block !important;

  .mat-form-field-flex {
      color: #606266;
  }

  .mat-select-value {
      font-size: 12px;
      color: #606266;
  }
}

::ng-deep .mat-select-panel .mat-option {
  font-size: 12px !important;
}

input {
  box-shadow: none;
}

input:focus {
  outline: none;
  background: transparent;
}

.row-shadow {
  box-shadow: 0 1px 9px 1px rgb(0 0 0 / 11%);
  padding: 10px;
  margin: 2px;
}

table {
  width: 100%;
  border-collapse: separate;
  box-shadow: 0 1px 9px 1px rgb(0 0 0 / 14%);
  -webkit-box-shadow: 0 1px 9px 1px rgb(0 0 0 / 14%);
}

td,
th {
  border: none;
  text-align: left;
  padding: 2px 8px;
}

tr:nth-child(1) {
  background: aliceblue;
}

tr {
  background-color: #f5f5f5;
}

.go-back-btn {
  color: grey;
  font-weight: 700;
  background: #e9e7e7;
}

.save-btn {
  background: aliceblue;
  color: #606266;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #ebe9e9;
  box-shadow: 0 1px 9px 1px rgb(0 0 0 / 9%);
  -webkit-box-shadow: 0 1px 9px 1px rgb(0 0 0 / 9%);
}

.save-btn:hover {
  background-color: #e4f2ff;
  color: blue;
  -webkit-box-shadow: 0px 1px 5px 1px rgb(0 0 0 / 25%);
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  // backdrop-filter: blur(0.5rem);
  padding: 1rem 2rem;
  -webkit-box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);

  span {
      margin-left: 1rem;
  }
}

.next-btn {
  background: blue;
  color: white;
  font-weight: 700;
}
