<div class="main-container">
    <div class="content-container">
        <div class="table-container" style="overflow-y: auto;overflow-x: hidden;height: 50rem;">
            <table>
                <tr>
                    <td>Purpose of Loan
                    </td>
                    <td>:</td>
                    <td>
                        <mat-select class="min-select" [(ngModel)]="applicationDetails.purposeOfLoan" (ngModelChange)="saveApplicationData() ">
                            <mat-option *ngFor="let purpose of purposeOfLoan"  [value]="purpose" >
                                {{purpose}}
                            </mat-option>
                        </mat-select>
                    </td>
                    <td>Source of Fund
                    </td>
                    <td>:</td>
                    <td>
                        <mat-select class="min-select" [(ngModel)]="applicationDetails.sourceOfFund" (ngModelChange)="saveApplicationData() ">
                            <mat-option *ngFor="let source of sourceOfLoan"  [value]="source">
                                {{source}}
                            </mat-option>
                        </mat-select>
                    </td>
                    <td>Requested Loan Amount<span style="color:red;">*</span>
                    </td>
                    <td>:</td>
                    <td> 
                        <input type="text" class="min-select" [(ngModel)]="applicationDetails.loanAmount" (ngModelChange)="saveApplicationData()"(keydown)="preventLetterE($event)" appInputseperatecomma>
                    </td>
                </tr>
                <tr>
                    <td>Loan Currency <span style="color:red;">*</span>
                    </td>
                    <td>:</td>
                    <td>
                        <mat-select class="min-select" [(ngModel)]="applicationDetails.loanCurrency" (ngModelChange)="saveApplicationData()">
                            <div style="top: 0;position: sticky;z-index: 10;">
                                <input  style="width: 100%;height: 4.5rem;" type="text" [(ngModel)]="searchCurrency" (input)="onCurrencyFilter()" placeholder="Search Currency...">
                            </div>
                            <mat-option *ngFor="let name of currency" [value]="name">
                                {{name}}
                            </mat-option>
                        </mat-select>                     </td>
                    <td>Loan Term
                    </td>
                    <td>:</td>
                    <td>
                        <input type="text" class="min-select" [(ngModel)]="applicationDetails.termLoan" (ngModelChange)="saveApplicationData() "(keydown)="preventLetterE($event)" appPreventSpace>
                    </td>
                    <td>Intrest Rate Type
                    </td>
                    <td>:</td>
                    <td>
                        <mat-select class="min-select" [(ngModel)]="applicationDetails.intrestRateType" (ngModelChange)="saveApplicationData() ">
                            <mat-option *ngFor="let type of term"  [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </td>
                </tr>
                <tr>
                    <td>Requested Repayment Frequency
                    </td>
                    <td>:</td>
                    <td>
                        <mat-select class="min-select" [(ngModel)]="applicationDetails.requestRepaymentFrequency" (ngModelChange)="saveApplicationData() ">
                            <mat-option *ngFor="let type of frequency"  [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </td>
                </tr>
            </table>
            <!-- Roll over -->
             <div class="table-container" *ngIf="action === 'ROLL_OVER' || this.applicationDetails.loanStatus === 'ROLL_OVER'">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header style="background-color: whitesmoke;">
                        <mat-panel-title class="header-banner">
                            <b>
                                Roll over Application 
                            </b>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <table>
                        <tr>
                            <td>Requested New Loan Term
                            </td>
                            <td>:</td>
                            <td>
                              <input type="number" class="min-select" [(ngModel)]="rolloverdetails.newLoanTerm" (ngModelChange)="saveLoanRollover()">
                              </td>
                            <td>Requested New Interest Rate
                            </td>
                            <td>:</td>
                            <td>
                                <input type="number" class="min-select" [(ngModel)]="rolloverdetails.newInterestRate" (ngModelChange)="saveLoanRollover()">
                            </td>
                        </tr>
                        <tr>
                            <td>Reason for Roll-over
                            </td>
                            <td>:</td>
                            <td>
                                <input type="string" class="min-select" [(ngModel)]="rolloverdetails.reason" (ngModelChange)="saveLoanRollover()">
                            </td>
                            <td>Proposed  Maturity  Date
                            </td>
                            <td>:</td>
                            <td>
                                <input type="date" [max]="currentDate" class="min-select" [(ngModel)]="rolloverdetails.maturityDate" (ngModelChange)="saveLoanRollover()">
                            </td>
                        </tr>
                        <tr>
                            <td>Roll-over Fee <br>(If applicable)
                            </td>
                            <td>:</td>
                            <td>
                                <input type="number" class="min-select" [(ngModel)]="rolloverdetails.rollOverFee" (ngModelChange)="saveLoanRollover()">
                            </td>
                            <td>History of Rollover</td>
                            <td>: 
                                <span>
                                <input prohibitedChars hidden type="file" #uploadFile1 
                                accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
                                (change)="onFilesSelected($event, 'history')" multiple />
                                <mat-icon (click)="uploadFile1.click();" class="inverted-icon">attach_file</mat-icon>
                                </span>
                            </td>
                            <td>
                                <div class="scrollable-content">
                                    <label class="file-input-label">
                                    <div class="selected-files">
                                        <div *ngFor="let fileName of rolloverdetails.history; let i = index"  (ngModelChange)="saveLoanRollover()">
                                            <u (click)="getAttachementFileDownload(fileName.attachmentId)" style="color:blue;margin:1rem;">{{ fileName.attachmentName }}</u>
                                            <button mat-icon-button>
                                                <mat-icon (click)="removeAttachment('history',i)" class="remove-icon">clear</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Proposed Frequency
                            </td>
                            <td>:</td>
                            <td>
                                <mat-select  class="min-select" [(ngModel)]="rolloverdetails.proposedFrequency" (ngModelChange)="saveLoanRollover()">
                                    <mat-option *ngFor="let type of frequency"  [value]="type" >
                                        {{type}}
                                    </mat-option>
                                </mat-select>
                            </td>
                        </tr>
                        <tr>
                            <td>Additional Documents</td>
                            <td>: 
                                <span>
                                <input prohibitedChars hidden type="file" #uploadFile2
                                accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
                                (change)="onFilesSelected($event, 'additional')" multiple />
                                <mat-icon (click)="uploadFile2.click();"  class="inverted-icon" >attach_file</mat-icon>
                                </span>
                            </td>
                            <td>
                                <div class="scrollable-content">
                                    <label class="file-input-label">
                                    <div class="selected-files">
                                        <div *ngFor="let fileName of rolloverdetails.additionalDocuments; let i = index" (ngModelChange)="saveLoanRollover()">
                                            <u (click)="getAttachementFileDownload(fileName.attachmentId)" style="color:blue;margin:1rem;">{{fileName.attachmentName}}</u>
                                            <button mat-icon-button>
                                                <mat-icon (click)="removeAttachment('additional',i)" class="remove-icon">clear</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    </label>
                                </div>
                            </td>
                            <td>Remarks</td>
                            <td>: 
                            <td><textarea type="string" style="resize: none;"  [(ngModel)]="rolloverdetails.additionalDocumentsComments" (ngModelChange)="saveLoanRollover()"></textarea></td>
                        </tr>
                    </table>
               </mat-expansion-panel>
            </div>
             <!-- Extension of loan  -->
            <div class="table-container" *ngIf="action === 'EXTENSION_OF_LOAN' || this.applicationDetails.loanStatus === 'EXTENSION_OF_LOAN'">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header style="background-color: whitesmoke;">
                        <mat-panel-title class="header-banner">
                            <b>
                                Extension of loan
                            </b>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <table style="width:100%;">
                        <tr>
                            <td>Reason for Extension
                            </td>
                            <td>:</td>
                            <td>
                                <input type="string" class="min-select" [(ngModel)]="extensionofloandetails.reason" (ngModelChange)="saveExtensionLoan()">
                            </td>
                            <td>Requested New Maturity Date
                            </td>
                            <td>:</td>
                            <td>
                                <input type="date" class="min-select" [(ngModel)]="extensionofloandetails.requestedExtensionTerm" (ngModelChange)="saveExtensionLoan()">
                            </td>
                        </tr>
                        <tr>
                            <td>Extension Fee(If Applicable)
                            </td>
                            <td>:</td>
                            <td>
                                <input type="string" class="min-select" [(ngModel)]="extensionofloandetails.extensionFee" (ngModelChange)="saveExtensionLoan()">
                            </td>

                            <td>Requested New Interest Rate <br>
                            </td>
                            <td>:</td>
                            <td>
                                <input type="number" class="min-select" [(ngModel)]="extensionofloandetails.newInterestRate" (ngModelChange)="saveExtensionLoan()">
                            </td>
                        </tr>
                        <tr>
                            <td>Extension Agreement</td>
                            <td>:
                                <span>
                                    <input prohibitedChars hidden type="file" #uploadFile1 class="min-select"
                                        accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
                                        (change)="onFilesSelected($event, 'newLoanAgreement')" multiple />
                                    <mat-icon (click)="uploadFile1.click();"
                                        class="inverted-icon">attach_file</mat-icon>
                                </span>
                            </td>
                            <td>
                                <div class="scrollable-content">
                                    <label class="file-input-label">
                                        <div class="selected-files">
                                            <div
                                                *ngFor="let fileName of extensionofloandetails.newLoanAgreement; let i = index">
                                                <u (click)="getAttachementFileDownload(fileName.attachmentId)" (ngModelChange)="saveExtensionLoan()"
                                                    style="color:blue;margin:1rem;">{{ fileName.attachmentName }}</u>
                                                <button mat-icon-button>
                                                    <mat-icon (click)="removeAttachment('newLoanAgreement',i)"
                                                        class="remove-icon">clear</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </table>

               </mat-expansion-panel>
            </div>
            <!-- udf -->
            <div class="table-container" style="height: 20rem;">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header style="background-color: whitesmoke;">
                        <mat-panel-title class="header-banner">
                            <b>
                                User Defined Fields
                            </b>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <table>
                        <thead>
                            <tr>
                                <td>User Defined fields</td>
                                <td>:</td>
                                <td>
                                    <mat-select class="min-select" [(ngModel)]="selectedUdfFieldName" style="width: 50rem;" (ngModelChange)="fieldValuechecking();">
                                        <mat-option *ngFor="let udfFieldName of selectedField" [value]="udfFieldName">{{ udfFieldName }}</mat-option>
                                    </mat-select>
                                </td>
                                <td>
                                    <button mat-raised-button (click)="addInputField()" matTooltip="Add Fields" style="background-color:#0e2954;color: white;">
                                    <mat-icon>add</mat-icon></button></td>
                            </tr>
                        </thead>
                    </table>
                    <table>
                        <tr>
                            <div *ngFor="let fieldName of selectedFieldNames;let i=index">
                            <td style="max-width: 20rem; word-wrap: break-word;overflow-wrap: break-word;">
                                {{ fieldName }}</td>
                            <td>:</td>
                            <td>
                                <ng-container [ngSwitch]="getFieldType(fieldName)">
                                    <input *ngSwitchCase="'ALPHA_NUMERIC'" [(ngModel)]="userCustomFields1[i].fieldValue" (ngModelChange)="fieldValuechecking()" type="text" class="udf-input">
                                    <input *ngSwitchCase="'DATE'" [max]="currentDate" [(ngModel)]="userCustomFields1[i].fieldValue" (ngModelChange)="fieldValuechecking()" type="date" class="udf-input">
                                    <input *ngSwitchCase="'NUMERIC'" [(ngModel)]="userCustomFields1[i].fieldValue" (ngModelChange)="fieldValuechecking()" type="number" class="udf-input">
                                    <input *ngSwitchCase="'DATE_TIME'" [(ngModel)]="userCustomFields1[i].fieldValue" (ngModelChange)="fieldValuechecking()" type="datetime-local" class="udf-input">
                                    <input *ngSwitchCase="'DECIMAL'" [(ngModel)]="userCustomFields1[i].fieldValue" (ngModelChange)="fieldValuechecking()" type="number" class="udf-input">
                                </ng-container>
                            </td>
                            <td>
                                <button style="border-radius: 25%;background-color: aliceblue;border: 1px solid rgb(199, 199, 199);" matTooltip="Remove">
                                    <mat-icon (click)="removeInput(i)" style="color: red;">remove</mat-icon>
                                </button>
                            </td>
                        </div>
                        </tr>
                    </table>
               </mat-expansion-panel>
            </div>
        </div>
        <div class="loading-container" *ngIf="loading">
            <mat-progress-spinner color="primary" diameter="20" strokeWidth="2" mode="indeterminate"></mat-progress-spinner>
            <span>Loading... Please wait...</span>
        </div>
        <div class="button-container">
            <span style="color: red;font-weight: bold;margin:2rem;">
                {{errMsg()}}
            </span>
            <button class="clos-submit-btn" style="margin:1rem;" [disabled]="!disable()" mat-raised-button (click)="nexttab()">
                <mat-icon>forward</mat-icon>
                <span>Next</span>
            </button>
            <button  class="clos-submit-btn" style="margin:1rem;" mat-raised-button (click)="previoustab()">
                <mat-icon style="transform: rotate(180deg)">forward</mat-icon>
                <span>Previous</span>
            </button>
        </div>
    </div>
</div>