<div class="main-container">
    <div class="header-container">
        Parameters:
    </div>
    <div class="category-header">
        Add Parameters:
    </div>
    <div>
        <mat-form-field appearance="outline" style="padding-top: 1.5rem;">
            <mat-label>Return Type</mat-label>
            <mat-select>
                <mat-option value="string">String</mat-option>
                <mat-option value="integer">Integer</mat-option>
                <mat-option value="boolean">Boolean</mat-option>
            </mat-select>
        </mat-form-field>
        <div style="padding-top: 2.5rem; float: right;">
            <button mat-stroked-button (click)="addParamFields()">
                <mat-icon>add_circle_outline</mat-icon>
                <span>
                    Add Parameter
                </span>
            </button>
        </div>
    </div>
    <div class="param-container">
        <table style="width: 99%; margin-left: 0px;">
            <tbody>
                <tr>
                    <td colspan="3">
                        <div *ngFor="let element of varParams; let i = index" style="position: relative; margin-bottom: 10px;">
                            <button mat-icon-button color="warn" class="min-button min-add-button" (click)="varParams.splice(i, 1);">
                                <mat-icon style="font-size: 14px;">remove</mat-icon>
                            </button>
                            <table>
                                <tbody>
                                    <tr>
                                        <td><span>{{i+1}}.</span></td>
                                        <td>
                                            <span class="min-label">Parameter Name</span>
                                        </td>
                                        <td>:</td>
                                        <td>
                                            <input [(ngModel)]="varParams[i].parameterName" class="min-input" style="background-color: white;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <span class="min-label">Parameter Type</span>
                                        </td>
                                        <td>:</td>
                                        <td>
                                            <mat-select [(ngModel)]="varParams[i].parameterType" class="min-select" style="background-color: white;">
                                                <mat-option *ngFor="let ptype of params" [value]="ptype">{{ptype.name}}</mat-option>
                                            </mat-select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="varParams.length > 1" style="border-bottom: gainsboro solid 1px; padding-top: 10px; margin-left: 20px;"></div>
                        </div>
                        <div style="height: 26px; position: relative; padding-left: 20px;">
                            <span class="add-items-text">Click the + icon to add items.</span>
                            <button mat-icon-button color="primary" class="min-button min-add-button" (click)="varParams.push({parameterName: '', parameterType: {name : '', type: ''}});">
                                <mat-icon style="font-size: 14px;">add</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close style="color: red;">
        <mat-icon>close</mat-icon>Close
    </button>
    <button mat-raised-button style="color: white;background-color: rgb(43, 42, 42);" (click)="onCreateClick()" cdkFocusInitial>
        <mat-icon>add</mat-icon>Create
    </button>
</mat-dialog-actions>