<div>
    <!-------------------INITIAL CARD------------------------------>
   <div>
       <mat-card>
           <mat-card-content>
               <!-------------LEFT SIDE HEADER-------------------->
               <span>
               <span class="main-header" style="color: blue;">
               <span>C L
                   <span>
                    <i class="fa fa-globe"></i>
                   </span>
                   <span> S</span>
               </span>
               </span>
            </span>
            <!-----------RIGHT SIDE HEADER------------------------>
            <span style="position: absolute;right:5px">
                <span style="margin-right:20px;font-size: 20px;color: blue;margin-top:2px">
                    <span>
                        <i class="fa fa-phone">
                        </i>
                        <span> +654321890</span>
                    </span>
                </span>
            <span style="margin-right: 8px;" (click)="navigateToPage('home')">
                <button mat-flat-button color="primary">
                    <i class="fa fa-arrow-left"></i>
                    <span> BACK</span>
                </button>
            </span>
            </span>
           </mat-card-content>
       </mat-card>
   </div> 
</div>
<!------------------------------------CLOS LIVE DEMO FORM---------------------------------------->
<div style="background-color: #073174;overflow: auto;" [style.height.px]="component_height-90">
<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:8%">
          <div class="main-header">
              <span style="line-height: 1.4;">CORPORATE LOAN ORIGINATION SOLUTION (<span> CL</span><span><i class="fa fa-globe"></i></span><span>S</span>)</span>
          </div>
          <div class="sub-header" style="margin-top: 5%">
              Get Login with <span> CL</span><span><i class="fa fa-globe"></i></span><span>S</span>
          </div>
          <div style="font-size: 17px;font-family: sans-serif;color: white;line-height:1.6;margin-top:5%">
            Corporate Loan Origination enables the end-to-end digitization of loan process and enhances turnaround time, predictability, transparency, and smarter decision-making. Our comprehensive solution provides portfolio management and effective risk assessment while complying with internal and regulatory norms.  
            CLOS provides better solution for loans. It is an end-to-end solution covering Retail and Small Business Products. It comes with workflow, screens and allows foe extensibility and quick time time to market.  
          </div>
         </div>
    <!---------------------LOGIN-CHECK----------------------------------------->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngIf="!loginapp">
          <div style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);margin-top:24%;background-color: white;padding: 10px;margin-bottom: 10px;">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div style="margin-top: 7%;">
                  <div>Enter your Email Id <span style="color:red">*</span></div>
                  <input [(ngModel)]="email" (ngModelChange)="mailValidation(email);" (keyup.backspace)="existingEmail=''" style="margin-top: 4%;"  matInput class="min-select" placeholder="abc@gmail.com" />
              </div>
              <span *ngIf="errMessage" style="font-size: 12px;color: crimson;">{{errMessage}}</span>
              <span *ngIf="existingEmail" style="font-size: 12px;color: crimson;">{{existingEmail}}</span>
              </div>
              </div>
              <!--------------LOGIN----------->
              <div style="margin-top:10%;text-align: center;">
                <button [disabled]="email=='' || errMessage" (click)="validateEmail(email)" style="text-align: center;" mat-flat-button color="primary">
                    <span> SEARCH</span>
                </button>
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngIf="loginapp">
        <div style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);margin-top:24%;background-color: white;padding: 10px;margin-bottom: 10px;">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div style="margin-top: 7%;">
                <div>Your domain Name <span style="color:red">*</span>
                </div>
                <input [(ngModel)]="domainName" style="margin-top: 4%;"  matInput class="min-select" placeholder="abc@gmail.com" />
            </div>
            </div>
            </div>
            <!--------------LOGIN----------->
            <div style="margin-top:10%;text-align: center;">
              <button [disabled]="email==''" (click)="demovideo=true;login()" style="text-align: center;" mat-flat-button color="primary">
                  <span> LOGIN</span>
              </button>
            </div>
          </div>
        </div>
    </div>
    </div>
 </div>
 <!-----------------------------------VALIDATE OTP----------------------------------------------->
 <div *ngIf="otpLogin" style="position: absolute; top:45%; left: 51%;transform: translate(-50%, -50%); z-index: 222222222;background-color: #fff;height:300px;width:450px">
    <div style="text-align: center;margin-top:5%;font-weight: bold;color:blue">
        <span> An OTP has been sent to your registered email</span>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div style="margin-top:24%;background-color: white;padding: 10px;margin-bottom: 10px;">
          <div class="container" style="width:413px">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div style="margin-top: 1%;">
                <div>Validate your OTP <span style="color:red">*</span>
                </div>
                <input #otp1Ref maxlength="1" (input)="otp2Ref.focus()" [(ngModel)]="otp1" style="margin-top: 4%;width: 20%;" matInput class="min-select" />
                <input #otp2Ref maxlength="1" (input)="otp3Ref.focus()" [(ngModel)]="otp2" style="margin-top: 4%;width: 20%;margin-left: 3%;" matInput class="min-select" />
                <input #otp3Ref maxlength="1" (input)="otp4Ref.focus()" [(ngModel)]="otp3" style="margin-top: 4%;width: 20%;margin-left: 3%;" matInput class="min-select" />
                <input #otp4Ref maxlength="1" [(ngModel)]="otp4" style="margin-top: 4%;width: 20%;margin-left: 3%;" matInput class="min-select" />
               </div>
            </div>
            </div>
          </div>
        </div>
    </div>
    <div style="text-align: center;margin-top: 6%;">
        <button mat-flat-button color="primary" [disabled]="!otp1||!otp2||!otp3||!otp4" (click)="loginapp=true;otpLogin=false;validateOTP()">
            <span> VALIDATE</span>
        </button> 
    </div>
 </div>
 <!-----------------------------------DEMO VIDEO CLICK-------------------------------------------->
 <div *ngIf="demovideo" style="position: absolute; top:45%; left: 51%;transform: translate(-50%, -50%); z-index: 222222222;background-color: #fff;height:300px;width:450px">
    <div style="text-align: center;margin-top:5%">
        <img src="assets/ok.png" style="width:24%">
    </div>
    <div class="main-header" style="text-align: center;margin-top:4%;color: blue;">
       <span style="font-size: 14px;">
          Your link to navigate to CLOS
       </span>
       <span style="font-size: 14px;cursor: pointer;" (click)="copyTokenToClipboard()">
           CLOS URL : {{responseUrl}}
       </span>
    </div>
    <div style="text-align: center;margin-top: 6%;">
        <button mat-flat-button color="primary" (click)="demovideo=false;loginapp=false;copyTokenToClipboard()">
            <span> DONE</span>
        </button> 
    </div>
 </div>
 </div>
 <!---------------------------BLUR THE BG WHEN CLICK REQUEST FOR DEMO---------------------------------->
 <div *ngIf="demovideo||otpLogin"
 style="position: fixed; top: -5px; left: 0; height: 100%; width: 100%;background-color: rgba(0,0,0,.47843137254901963);opacity: 0.7;z-index:22"></div>

 <div class="version-info">
    <span class="version-name float-left">Copyright © 2024 FinSurge. All Rights Reserved.</span>
</div>
