<div style="position: sticky;top:0">
    <!-------------------INITIAL CARD------------------------------>
   <div>
       <mat-card>
           <mat-card-content>
               <!-------------LEFT SIDE HEADER-------------------->
               <span>
               <span class="main-header" style="color: blue;">
                <a style="text-decoration: none;color: blue;" routerLink="/home">
               <span>C L
                   <span>
                    <i class="fa fa-globe"></i>
                   </span>
                   <span> S</span>
               </span>
               </a>
               </span>
            </span>
            <!-----------RIGHT SIDE HEADER------------------------>
            <span style="position: absolute;right:5px">
                <span style="margin-right:20px;font-size: 20px;color: blue;margin-top:2px">
                    <a style="text-decoration: none;color: blue;" routerLink="/users">
                        <span>Admin</span>
                    </a>
                </span>
            </span>
           </mat-card-content>
       </mat-card>
   </div> 
  </div>
  <!--CLOS DEFINITION-->
<div [style.height.px]="component_height-62">
  <div class="container-fluid" style="height: 100%;background-color: #073174;">
    <div class="row" style="padding: 30px;background-color: #073174;">
        <div class="col-lg-7 col-md-12 col-sm-12" style="padding: 20px;">
            <div style="margin: 30px 0px;">
                <h1 class="title">CLOS</h1>
                <p style="font-size: 18px;line-height: 28px;font-weight: 400;color: white">Corporate Loan Origination enables the end-to-end digitization of loan process and enhances turnaround time, predictability, transparency, and smarter decision-making. Our comprehensive solution provides portfolio management and effective risk assessment while complying with internal and regulatory norms. Corporate loan organizations play a crucial role in facilitating financial transactions for businesses, providing vital capital for growth, expansion, and operational needs. However, managing corporate loans efficiently involves complex processes, from origination to servicing and monitoring. In this article, we delve into innovative solutions designed to streamline operations and enhance efficiency within corporate loan organizations.</p>
            </div>
            <div style="margin: 30px 0px;">
                <h1 class="sub-title">ADVANTAGES OF USING CLOS</h1>
                
                    <ul class="list">
                        <li>
                            Digital Origination Platforms
                        </li>
                        <li>
                            Blockchain for Secure Transactions
                        </li>
                        <li>
                            Predictive Analytics for Risk Management
                        </li>
                        <li>
                            Cloud-Based Loan Servicing Platforms
                        </li>
                        <li>
                            Collaborative Ecosystems and Open Banking
                        </li>
                    </ul>
                
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div style="padding: 20px;">
                <img class="img-fluid" src="/assets/Clos-main.png">
            </div>
            <div style="height: 50px;"></div>
            <div style="margin-bottom: 30px;">
                <img class="img-fluid" src="/assets/clos-process.png">
            </div>
        </div>
    </div>
 </div>
</div>
  <div class="footer">Copyright © 2024 FinSurge. All Rights Reserved.</div>