<section class="home-container" style="background-image: url(assets/Home_Cover.jpg);overflow-y: hidden;">
    <div class="dashboard-bg">
        <p style="letter-spacing: 2px" >Corporate Origination System</p>
        <span style="font-size:20px;letter-spacing: 3px;" >Dashboard Main Screen</span>
    </div>
    <div class="card-container pt-5" style="margin-top: 18rem;">
        <div class="row-container">
            <div class="col-lg-3">
                <div style="background-color:#0d203e" class="card-grid" [routerLink]="['/application-entry/application-details']">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body">
                                    <h3 style="font-variant:all-small-caps;letter-spacing: 4px;font-size: 32px;color:  #fff;">
                                        Application Entry
                                    </h3>
                                    <span style="font-variant:petite-caps;font-size: large;letter-spacing: 1px;color: #fff">
                                        Application Data Entry
                                    </span>
                                </div>
                                <div class="align-self-center">
                                    <span style="color: #2196f3; font-size:5rem;"><mat-icon>assignment</mat-icon></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div style="background-color:#0d203e;margin-left:20px" class="card-grid" [routerLink]="['/flows']">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body">
                                    <h3 style="font-variant:all-small-caps;letter-spacing: 4px;font-size: 32px;color: #fff ;">
                                        Flow
                                    </h3>
                                    <span style="font-variant:petite-caps;font-size: large;letter-spacing: 1px;color: #fff">
                                        Data Flow Manager
                                    </span>
                                </div>
                                <div class="align-self-center">
                                    <span style="color: #2196f3; font-size:8rem;position: absolute;top:10px;right:10px">
                                        <mat-icon>account_tree</mat-icon>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div style="background-color:#0d203e;margin-left:40px" class="card-grid" [routerLink]="['/desicion-engine']">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body">
                                    <h3 style="font-variant:all-small-caps;letter-spacing: 4px;font-size: 32px;color: #fff ;">
                                        Decision
                                    </h3>
                                    <span style="font-variant:petite-caps;font-size: large;letter-spacing: 1px;color: #fff">
                                        Decision Engine
                                    </span>
                                </div>
                                <div class="align-self-center">
                                    <span style="color: #2196f3; font-size:8rem;position: absolute;top:10px;right:10px">
                                        <mat-icon>directions_alt</mat-icon>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div style="background-color:#0d203e;margin-left:60px" class="card-grid" [routerLink]="['/loan-case-manager']">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body">
                                    <h3 style="font-variant:all-small-caps;letter-spacing: 4px;font-size: 32px;color: #fff ;">
                                        Manage
                                    </h3>
                                    <span style="font-variant:petite-caps;font-size: large;letter-spacing: 1px;color: #fff">
                                        Case Manager
                                    </span>
                                </div>
                                <div class="align-self-center">
                                    <span style="color: #2196f3; font-size:8rem;position: absolute;top:10px;right:10px">
                                        <mat-icon>cases</mat-icon>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-container" style="margin-top:2%">
            <div class="col-lg-3">
                <div style="background-color:#0d203e;" class="card-grid" [routerLink]="['/loan-application-matching']">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body">
                                    <h3 style="font-variant:all-small-caps;letter-spacing: 4px;font-size: 32px;color: #fff ;">
                                        Configurations
                                    </h3>
                                    <span style="font-variant:petite-caps;font-size: large;letter-spacing: 1px;color: #fff">
                                        Configuration Manager
                                    </span>
                                </div>
                                <div class="align-self-center">
                                    <span style="color: #2196f3; font-size:8rem;position: absolute;top:10px;right:10px">
                                        <mat-icon>join_inner</mat-icon>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div style="background-color:#0d203e;margin-left:20px" class="card-grid" [routerLink]="['/reports']">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body">
                                    <h3 style="font-variant:all-small-caps;letter-spacing: 4px;font-size: 32px;color: #fff ;">
                                        Reports
                                    </h3>
                                    <span style="font-variant:petite-caps;font-size: large;letter-spacing: 1px;color: #fff">
                                        Generate Reports
                                    </span>
                                </div>
                                <div class="align-self-center">
                                    <span style="color: #2196f3; font-size:8rem;position: absolute;top:10px;right:10px">
                                        <mat-icon>assignment</mat-icon>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div style="background-color:#0d203e;margin-left: 40px;" class="card-grid" [routerLink]="['/dynamic/dynamic/landingPage']">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body">
                                    <h3 style="font-variant:all-small-caps;letter-spacing: 4px;font-size: 32px;color: #fff ;">
                                        BI Tools
                                    </h3>
                                    <span style="font-variant:petite-caps;font-size: large;letter-spacing: 1px;color: #fff">
                                        Dashboard
                                    </span>
                                </div>
                                <div class="align-self-center">
                                    <span style="color: #2196f3; font-size:8rem;position: absolute;top:10px;right:10px">
                                        <mat-icon>dashboard_customize</mat-icon>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div style="background-color:#0d203e;margin-left: 60px;" class="card-grid" [routerLink]="['/users']">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body">
                                    <h3 style="font-variant:all-small-caps;letter-spacing: 4px;font-size: 32px;color: #fff ;">
                                        Admin
                                    </h3>
                                    <span style="font-variant:petite-caps;font-size: large;letter-spacing: 1px;color: #fff">
                                        Administrator
                                    </span>
                                </div>
                                <div class="align-self-center">
                                    <span style="color: #2196f3; font-size:8rem;position: absolute;top:10px;right:10px">
                                        <mat-icon>admin_panel_settings</mat-icon>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>