<div class="header1">
    <h2 mat-dialog-title>Are sure to split node</h2>
    <hr>
</div>
<div class="header2">
    <div class="header-1">
        <h3>This Operations will remove previously applied Assignment</h3>
    </div>

</div>

<div class="header4">
    <div mat-dialog-actions style="margin-top:10px" align="end">
        <button mat-stroked-button mat-dialog-close style="color: red;">Close</button>
        <button mat-raised-button (click)="acceptCondition()" style="background-color: black; color: white;">Remove</button>
    </div>
</div>