<div>
    <!-------------------INITIAL CARD------------------------------>
   <div>
       <mat-card>
           <mat-card-content>
               <!-------------LEFT SIDE HEADER-------------------->
               <span>
               <span class="main-header" style="color: blue;">
               <span>C L
                   <span>
                    <i class="fa fa-globe"></i>
                   </span>
                   <span> S</span>
               </span>
               </span>
            </span>
            <!-----------RIGHT SIDE HEADER------------------------>
            <span style="position: absolute;right:5px">
                <span style="margin-right:20px;font-size: 20px;color: blue;margin-top:2px">
                    <span>
                        <i class="fa fa-phone">
                        </i>
                        <span> +654321890</span>
                    </span>
                </span>
            <span style="margin-right: 8px;" routerLink="/home">
                <button mat-flat-button color="primary">
                    <i class="fa fa-arrow-left"></i>
                    <span> BACK</span>
                </button>
            </span>
            </span>
           </mat-card-content>
       </mat-card>
   </div> 
</div>
<!------------------------------------CLOS LIVE DEMO FORM---------------------------------------->
<div style="background-color: #073174;height:89.6%;">
<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:8%">
          <div class="main-header">
              <span style="line-height: 1.4;">CORPORATE LOAN ORIGINATION SOLUTION (<span> CL</span><span><i class="fa fa-globe"></i></span><span>S</span>)</span>
          </div>
          <div class="sub-header" style="margin-top: 5%">
              Get a Sign Up with <span> CL</span><span><i class="fa fa-globe"></i></span><span>S</span>
          </div>
          <div style="font-size: 17px;font-family: sans-serif;color: white;line-height:1.6;margin-top:5%">
            Corporate Loan Origination enables the end-to-end digitization of loan process and enhances turnaround time, predictability, transparency, and smarter decision-making. Our comprehensive solution provides portfolio management and effective risk assessment while complying with internal and regulatory norms.  
            CLOS provides better solution for loans. It is an end-to-end solution covering Retail and Small Business Products. It comes with workflow, screens and allows foe extensibility and quick time time to market.  
          </div>
         </div>
    <!---------------------REQUEST FOR DEMO----------------------------------------->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:-6%">
          <div style="height:775px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);margin-top:14%;background-color: white;overflow-y: scroll;overflow-x: hidden;">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div style="margin-top: 10%;">
                  <div>First Name <span style="color:red">*</span></div>
                  <input [(ngModel)]="firstname"  matInput class="min-select" placeholder="First Name" />
              </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div style="margin-top: 10%;">
                    <div>Last Name <span style="color:red">*</span></div>
                    <input [(ngModel)]="lastname" matInput class="min-select" placeholder="Last Name">
                </div>
                </div>
              </div>
              <!-------------EMAIL AND PHN------------->
              <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div style="margin-top: 10%;">
                    <div>Email <span style="color:red">*</span></div>
                    <input [(ngModel)]="email" matInput class="min-select" placeholder="abc@gmail.com">
                </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div style="margin-top: 10%;">
                      <div>Phone <span style="color:red">*</span></div>
                      <input [(ngModel)]="phn" matInput class="min-select" placeholder="9876543210">
                  </div>
                  </div>
                </div>
              <!-------------COMPANY NAME-------------->
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="margin-top: 4%;">
                        <div>Company Name <span style="color:red">*</span></div>
                        <input [(ngModel)]="companyname" matInput class="min-select" style="width:38rem" placeholder="ABC INFOTECH PVT LTD">
                    </div>
                  </div>
              </div>
              <!--------------DOMAIN NAME------------------->
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div style="margin-top: 4%;">
                      <div>Domain Name <span style="color:red">*</span></div>
                      <input [(ngModel)]="domainName" matInput class="min-select" style="width:35rem" placeholder="DOMAIN NAME">
                      <span style="font-family: sans-serif;font-weight: 400;"> .clos</span>
                  </div>
                </div>
            </div>
              <!-------------POSITION AND ROLE-------------->
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div style="margin-top: 10%;">
                        <div>Position <span style="color:red">*</span></div>
                        <input [(ngModel)]="position" matInput class="min-select" placeholder="Mananger">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div style="margin-top: 10%;">
                        <div>Role <span style="color:red">*</span></div>
                        <input [(ngModel)]="role" matInput class="min-select" placeholder="Senior Manager">
                    </div>
                    </div>
              </div> 
              <!--------------COUNTRY NAME-------------->
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div style="margin-top: 4%;">
                      <div>Country Name <span style="color:red">*</span></div>
                      <div class="row">
                          <div class="col-lg-10">
                            <mat-select class="min-select" [(ngModel)]="countryName" style="width:38rem" placeholder="INDIA">
                                <mat-option *ngFor="let country of countries" [value]="country" style="background-color: white; color: black">{{ country }}</mat-option>
                            </mat-select> 
                          </div>
                      </div>
                     
                      </div>
                </div>
            </div>
            <!----------------UPLOAD DOCX---------------->
            <div class="row">
                <div>
                    <span>
                        <button mat-icon-button *ngIf="onefileuploaded" (click)="addNewCompany()" [matTooltip]="'add document'" style="color: blue;float:right">
                            <mat-icon>add</mat-icon>
                        </button>
                    </span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:100px;overflow-y:auto;margin-top:-6px">
                    <div *ngFor="let company of companies; let i = index">
                        <div style="position: relative;">
                            <input [(ngModel)]="companies[i]" matInput class="min-select" style="width:38rem" placeholder="ID PROOF">
                            <label for="fileInput">
                                <button mat-icon-button class="attach-icon" [matTooltip]="'Attach document'" (click)="triggerFileInputClick()">
                                    <mat-icon>attach_file</mat-icon>
                                </button>
                            </label>
                            <button mat-icon-button class="cancel-icon1" [matTooltip]="'Remove document'" (click)="removeCompany(i)">
                                <mat-icon>remove</mat-icon>
                            </button>
                            <input type="file" #fileInput style="display: none;" (change)="handleFileInput($event, i)">
                        </div>                        
                    </div>
                </div>                
            </div>            
              <!--------------REQUEST FOR DEMO----------->
              <div style="margin-top:-4%;text-align: center;">
                <button (click)="demovideo=true;signup()" style="text-align: center;" mat-flat-button color="primary">
                    <span> SIGN UP</span>
                </button>
              </div>
            </div>
          </div>
      </div>
    </div>
 </div>
 <!-----------------------------------DEMO VIDEO CLICK-------------------------------------------->
 <div *ngIf="demovideo" style="position: absolute; top:45%; left: 51%;transform: translate(-50%, -50%); z-index: 222222222;background-color: #fff;height:250px;width:385px;border-radius: 10px;padding: 15px;">
    <div style="text-align: center;margin-top:5%">
        <img src="assets/ok.png" style="width:24%">
    </div>
    <div class="main-header" style="text-align: center;margin-top:4%;color:blue">
       <span style="font-size: 14px;font-weight: lighter;margin-bottom: 10px;line-height: 23px;">
          You have successfully signed up
       </span>
       <br>
    </div>
    <div style="text-align: center;margin-top: 6%;">
        <button mat-flat-button color="primary" (click)="demovideo=false;done();copyTokenToClipboard()">
            <span> DONE</span>
        </button> 
    </div>
 </div>
 </div>
 <!---------------------------BLUR THE BG WHEN CLICK REQUEST FOR DEMO---------------------------------->
 <div *ngIf="demovideo"
 style="position: fixed; top: -5px; left: 0; height: 100%; width: 100%;background-color: rgba(0,0,0,.47843137254901963);opacity: 0.7;z-index:22"></div>

 <div class="version-info">
    <span class="version-name float-left" style="margin-left: 44%">Copyright © 2024 FinSurge. All Rights Reserved.</span>
</div>
