<div *ngIf="config" style="font-size: 14px; overflow: hidden;">
    <div class="category-header">
        GENERAL
    </div>
    <div class="category-sub-header">
        CONNECTION:
    </div>
    <table *ngIf="config.connection">
        <tbody>
            <tr>
                <td>
                    <span class="min-label">Preset</span>
                </td>
                <td>:</td>
                <td>
                    <mat-select [(ngModel)]="config.connection.mqConfig" class="min-select">
                        <mat-option [value]="''">None / Manual Input</mat-option>
                        <mat-option *ngFor="let cfg of mqConfigs" [value]="cfg">{{cfg.toUpperCase()}}</mat-option>
                    </mat-select>
                </td>
            </tr>
            <ng-container *ngIf="config.connection.mqConfig == undefined || config.connection.mqConfig == null || config.connection.mqConfig.trim() == ''">
                <tr>
                    <td>
                        <span class="min-label left-pad-20">URL Prefix</span>
                    </td>
                    <td>:</td>
                    <td>
                        <input [(ngModel)]="config.connection.mqUrlPrefix" class="min-input">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="min-label left-pad-20">Host</span>
                    </td>
                    <td>:</td>
                    <td>
                        <input [(ngModel)]="config.connection.mqHost" class="min-input">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="min-label left-pad-20">Port</span>
                    </td>
                    <td>:</td>
                    <td>
                        <input [(ngModel)]="config.connection.mqPort" class="min-input">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="min-label left-pad-20">Queue Name</span>
                    </td>
                    <td>:</td>
                    <td>
                        <input [(ngModel)]="config.connection.mqQueueName" class="min-input">
                    </td>
                </tr>
            </ng-container>
            <tr>
                <td>
                    <span class="min-label">Requires Authentication</span>
                </td>
                <td>:</td>
                <td>
                    <input type="checkbox" name="requireAuthentication"
                        [(ngModel)]="config.connection.requireAuthentication" style="margin-top: 7px;">
                </td>
            </tr>
            <tr *ngIf="config.connection.requireAuthentication">
                <td>
                    <span class="min-label left-pad-20">User ID</span>
                </td>
                <td>:</td>
                <td>
                    <input [(ngModel)]="config.connection.mqUserid" class="min-input">
                </td>
            </tr>
            <tr *ngIf="config.connection.requireAuthentication">
                <td>
                    <span class="min-label left-pad-20">Password</span>
                </td>
                <td>:</td>
                <td>
                    <input [(ngModel)]="config.connection.mqPassword" class="min-input" type="password">
                </td>
            </tr>
        </tbody>
    </table>
    <div class="category-sub-header">
        MESSAGE DATA:
    </div>
    <table *ngIf="config.message">
        <tbody>
            <tr>
                <td>
                    <span class="min-label">Contains Field Headers</span>
                </td>
                <td>:</td>
                <td>
                    <input type="checkbox" name="containsFieldHeaders" [(ngModel)]="config.message.tabularData.containsFieldHeaders"
                        style="margin-top: 7px;">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="min-label">Field Structure</span>
                </td>
                <td>:</td>
                <td>
                    <mat-select [(ngModel)]="config.message.tabularData.fieldStructure" class="min-select">
                        <mat-option [value]="'DELIMITED'">Delimited</mat-option>
                        <mat-option [value]="'FIXED_WIDTH'">Fixed Width</mat-option>
                        <mat-option [value]="'XML_PATHS'">XML Paths</mat-option>
                    </mat-select>
                </td>
            </tr>
            <ng-container *ngIf="config.message.tabularData.fieldStructure=='DELIMITED'">
                <tr>
                    <td>
                        <span class="min-label">Delimiter</span>
                    </td>
                    <td>:</td>
                    <td>
                        <input [(ngModel)]="config.message.tabularData.fieldDelimiter" class="min-input">
                    </td>
                </tr>
            </ng-container>
            <ng-container *ngIf="config.message.tabularData.fieldStructure=='FIXED_WIDTH'">
                <tr>
                    <td>
                        <span class="min-label">Field Lengths</span>
                    </td>
                    <td>:</td>
                    <td>
                        <div style="position: relative;">
                            <span *ngIf="config.message.tabularData.fieldLengths.length == 0"
                                class="add-items-text">Click the + icon to add items.</span>
                            <input
                                *ngFor="let element of config.message.tabularData.fieldLengths; let index = index; trackBy: trackByIndex;"
                                [(ngModel)]="config.message.tabularData.fieldLengths[index]" class="min-input"
                                style="width: 50px; margin-right: 1px;" type="number" min="1">
                            <button mat-icon-button color="primary" class="min-button min-add-button"
                                (click)="config.message.tabularData.fieldLengths.push(1);">
                                <mat-icon style="font-size: 14px;">add</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="min-label">Field Indexes</span>
                    </td>
                    <td>:</td>
                    <td>
                        <div style="position: relative;">
                            <span *ngIf="config.message.tabularData.fieldIndexes.length == 0"
                                class="add-items-text">Click the + icon to add items.</span>
                            <input
                                *ngFor="let element of config.message.tabularData.fieldIndexes; let index = index; trackBy: trackByIndex;"
                                [(ngModel)]="config.message.tabularData.fieldIndexes[index]" class="min-input"
                                style="width: 50px; margin-right: 1px;" type="number" min="0">
                            <button mat-icon-button color="primary" class="min-button min-add-button"
                                (click)="config.message.tabularData.fieldIndexes.push(0);">
                                <mat-icon style="font-size: 14px;">add</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <div class="category-sub-header">
        FIELD DEFINITIONS:
    </div>
    <table style="width: calc(100% - 20px);">
        <tbody>
            <tr>
                <td colspan="3">
                    <div *ngFor="let element of config.message.tabularData.fields; let i = index"
                        style="position: relative; margin-bottom: 10px;">
                        <button mat-icon-button color="warn" class="min-button min-add-button"
                            (click)="config.message.tabularData.fields.splice(i, 1);">
                            <mat-icon style="font-size: 14px;">remove</mat-icon>
                        </button>
                        <table style="width: calc(100% - 50px);">
                            <tbody>
                                <tr>
                                    <td><span>{{i+1}}.</span></td>
                                    <td>
                                        <span class="min-label">Field Name</span>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <input [(ngModel)]="config.message.tabularData.fields[i].name"
                                            class="min-input">
                                    </td>
                                </tr>
                                <tr *ngIf="config.message.tabularData.fieldStructure=='XML_PATHS'">
                                    <td></td>
                                    <td>
                                        <span class="min-label">xPath</span>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <input [(ngModel)]="config.message.tabularData.fields[i].xPath"
                                            class="min-input" required>
                                    </td>
                                </tr>
                                <tr *ngIf="config.message.tabularData.fieldStructure=='XML_PATHS'">
                                    <td></td>
                                    <td>
                                        <span class="min-label">Substitute Value</span>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <input [(ngModel)]="config.message.tabularData.fields[i].xPathSubstitute"
                                            class="min-input" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <span class="min-label">Read As Type</span>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <input [(ngModel)]="config.message.tabularData.fields[i].readAs"
                                            class="min-input" style="width: 50%;">
                                            <span class="min-label">Remove Double Quotes:</span>
                                        <input type="checkbox" [(ngModel)]="config.message.tabularData.fields[i].removeDoubleQuotes"
                                            style="margin-top: 7px;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="config.message.tabularData.fields.length > 1"
                            style="border-bottom: gainsboro solid 1px; padding-top: 10px; margin-left: 20px;"></div>
                    </div>
                    <div style="height: 26px; position: relative; padding-left: 20px; margin-bottom: 10px;">
                        <span class="add-items-text">Click the + icon to add items.</span>
                        <button mat-icon-button color="primary" class="min-button min-add-button"
                            (click)="config.message.tabularData.fields.push({name: '', xPath: '',xPathSubstitute:'',readAs: 'string', removeDoubleQuotes: true});">
                            <mat-icon style="font-size: 14px;">add</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="category-sub-header">
                        SEARCH KEY FIELDS:
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <span class="min-label">Key Fields</span>
                </td>
                <td valign="top">:</td>
                <td>
                    <div>
                        <div *ngFor="let element of config.message.tabularData.keyFields; let index = index; trackBy: trackByIndex;"
                            style="margin-bottom: 1px; position: relative;">
                            <mat-select [(ngModel)]="config.message.tabularData.keyFields[index]" class="min-select" style="width: calc(100% - 30px);">
                                <mat-option *ngFor="let fld of config.message.tabularData.fields" [value]="fld.name">{{fld.name}}</mat-option>
                            </mat-select>
                            <!-- <input [(ngModel)]="config.message.tabularData.keyFields[index]" class="min-input"
                                type="text"> -->
                            <button mat-icon-button color="warn" class="min-button min-add-button"
                                (click)="config.message.tabularData.keyFields.splice(index, 1);">
                                <mat-icon style="font-size: 14px;">remove</mat-icon>
                            </button>
                        </div>
                        <div style="height: 26px; position: relative;">
                            <span class="add-items-text">Click the + icon to add items.</span>
                            <button mat-icon-button color="primary" class="min-button min-add-button"
                                (click)="config.message.tabularData.keyFields.push('');">
                                <mat-icon style="font-size: 14px;">add</mat-icon>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="category-header">
        ADVANCED
    </div>
    <table>
        <tbody>
            <tr>
                <td>
                    <span class="min-label">Multithreading</span>
                </td>
                <td>:</td>
                <td>
                    <input type="checkbox" name="multiThread" [(ngModel)]="config.task.multiThread"
                        style="margin-top: 7px;">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="min-label">Insert Batch Size</span>
                </td>
                <td>:</td>
                <td>
                    <input [(ngModel)]="config.task.insertBatchSize" class="min-input" type="number" min="0">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="min-label">Audit Read Data</span>
                </td>
                <td>:</td>
                <td>
                    <input type="checkbox" name="retainReadData" [(ngModel)]="config.task.retainReadData"
                        style="margin-top: 7px;">
                </td>
            </tr>
        </tbody>
    </table>
    <div style="position: relative; height: 50px;">
        <button mat-button (click)="debug()"
            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <mat-icon>bug_report</mat-icon>
            <span style="padding-left: 10px;">Print Config To Console</span>
        </button>
    </div>
</div>