<div class="registration-container">
    <div class="tabs">
        <div class="tab selected">
            <mat-icon class="tab-icon">how_to_reg</mat-icon><span style="font-weight: bold;">Groups</span>
        </div>
    </div>
    <div class="tab-content">
        <div class="new-user">New Group</div>
        <div class="divider"></div>
        <div class="created-date">Created on 24-08-2023</div>
    </div>
    <div class="registration-form">
        <div class="form-field ml-5">
            <label for="firstname">Name <span class="required-symbol">*</span></label>
            <span class="colon">:</span>
            <input type="text" id="firstname" required>
        </div>
        <div class="form-field ml-5">
            <label for="lastname">Description<span class="required-symbol">*</span></label>
            <span class="colon">:</span>
            <input type="text" id="lastname" required>
        </div>
    </div>
    <div class="save-button">
        <button><mat-icon>save</mat-icon>Save Group</button>
    </div>