<div>
    <!-------------------INITIAL CARD------------------------------>
   <div>
       <mat-card>
           <mat-card-content>
               <!-------------LEFT SIDE HEADER-------------------->
               <span>
               <span class="main-header" style="color: blue;">
               <span>C L
                   <span>
                    <i class="fa fa-globe"></i>
                   </span>
                   <span> S</span>
               </span>
               </span>
            </span>
            <!-----------RIGHT SIDE HEADER------------------------>
            <span style="position: absolute;right:5px">
                <span style="margin-right:20px;font-size: 20px;color: blue;margin-top:2px">
                    <span style="margin-right: 20px;">
                        <i class="fa fa-envelope">
                        </i>
                        <span> {{contactMail}}</span>
                    </span>
                    <span>
                        <i class="fa fa-phone">
                        </i>
                        <span> {{contactNo}}</span>
                    </span>
                </span>
            <span style="margin-right: 8px;" (click)="navigateToPage('home')">
                <button mat-flat-button color="primary">
                    <i class="fa fa-arrow-left"></i>
                    <span> BACK</span>
                </button>
            </span>
            </span>
           </mat-card-content>
       </mat-card>
   </div> 
</div>
<!------------------------------------CLOS LIVE DEMO FORM---------------------------------------->
<div style="background-color: #073174;overflow: auto;" [style.height.px]="component_height - 140">
<div class="container">
    <div class="row" style="margin-top:2%">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:8%">
          <div class="main-header">
              <span style="line-height: 1.4;">CORPORATE LOAN ORIGINATION SOLUTION (<span> CL</span><span><i class="fa fa-globe"></i></span><span>S</span>)</span>
          </div>
          <div class="sub-header" style="margin-top: 5%">
              Get a Sign Up with <span> CL</span><span><i class="fa fa-globe"></i></span><span>S</span>
          </div>
          <div style="font-size: 17px;font-family: sans-serif;color: white;line-height:1.6;margin-top:5%">
            Corporate Loan Origination enables the end-to-end digitization of loan process and enhances turnaround time, predictability, transparency, and smarter decision-making. Our comprehensive solution provides portfolio management and effective risk assessment while complying with internal and regulatory norms.  
            CLOS provides better solution for loans. It is an end-to-end solution covering Retail and Small Business Products. It comes with workflow, screens and allows foe extensibility and quick time time to market.  
          </div>
         </div>
    <!---------------------REQUEST FOR DEMO----------------------------------------->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);margin-top:1%;background-color: white;padding: 10px;margin-bottom: 10px;">
          <div class="container">
            <div class="row" style="margin-top:2%">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div>
                      <div style="margin-left:-16px">User Name <span style="color:red">*</span></div>
                      <input style="margin-left:-16px;width:52rem" [(ngModel)]="firstname" matInput class="min-select" placeholder="USER NAME">
                  </div>
                </div>
            </div>
            </div>
            <!-------------EMAIL AND PHN------------->
            <div class="row" style="margin-top: 2%;">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div style="margin-top: 1%;">
                  <div>Email <span style="color:red">*</span></div>
                  <input [(ngModel)]="email" (ngModelChange)="mailValidation(email);getMyEmailValidation($event,email)"  matInput class="min-select" placeholder="abc@gmail.com">
              </div>
              <span *ngIf="errMessage" style="font-size: 12px;color:crimson;">{{errMessage}}</span>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div style="margin-top: 1%;">
                    <div>Phone <span style="color:red">*</span></div>
                    <input [(ngModel)]="phn" (ngModelChange)="numberValidation(phn)" matInput class="min-select" placeholder="9876543210">
                </div>
                <span *ngIf="errMessageForNumbers" style="font-size: 12px;color:crimson;">{{errMessageForNumbers}}</span>
                </div>
              </div>
            <!-------------COMPANY NAME-------------->
            <div class="row" style="margin-top:2%">
                <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                  <div style="margin-top: 1%;">
                      <div>Company Name <span style="color:red">*</span></div>
                      <input [(ngModel)]="companyname" (ngModelChange)="getMyValidation($event,'orgName',companyname)" (keyup.backspace)="companyname==''" matInput class="min-select" placeholder="ABC INFOTECH PVT LTD">
                  </div>
                  <span *ngIf="orgValidation && companyname!==''" style="font-size: 12px;" [style.color]="isResponse==true?'green':'crimson'">{{orgValidation}}</span>
                </div>
            </div>
            <!-------------DOMAIN NAME--------------->
            <div class="row" style="margin-top:2%">
                <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                  <div style="margin-top: 1%;">
                      <div>Domain Name <span style="color:red">*</span></div>
                      <input [(ngModel)]="domainName" (ngModelChange)="getMyDomainValidation($event,'domain',domainName)" (keyup.backspace)="domainName==''" matInput class="min-select" placeholder="domain.finsurge.tech">
                  </div>
                  <span *ngIf="domainValidation && domainName!==''" style="font-size: 12px;" [style.color]="isResponse==true?'green':'crimson'">{{domainValidation}}</span>
                </div>
            </div>
            <!-------------PASSWORD---------------------->
            <div class="row" style="margin-top:2%">
                <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                  <div style="margin-top: 1%;">
                      <div>Password <span style="color:red">*</span></div>
                      <input [(ngModel)]="password" matInput class="min-select" placeholder="password" [type]="hide ? 'password' : 'text'" id="password">
                      <mat-icon style="position: absolute;left:90%;top:62%;cursor: pointer;" class="icon show-password" (click)="myFunction()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>          
                  </div>
                </div>
            </div>
            <!-------------POSITION AND ROLE-------------->
            <div class="row" style="margin-top:2%">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div style="margin-top: 1%;">
                      <div>Position <span style="color:red">*</span></div>
                      <input [(ngModel)]="position" type="text" matInput class="min-select" placeholder="Dev">
                  </div>
              </div>  
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div style="margin-top: 1%;">
                    <div>Role <span style="color:red">*</span></div>
                    <input [(ngModel)]="role" type="text" matInput class="min-select" placeholder="Junior Dev">
                </div>
            </div>                
            </div> 
            <!------------COUNTRY NAME------------------->
            <div class="row" style="margin-top:2%">
                <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                  <div style="margin-top: 1%;">
                      <div>Country <span style="color:red">*</span></div>
                      <div class="row">
                        <div class="col-lg-12">
                          <mat-select class="min-select" [(ngModel)]="countryName" (ngModelChange)="getMandatoryDocumentsBasedOnCountry()" placeholder="INDIA" style="margin-top: 2%;">
                              <mat-option *ngFor="let country of countriesList" [value]="country" style="background-color: white; color: black">{{ country }}</mat-option>
                          </mat-select> 
                        </div>
                    </div>
                  </div>
                </div>
            </div>                  
            <!--------------REQUEST FOR DEMO----------->
            <div style="margin-top:1%;text-align: center;">
              <button   (click)="addDocx=true;" style="text-align: center;" mat-flat-button color="primary">
                  <span> ADD DOCUMENTS</span>
              </button>
            </div>
          </div>
        </div>
    </div>
 </div>
 <!-----------------------------------DEMO VIDEO CLICK-------------------------------------------->
 <div *ngIf="demovideo" style="position: absolute; top:45%; left: 51%;transform: translate(-50%, -50%); z-index: 222222222;background-color: #fff;height:250px;width:385px;border-radius: 10px;padding: 15px;">
    <div style="text-align: center;margin-top:5%">
        <img src="assets/ok.png" style="width:24%">
    </div>
    <div class="main-header" style="text-align: center;margin-top:4%;color:blue">
       <span style="font-size: 14px;font-weight: lighter;margin-bottom: 10px;line-height: 23px;">
        Welcome aboard! Enjoy using CLOS!!
        <br>
        Next you will be redirected to Payments/Get Free Trial
       </span>
       <br>
    </div>
    <div style="text-align: center;margin-top: 6%;">
        <button mat-flat-button color="primary" (click)="demovideo=false;done();copyTokenToClipboard();navigateToPage('pricing')">
            <span> DONE</span>
        </button> 
    </div>
 </div>
 </div>
 <!----------------------------UPLOAD DOCX -------------------------------------------------------->
 <div class="popup" *ngIf="addDocx">
    <div class="title-bar">
        <span style="margin-right: auto;">Mandatory Documents</span>
        <mat-icon (click)="addDocx = false;" style="cursor: pointer;">close</mat-icon>
    </div>
 <div style="margin-top:2%">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:335px;overflow-y:auto;margin-top:-6px">
        <div *ngFor="let company of companies; let i = index">
            <div (ngSubmit)="uploadDocument()">
                <div style="display: flex; align-items: center;">
                    <div class="col-lg-4" style="padding-right: 0px; padding-left: 0px;">
                        <input class="min-select" placeholder="Description" [(ngModel)]="description[i]" [disabled]="description[i] !== '' && description[i] !== null" style="height: 51px; margin-top: 12px;">   
                      </div>                      
                    <div class="col-lg-6">
                    <input accept=".jpg,.jpeg,.pdf" type="file" class="min-select" multiple (change)="onFileSelected($event,i)" #fileInput (change)="checkFileSize($event)">
                    </div>
                    <div class="col-lg-1">
                        <button mat-icon-button *ngIf="allDocumentsUploaded() && !anyMandatoryDocumentNotUploaded()" (click)="addFileInput()" matTooltip="Add Document">
                               <mat-icon>add</mat-icon>
                        </button>      
                    </div>
                    <div class="col-lg-1">
                    <button mat-icon-button *ngIf="!isMandatory(i)" (click)="removeDocument(i)" style="color: red" [matTooltip]="'remove document'">
                        <mat-icon *ngIf="i!==0">remove_circle</mat-icon>
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>            
</div>   
<div style="margin-top:5%;text-align: center;">
    <button (click)="signup()" style="text-align: center;"  [disabled]="!allDocumentsUploaded() || anyMandatoryDocumentNotUploaded()" mat-flat-button color="primary">
        <span> SIGN UP</span>
    </button>
  </div>    
</div>
 <!---------------------------EMAIL VALIDATION POPUP----------------------------------------------------->
 <div *ngIf="emailIdValidation" style="position: absolute; top:45%; left: 51%;transform: translate(-50%, -50%); z-index: 222222222;background-color: #fff;height:450px;width:450px">
    <div style="text-align: center;margin-top:5%">
        <img src="assets/ok.png" style="width:24%">
    </div>
    <div class="main-header" style="text-align: center;margin-top:4%;color: blue;" *ngIf="!existingEmail">
        <span style="font-size: 14px;">
            You have not signed up yet.
        </span>
    </div>
    <div class="main-header" style="text-align: center;margin-top:4%;color: blue;" *ngIf="existingEmail">
       <span style="font-size: 14px;">
        {{existingEmail}}
        <br>
        <span *ngIf="paymentOption==null">
            You have just signed up. Go to Payments to enjoy using CLOS!
        </span>
        <span *ngIf="paymentOption=='FREE-TRIAL' && approvalStatus==='PENDING'">
            Your request for Free-trial usage is pending. We will get back to you shortly
        </span>
        <span *ngIf="paymentOption=='FREE-TRIAL' && approvalStatus==='approved'">
            Your Free-trial request will be expired on {{expiryDate|date:'dd-MM-yyyy'}}
        </span>
        <span *ngIf="(paymentOption=='BASIC' || paymentOption=='STANDARD') && approvalStatus==='PENDING'">
            You have subscribed for {{paymentOption}} plan and your request is pending. we will get back to you shortly
        </span>
        <span *ngIf="(paymentOption=='BASIC' || paymentOption=='STANDARD') && approvalStatus==='approved'">
            You have subscribed for {{paymentOption}} plan and your request is approved. You can also upgrade your plans .  Enjoy using CLOS!
        </span>
        <span *ngIf="(paymentOption=='PREMIUM') && approvalStatus==='PENDING'">
            You have subscribed for {{paymentOption}} plan and your request is pending. we will get back to you shortly
        </span>
        <span *ngIf="(paymentOption=='PREMIUM') && approvalStatus==='approved'">
            You have subscribed for {{paymentOption}} plan and your request is approved. Enjoy using CLOS!
        </span>
        <span *ngIf="approvalStatus=='rejected'">
            Your request for {{paymentOption}} has been rejected due to invalid documents. Try using valid documents . If you have paid, your money will be refunded.
        </span>
       </span>
       <br>
       <span style="font-size: 14px;cursor: pointer;">
         User Name : {{userName}}
       </span>
       <br>
       <span style="font-size: 14px;cursor: pointer;" *ngIf="paymentOption!==null">
         Current Plan : {{paymentOption}}
       </span>
       <span style="font-size: 14px;cursor: pointer;" *ngIf="paymentOption===null">
        Current Plan : No Plans Purchased.
      </span>
       <br>
       <span style="font-size: 14px;cursor: pointer;" *ngIf="paymentOption=='FREE-TRIAL' && expiryDate!==null && approvalStatus==='approved'">
         Expiry Date : {{expiryDate|date:'dd-MM-yyyy'}}
       </span>
    </div>
    <div style="text-align: center;margin-top: 6%;" *ngIf="existingEmail && (approvalStatus=='PENDING'||approvalStatus=='approved'||approvalStatus==null)">
        <button mat-flat-button color="primary" (click)="emailIdValidation=false;navigateToPage('pricing')">
            <span *ngIf="paymentOption===null||paymentOption==='FREE-TRIAL'"> GO TO PAYMENTS </span>
        </button> 
        <button style="margin-left: -50px;" *ngIf="paymentOption==='BASIC'||paymentOption==='STANDARD'" mat-flat-button color="primary" (click)="emailIdValidation=false;navigateToPage('pricing')">
            <span> UPGRADE PLANS </span>
        </button> 
        <button style="margin-left: -50px;" *ngIf="paymentOption==='PREMIUM'" mat-flat-button color="primary" (click)="emailIdValidation=false;email='';domainName=''">
            <span> DONE </span>
        </button> 
        <!-- <button *ngIf="paymentOption==='BASIC'||paymentOption==='STANDARD'||paymentOption==='PREMIUM'" mat-flat-button color="primary" (click)="demovideo=false;loginapp=false;login()">
            <span> LOGIN TO CLOS </span>
        </button>  -->
    </div>
    <div style="text-align: center;margin-top: 6%;" *ngIf="!existingEmail || approvalStatus=='rejected'">
        <button mat-flat-button color="primary" (click)="emailIdValidation=false;navigateToPage('signup');email='';domainName=''">
            <span> GO TO SIGN UP </span>
        </button> 
    </div>
 </div>
 <!---------------------------BLUR THE BG WHEN CLICK REQUEST FOR DEMO---------------------------------->
 <div *ngIf="demovideo||emailIdValidation||addDocx"
 style="position: fixed; top: -5px; left: 0; height: 100%; width: 100%;background-color: rgba(0,0,0,.47843137254901963);opacity: 0.7;z-index:22"></div>

 <div class="version-info">
    <span class="version-name float-left">Copyright © 2024 FinSurge. All Rights Reserved.</span>
</div>
