<section class="mt-3" style="margin-left: 10px;">
    <div class="row">
        <div class="col-lg-9 pt-0 p-4" style="background: white;
        border-top-right-radius: 10px;">
        <div >                     
             </div>                         
                </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 p-4" style="    background: whitesmoke;box-shadow: 0 1px 9px 1px rgb(0 0 0 / 11%);
                        height: 580px;
                        border-top-left-radius: 10px;">
                            <form class="pt-4">
                                <mat-hint style="margin: 6px;" align="start"><strong>Name</strong> </mat-hint>
                                <mat-form-field appearance="fill" style="font-size: 8px;"
                                    class="mt-2 d-block no-underline input-field">
                                    <input matInput type="text" placeholder="Enter the Name" autocomplete="off" />
                                </mat-form-field>
                                <mat-hint style="margin: 6px;" align="start"><strong>Surname</strong> </mat-hint>
                                <mat-form-field appearance="fill" style="font-size: 8px;"
                                    class="mt-2 d-block no-underline input-field">
                                    <input matInput type="text" placeholder="Enter the Surname" autocomplete="off" />
                                </mat-form-field>
                                <mat-hint style="margin: 6px;" align="start"><strong>Date of Birth</strong> </mat-hint>
                                <mat-form-field appearance="fill" style="font-size: 8px;"
                                    class="mt-2 d-block no-underline input-field">
                                    <input matInput type="text" placeholder="Enter the Date of Birth" autocomplete="off" />
                                </mat-form-field>
                                <mat-hint style="margin: 6px;" align="start"><strong>Title/Position</strong> </mat-hint>
                                <mat-form-field appearance="fill" style="font-size: 8px;"
                                    class="mt-2 d-block no-underline input-field">
                                    <input matInput type="text" placeholder="Enter the Title/Position" autocomplete="off" />
                                </mat-form-field>
                                <mat-hint style="margin: 6px;" align="start"><strong>%Ownership</strong> </mat-hint>
                                <mat-form-field appearance="fill" style="font-size: 8px;"
                                    class="mt-2 d-block no-underline input-field">
                                    <input matInput type="text" placeholder="Enter the %Ownership" autocomplete="off" />
                                </mat-form-field>
                                <mat-hint style="margin: 6px;" align="start"><strong>Year in Business</strong> </mat-hint>
                                <mat-form-field appearance="fill" style="font-size: 8px;"
                                    class="mt-2 d-block no-underline input-field">
                                    <input matInput type="text" placeholder="Enter the Year in Business" autocomplete="off" />
                                </mat-form-field>
                                <mat-hint style="margin: 6px;" align="start"><strong>Bureau Search Consent</strong> </mat-hint>
                                <mat-checkbox style="margin-left:10px"></mat-checkbox>
                            </form>
                            <div class="mt-4 text-end">
                                <button mat-button (click)="goBack()" style="color: grey;font-weight: 600;">Go Back</button>
                                <button mat-button (click)="goBack()" style="color: blue;background: aliceblue;border-radius: 5px;font-weight: 700;" cdkFocusInitial>Save</button>
                              </div>
                        </div>
                    </div>
                </section>