<div class="header">
    PASSWORD ENCODER
</div>

<br><br>
<div style="width:30%; margin-top:3rem;padding-left:35%; ">
    <mat-card class="example-card">
        <mat-form-field style="width:100%" appearance="outline">
            <mat-label>Password</mat-label>
            <input style="outline:none;box-shadow: none;" [(ngModel)]="password" (keyup.enter)="getPasswordEncoder()" matInput placeholder="Password"
                type="password">
        </mat-form-field>
        <button style="margin-left: 40%;" (click)="getPasswordEncoder()" class="tl-btn">
            <b>Submit</b>
        </button>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>
<div class="formContainer">
    <div>
        <span style="height: 100px;  ">
            <p><b>Encoded Password:</b>
                <a style="cursor: pointer; font-size: 12px; color: black; text-decoration: underline; padding-right:10px; float: right;" (click)="copyTokenToClipboard()">Copy</a>
            </p>
        </span>
    </div>
    <br><br>
    <div>
        <span>
            <p>{{encryptedPassword}}</p>
        </span>
    </div>
</div>
