<div class="main-container">
  <div class="content-container">
    <div class="table-container" style="overflow: auto; max-height: 500px;">
      <div class="flex-item">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header style="background-color: whitesmoke;">
          <mat-panel-title class="header-banner">
            <b>Uploads:-</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table>
          <ng-container *ngFor="let uploads of dynamicUploads; let i=index">
          <tr>
            <td>{{uploads.name}}</td>
            <td>: <span>
              <input prohibitedChars hidden type="file" #uploadFile1 
              accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
              (change)="onFilesSelected($event, uploads.name,i)" multiple />
                <mat-icon (click)="uploadFile1.click();" class="inverted-icon">attach_file</mat-icon>
              </span></td>
            <td>
              <div class="scrollable-content">
                <label class="file-input-label">
                  <div class="selected-files">
                    <div *ngFor="let attachment of uploads.attachmentResponse; let j = index">
                      <u (click)="getAttachementFileDownload(attachment.attachmentId)" style="color:blue;margin:1rem;">{{ attachment.attachmentName }}</u>
                      <button mat-icon-button>
                        <mat-icon (click)="removeAttachment(i, j)" class="remove-icon">clear</mat-icon>
                      </button>
                    </div>
                  </div>
                </label>
              </div>
            </td>
            <td>
              <textarea placeholder="Remarks" class="min-select" [(ngModel)]="uploads.remarks" (ngModelChange)="saveApplicationData()"></textarea>
            </td>
          </tr>
        </ng-container>
        </table>
        <table>
          <ng-container *ngFor="let uploads of uploadFiles; let i=index">
          <tr>
            <td>{{uploads.name}}</td>
            <td>: <span>
              <input prohibitedChars hidden type="file" #uploadFile1 
              accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
              (change)="onFilesSelected($event, uploads.name,i)" multiple />
                <mat-icon (click)="uploadFile1.click();" class="inverted-icon">attach_file</mat-icon>
              </span></td>
            <td>
              <div class="scrollable-content">
                <label class="file-input-label">
                  <div class="selected-files">
                    <div *ngFor="let attachment of uploads.attachments; let j = index">
                      <u (click)="getAttachementFileDownload(attachment.attachmentId)" style="color:blue;margin:1rem;">
                        {{ attachment.attachmentName }}
                      </u>
                      <button mat-icon-button>
                        <mat-icon (click)="removeAttachment(i, j)" class="remove-icon">clear</mat-icon>
                      </button>
                    </div>
                  </div>
                </label>
              </div>
            </td>
            <td>
              <textarea *ngIf="uploads.name != 'Applicant Signature'" placeholder="Remarks" class="min-select" [(ngModel)]="uploads.remarks" (ngModelChange)="saveApplicationData()"></textarea>
            </td>
          </tr>
        </ng-container>
        </table>
      <!-- <table>
          <tr>
            <td>Business Registration / Partnership Deed (Partnership only) / Latest Forms</td>
            <td>: <span>
                <input prohibitedChars hidden type="file" #uploadFile1 
                  accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
                  (change)="onFilesSelected($event, 'businessRegistration')" multiple />
                <mat-icon (click)="uploadFile1.click();" class="inverted-icon">attach_file</mat-icon>
              </span></td>
            <td>
              <div class="scrollable-content">
                <label class="file-input-label">
                  <div class="selected-files">
                    <div *ngFor="let fileName of uploads.businessRegistration; let i = index">
                      <u  (click)="getAttachementFileDownload(fileName.attachmentId)" style="color:blue;margin:1rem;">{{ fileName.attachmentName }}</u>
                      <button mat-icon-button>
                        <mat-icon (click)="removeAttachment('businessRegistration',i)" class="remove-icon">clear</mat-icon>
                      </button>
                    </div>
                  </div>
                </label>
              </div>
            </td>
            <td>
              <textarea placeholder="Remarks" class="min-select" [(ngModel)]="applicationDetails.businessRegistrationUploadsRemarks" (ngModelChange)="saveApplicationData()"></textarea>
            </td>
          </tr>
          <tr>
            <td>Photocopy of NRIC for Sole Proprietor / Partners</td>
            <td>: <span>
                <input prohibitedChars hidden type="file" #uploadFile2
                  accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
                  (change)="onFilesSelected($event, 'photoCopyOfNRIC')" multiple />
                <mat-icon (click)="uploadFile2.click();" class="inverted-icon">attach_file</mat-icon>
              </span></td>
            <td>
              <div class="scrollable-content">
                <label class="file-input-label">
                  <div class="selected-files">
                    <div *ngFor="let fileName of uploads.photoCopyOfNRIC; let i = index">
                      <u (click)="getAttachementFileDownload(fileName.attachmentId)" style="color:blue;margin:1rem;">{{ fileName.attachmentName }}</u>
                      <button mat-icon-button>
                        <mat-icon (click)="removeAttachment('photoCopyOfNRIC',i)" class="remove-icon">clear</mat-icon>
                      </button>
                    </div>
                  </div>
                </label>
              </div>
            </td>
            <td>
              <textarea placeholder="Remarks" class="min-select" [(ngModel)]="applicationDetails.photoCopyOfNRICUploadsRemarks"(ngModelChange)="saveApplicationData()"></textarea>
            </td>
          </tr>
          <tr>
            <td>Latest 6 months’ Bank Statements</td>
            <td>: <span>
                <input prohibitedChars hidden type="file" #uploadFile4
                  accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
                  (change)="onFilesSelected($event, 'latest_6Months_BankStatements')" multiple />
                <mat-icon (click)="uploadFile4.click();" class="inverted-icon">attach_file</mat-icon>
              </span></td>
            <td>
              <div class="scrollable-content">
                <label class="file-input-label">
                  <div class="selected-files">
                    <div *ngFor="let fileName of uploads.latest6MonthsBankStatements; let i = index">
                      <u  (click)="getAttachementFileDownload(fileName.attachmentId)" style="color:blue;margin:1rem;">{{ fileName.attachmentName }}</u>
                      <button mat-icon-button>
                        <mat-icon (click)="removeAttachment('latest_6Months_BankStatements',i)" class="remove-icon">clear
                        </mat-icon>
                      </button>
                    </div>
                  </div>
                </label>
              </div>
            </td>
            <td>
              <textarea placeholder="Remarks" class="min-select"[(ngModel)]="applicationDetails.latest6MonthsBankStatementsUploadsRemarks"(ngModelChange)="saveApplicationData()"></textarea>
            </td>
          </tr>
          <tr>
            <td>Latest 3 years’ income Tax Returns (Form B / Form P / Form PT) & Tax Receipts</td>
            <td>: <span>
                <input prohibitedChars hidden type="file" #uploadFile5
                  accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
                  (change)="onFilesSelected($event, 'latest_3Years_IncomeTaxReturns')" multiple />
                <mat-icon (click)="uploadFile5.click();" class="inverted-icon">attach_file</mat-icon>
              </span></td>
            <td>
              <div class="scrollable-content">
                <label class="file-input-label">
                  <div class="selected-files">
                    <div *ngFor="let fileName of uploads.latest3YearsIncomeTaxReturns; let i = index">
                      <u (click)="getAttachementFileDownload(fileName.attachmentId)" style="color:blue;margin:1rem;">{{ fileName.attachmentName }}</u>
                      <button mat-icon-button>
                        <mat-icon (click)="removeAttachment('latest_3Years_IncomeTaxReturns',i)" class="remove-icon">clear
                        </mat-icon>
                      </button>
                    </div>
                  </div>
                </label>
              </div>
            </td>
            <td>
              <textarea placeholder="Remarks" class="min-select" [(ngModel)]="applicationDetails.latest3YearsIncomeTaxReturnsUploadsRemarks"(ngModelChange)="saveApplicationData()"></textarea>
            </td>
          </tr>
          <tr>
            <td>Project proposal / agreement / contract on sustainability</td>
            <td>: <span>
                <input prohibitedChars hidden type="file" #uploadFile6
                  accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
                  (change)="onFilesSelected($event, 'projectProposal')" multiple />
                <mat-icon (click)="uploadFile6.click();" class="inverted-icon">attach_file</mat-icon>
              </span></td>
            <td>
              <div class="scrollable-content">
                <label class="file-input-label">
                  <div class="selected-files">
                    <div *ngFor="let fileName of uploads.projectProposal; let i = index">
                      <u (click)="getAttachementFileDownload(fileName.attachmentId)" style="color:blue;margin:1rem;">{{ fileName.attachmentName }}</u>
                      <button mat-icon-button>
                        <mat-icon (click)="removeAttachment('projectProposal',i)" class="remove-icon">clear</mat-icon>
                      </button>
                    </div>
                  </div>
                </label>
              </div>
            </td>
            <td>
              <textarea placeholder="Remarks" class="min-select"[(ngModel)]="applicationDetails.projectProposalUploadsRemarks"(ngModelChange)="saveApplicationData()"></textarea>
            </td>
          </tr>
          <tr>
            <td>Green Certification</td>
            <td>: <span>
                <input prohibitedChars hidden type="file" #uploadFile7
                  accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
                  (change)="onFilesSelected($event, 'greenCertification')" multiple />
                <mat-icon (click)="uploadFile7.click();" class="inverted-icon">attach_file</mat-icon>
              </span></td>
            <td>
              <div class="scrollable-content">
                <label class="file-input-label">
                  <div class="selected-files">
                    <div *ngFor="let fileName of uploads.greenCertification; let i = index">
                      <u  (click)="getAttachementFileDownload(fileName.attachmentId)" style="color:blue;margin:1rem;">{{ fileName.attachmentName }}</u>
                      <button mat-icon-button>
                        <mat-icon (click)="removeAttachment('greenCertification',i)" class="remove-icon">clear</mat-icon>
                      </button>
                    </div>
                  </div>
                </label>
              </div>
            </td>
            <td>
              <textarea placeholder="Remarks" class="min-select" [(ngModel)]="applicationDetails.greenCertificationUploadsRemarks"(ngModelChange)="saveApplicationData()"></textarea>
            </td>
          </tr>
          <tr>
            <td>SME Industry</td>
            <td>: <span>
                <input prohibitedChars hidden type="file" #uploadFile8
                  accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
                  (change)="onFilesSelected($event, 'smeIndustry')" multiple />
                <mat-icon (click)="uploadFile8.click();" class="inverted-icon">attach_file</mat-icon>
              </span></td>
            <td>
              <div class="scrollable-content">
                <label class="file-input-label">
                  <div class="selected-files">
                    <div *ngFor="let fileName of uploads.smeIndustry; let i = index">
                      <u  (click)="getAttachementFileDownload(fileName.attachmentId)" style="color:blue;margin:1rem;">{{ fileName.attachmentName }}</u>
                      <button mat-icon-button>
                        <mat-icon (click)="removeAttachment('smeIndustry',i)" class="remove-icon">clear</mat-icon>
                      </button>
                    </div>
                  </div>
                </label>
              </div>
            </td>
            <td>
              <textarea placeholder="Remarks" class="min-select"[(ngModel)]="applicationDetails.smeIndustryUploadsRemarks"(ngModelChange)="saveApplicationData()" ></textarea>
            </td>
          </tr>
          <tr>
            <td>Collateral Documents</td>
            <td>: <span>
                <input prohibitedChars hidden type="file" #uploadFile9
                  accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
                  (change)="onFilesSelected($event, 'collateralDocuments')" multiple />
                <mat-icon (click)="uploadFile9.click();" class="inverted-icon">attach_file</mat-icon>
              </span></td>
            <td>
              <div class="scrollable-content">
                <label class="file-input-label">
                  <div class="selected-files">
                    <div *ngFor="let fileName of uploads.collateralDocuments; let i = index">
                      <u  (click)="getAttachementFileDownload(fileName.attachmentId)" style="color:blue;margin:1rem;">{{ fileName.attachmentName }}</u>
                      <button mat-icon-button>
                        <mat-icon (click)="removeAttachment('collateralDocuments',i)" class="remove-icon">clear</mat-icon>
                      </button>
                    </div>
                  </div>
                </label>
              </div>
            </td>
            <td>
              <textarea placeholder="Remarks" class="min-select" [(ngModel)]="applicationDetails.collateralDocumentsRemarks" (ngModelChange)="saveApplicationData()" ></textarea>
            </td>
          </tr>
          <tr>
            <td>Balance Sheet</td>
            <td>: <span>
                <input prohibitedChars hidden type="file" #uploadFile10
                  accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
                  (change)="onFilesSelected($event, 'balanceSheetUploads')" multiple />
                <mat-icon (click)="uploadFile10.click();" class="inverted-icon">attach_file</mat-icon>
              </span></td>
            <td>
              <div class="scrollable-content">
                <label class="file-input-label">
                  <div class="selected-files">
                    <div *ngFor="let fileName of uploads.balanceSheetUploads; let i = index">
                      <u  (click)="getAttachementFileDownload(fileName.attachmentId)" style="color:blue;margin:1rem;">{{ fileName.attachmentName }}</u>
                      <button mat-icon-button>
                        <mat-icon (click)="removeAttachment('balanceSheetUploads',i)" class="remove-icon">clear</mat-icon>
                      </button>
                    </div>
                  </div>
                </label>
              </div>
            </td>
            <td>
              <textarea placeholder="Remarks" class="min-select"[(ngModel)]="applicationDetails.balanceSheetUploadsRemarks"(ngModelChange)="saveApplicationData()" ></textarea>
            </td>
          </tr>
          <tr>
            <td>Income Statement (P&L statement)</td>
            <td>: <span>
                <input prohibitedChars hidden type="file" #uploadFile11
                  accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
                  (change)="onFilesSelected($event, 'incomeStatementUploads')" multiple />
                <mat-icon (click)="uploadFile11.click();" class="inverted-icon">attach_file</mat-icon>
              </span></td>
            <td>
              <div class="scrollable-content">
                <label class="file-input-label">
                  <div class="selected-files">
                    <div *ngFor="let fileName of uploads.incomeStatementUploads; let i = index">
                      <u  (click)="getAttachementFileDownload(fileName.attachmentId)" style="color:blue;margin:1rem;">{{ fileName.attachmentName }}</u>
                      <button mat-icon-button>
                        <mat-icon (click)="removeAttachment('incomeStatementUploads',i)" class="remove-icon">clear</mat-icon>
                      </button>
                    </div>
                  </div>
                </label>
              </div>
            </td>
            <td>
              <textarea placeholder="Remarks" class="min-select"[(ngModel)]="applicationDetails.incomeStatementUploadsRemarks"(ngModelChange)="saveApplicationData()" ></textarea>
            </td>
          </tr>
          <tr>
            <td>Cash Flow statement</td>
            <td>: <span>
                <input prohibitedChars hidden type="file" #uploadFile12
                  accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
                  (change)="onFilesSelected($event, 'cashFlowStatementUploads')" multiple />
                <mat-icon (click)="uploadFile12.click();" class="inverted-icon">attach_file</mat-icon>
              </span></td>
            <td>
              <div class="scrollable-content">
                <label class="file-input-label">
                  <div class="selected-files">
                    <div *ngFor="let fileName of uploads.cashFlowStatementUploads; let i = index">
                      <u  (click)="getAttachementFileDownload(fileName.attachmentId)" style="color:blue;margin:1rem;">{{ fileName.attachmentName }}</u>
                      <button mat-icon-button>
                        <mat-icon (click)="removeAttachment('cashFlowStatementUploads',i)" class="remove-icon">clear</mat-icon>
                      </button>
                    </div>
                  </div>
                </label>
              </div>
            </td>
            <td>
              <textarea placeholder="Remarks" class="min-select"[(ngModel)]="applicationDetails.cashFlowStatementUploadsRemarks"(ngModelChange)="saveApplicationData()" ></textarea>
            </td>
          </tr>
          <tr>
            <td>Additional Attachment</td>
            <td>: <span>
                <input prohibitedChars hidden type="file" #uploadFile13
                  accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
                  (change)="onFilesSelected($event, 'additionalAttachmentsUploads')" multiple />
                <mat-icon (click)="uploadFile13.click();" class="inverted-icon">attach_file</mat-icon>
              </span></td>
            <td>
              <div class="scrollable-content">
                <label class="file-input-label">
                  <div class="selected-files">
                    <div *ngFor="let fileName of uploads.additionalAttachmentsUploads; let i = index">
                      <u  (click)="getAttachementFileDownload(fileName.attachmentId)" style="color:blue;margin:1rem;">{{ fileName.attachmentName }}</u>
                      <button mat-icon-button>
                        <mat-icon (click)="removeAttachment('additionalAttachementsUploads',i)" class="remove-icon">clear</mat-icon>
                      </button>
                    </div>
                  </div>
                </label>
              </div>
            </td>
            <td>
              <textarea placeholder="Remarks" class="min-select" [(ngModel)]="applicationDetails.additionalAttachmentsRemarks"(ngModelChange)="saveApplicationData()"></textarea>
            </td>
          </tr>
      </table> -->
    </mat-expansion-panel>
    </div>
    <!-- <div class="flex-item">
    <mat-expansion-panel>
      <mat-expansion-panel-header style="background-color: whitesmoke;">
        <mat-panel-title class="header-banner">
          <b>KYC Proofs:-</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table>
        <tr>
          <td>KYC of Company<span style="color:red;">*</span></td>
          <td>: <span>
              <input prohibitedChars hidden type="file" #uploadFile14
                accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
                (change)="onFilesSelected($event, 'KYCofCompany')" multiple />
              <mat-icon (click)="uploadFile14.click();" class="inverted-icon">attach_file</mat-icon>
            </span></td>
          <td>
            <div class="scrollable-content">
              <label class="file-input-label">
                <div class="selected-files">
                  <div *ngFor="let fileName of uploads.KYCofCompany; let i = index">
                    <u (click)="getAttachementFileDownload(fileName.attachmentId)" style="color:blue;margin:1rem;">{{ fileName.attachmentName }}</u>
                    <button mat-icon-button>
                      <mat-icon (click)="removeAttachment('KYCofCompany',i)" class="remove-icon">clear</mat-icon>
                    </button>
                  </div>
                </div>
              </label>
            </div>
          </td>
          <td>
            <textarea placeholder="Remarks" class="min-select" [(ngModel)]="applicationDetails.KYCofCompanyUploadsRemarks"(ngModelChange)="saveApplicationData()"></textarea>
          </td>
          
        </tr>
        <tr>
          <td>KYC of Director</td>
          <td>: <span>
              <input prohibitedChars hidden type="file" #uploadFile15
                accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
                (change)="onFilesSelected($event, 'KYCofDirector')" multiple />
              <mat-icon (click)="uploadFile15.click();" class="inverted-icon">attach_file</mat-icon>
            </span></td>
          <td>
            <div class="scrollable-content">
              <label class="file-input-label">
                <div class="selected-files">
                  <div *ngFor="let fileName of uploads.KYCofDirector; let i = index">
                    <u  (click)="getAttachementFileDownload(fileName.attachmentId)" style="color:blue;margin:1rem;">{{ fileName.attachmentName }}</u>
                    <button mat-icon-button>
                      <mat-icon (click)="removeAttachment('KYCofDirector',i)" class="remove-icon">clear</mat-icon>
                    </button>
                  </div>
                </div>
              </label>
            </div>
          </td>
          <td>
            <textarea placeholder="Remarks" class="min-select" [(ngModel)]="applicationDetails.KYCofDirectorUploadsRemarks"(ngModelChange)="saveApplicationData()"></textarea>
          </td>
          
        </tr>
        <tr>
          <td>KYC of Applicant (Optional)</td>
          <td>: <span>
              <input prohibitedChars hidden type="file" #uploadFile16
                accept=".xlsx, .xls, .csv, .pdf, .txt, .doc, .docx, .jpg, .jpeg, .png"
                (change)="onFilesSelected($event, 'KYCofApplicant')" multiple />
              <mat-icon (click)="uploadFile16.click();" class="inverted-icon">attach_file</mat-icon>
            </span></td>
          <td>
            <div class="scrollable-content">
              <label class="file-input-label">
                <div class="selected-files">
                  <div *ngFor="let fileName of uploads.KYCofApplicant; let i = index">
                    <u (click)="getAttachementFileDownload(fileName.attachmentId)" style="color:blue;margin:1rem;">{{ fileName.attachmentName }}</u>
                    <button mat-icon-button>
                      <mat-icon (click)="removeAttachment('KYCofApplicant',i)" class="remove-icon">clear</mat-icon>
                    </button>
                  </div>
                </div>
              </label>
            </div>
          </td>
          <td>
            <textarea placeholder="Remarks" class="min-select" [(ngModel)]="applicationDetails.KYCofApplicantUploadsRemarks"(ngModelChange)="saveApplicationData()"></textarea>
          </td>         
        </tr>
      </table>
    </mat-expansion-panel>
    </div> -->
    <div class="loading-container" *ngIf="loading">
      <mat-progress-spinner color="primary" diameter="20" strokeWidth="2" mode="indeterminate"></mat-progress-spinner>
      <span>Loading... Please wait...</span>
  </div>
    </div>
    <div class="button-container">
      <span style="color: red;font-weight: bold;margin:2rem;">
        {{errMsg()}}
    </span>
      <button  mat-raised-button style="margin:1rem;" [disabled]="submitDisable()" class="clos-submit-btn" mat-raised-button (click)="OnSubmitBtnClick()">
        <mat-icon> {{appId ? 'refresh' : 'done_all'}}</mat-icon>
        <span> {{appId ? 'Update' : 'Submit'}}</span>
      </button>
      <button  mat-raised-button  style="margin:1rem;" class="clos-btn" mat-raised-button (click)="OnDraftBtnClick()">
        <mat-icon>save</mat-icon>
        <span>Save as Draft</span>
      </button>
    </div>
  </div>
</div>