<div class="main-container">
    <!-- Main Container -->
    <div class="search-container">
        <div class="search">
            <mat-icon class="icon-search">search</mat-icon>
            <input class="min-input" style="background-color: white; padding-left: 3rem;" placeholder="Search Here...">
        </div>
        <!-- <div class="sort">
            <div class="lable">
                Sort By:
            </div>
            <div class="value">
                <mat-select class="min-select" style="background-color: white;">
                    <mat-option>Ascending</mat-option>
                    <mat-option>Descending</mat-option>
                </mat-select>
            </div>
        </div> -->
    </div>
    <div class="content-container">
        <div class="module-items-container">
            <div class="module-items-wrapper">
                <div *ngFor="let category of element.categories" class="module-items">
                    <div class="module-items-category-name">
                        {{category.category}}
                    </div>
                    <div class="module-items-list">
                        <div class="module-item" *ngFor="let item of category.items">
                            <mat-slide-toggle class="slider"  (ngModelChange)="toggleItem(item);allowAccess(item)"></mat-slide-toggle>
                            <div class="name">
                                {{item.displayName}}
                            </div>
                            <div class="description">
                                {{item.description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>