<nav class="side_nav">
    <div style="display: flex;justify-content: center;padding: 40px;">
    <span>
        <span class="main-header" style="color: white;">
        <span>C L
            <span>
             <i class="fa fa-globe"></i>
            </span>
            <span> S</span>
        </span>
        </span>
     </span>
     </div>
     <div>
      <div class="side_nav_item">
        <div style="display: flex;justify-content: space-between;width: 80%;">
             <mat-icon style="font-size: 40px;">person</mat-icon>
             <span class="side_nav_text">Users</span>
             </div>
      </div>
      <div class="side_nav_item">
        <div style="display: flex;justify-content: space-between;width: 80%;">
        <mat-icon  style="font-size: 40px;">video_library</mat-icon>
        <span class="side_nav_text">Demo Videos</span>
        </div>
 </div>
 <div class="side_nav_item">
    <div style="display: flex;justify-content: space-between;width: 80%;">
    <mat-icon style="font-size: 40px;">credit_card</mat-icon>
    <span class="side_nav_text">Subscription and Billings</span>
    </div>
</div>
<div class="side_nav_item">
    <div style="display: flex;justify-content: space-between;width: 80%;">
    <mat-icon style="font-size: 40px;">dashboard</mat-icon>
    <span class="side_nav_text">Dashboard</span>
    </div>
</div>
     </div>
</nav>