<nav class="side_nav">
    <div style="display: flex;justify-content: center;padding: 40px;">
    <span>
        <span class="main-header" style="color: white;">
        <span>C L
            <span>
             <i class="fa fa-globe"></i>
            </span>
            <span> S</span>
        </span>
        </span>
     </span>
     </div>
     <div>
     <div style="cursor: pointer;">
      <div class="side_nav_item">
        <div style="display: flex;justify-content: space-between;width: 80%;" routerLink="/users">
             <mat-icon style="font-size: 40px;">person</mat-icon>
             <span class="side_nav_text">Users</span>
             </div>
      </div>
      <div class="side_nav_item">
        <div style="display: flex;justify-content: space-between;width: 80%;" routerLink="/role">
             <mat-icon style="font-size: 40px;">settings</mat-icon>
             <span class="side_nav_text">Groups</span>
             </div>
      </div>
      <div class="side_nav_item">
        <div style="display: flex;justify-content: space-between;width: 80%;" routerLink="/groups">
             <mat-icon style="font-size: 40px;">account_circle</mat-icon>
             <span class="side_nav_text">Roles</span>
             </div>
      </div>
      <div class="side_nav_item">
        <div style="display: flex;justify-content: space-between;width: 80%;" routerLink="/template">
             <mat-icon style="font-size: 40px;">security</mat-icon>
             <span class="side_nav_text">Access Template</span>
             </div>
      </div>
      <div class="side_nav_item">
        <div style="display: flex;justify-content: space-between;width: 80%;" routerLink="/demo-videos">
        <mat-icon  style="font-size: 40px;">video_library</mat-icon>
        <span class="side_nav_text">Demo Videos</span>
        </div>
 </div>
 <div class="side_nav_item">
    <div style="display: flex;justify-content: space-between;width: 80%;" routerLink="/billings">
    <mat-icon style="font-size: 40px;">credit_card</mat-icon>
    <span class="side_nav_text">Subscription and Billings</span>
    </div>
</div>
<!-- <div class="side_nav_item">
    <div style="display: flex;justify-content: space-between;width: 80%;">
    <mat-icon style="font-size: 40px;">dashboard</mat-icon>
    <span class="side_nav_text">Dashboard</span>
    </div>
</div> -->
<div class="side_nav_item">
    <div style="display: flex;justify-content: space-between;width: 80%;" (click)="logoutconfirm=true;">
    <mat-icon style="font-size: 40px;">person_pin</mat-icon>
    <span class="side_nav_text">Logout</span>
    </div>
</div>
     </div>
     </div>
</nav>
<div *ngIf="logoutconfirm"
 style="position: fixed; top: -5px; left: 0; height: 100%; width: 100%;background-color: rgba(0,0,0,.47843137254901963);opacity: 0.7;z-index:22"></div>
<!------------------logout card------------------------->
<div class="container" *ngIf="logoutconfirm">
    <span style="font-size:large;text-align: center;margin-top: 1rem;margin-left: 2rem;"> Are you sure want to logout ? </span>
    <span style="margin-right: 8px;" (click)="logoutconfirm=false">
      <button mat-flat-button style="background-color: #0d203e;color:white">
        <i class="fa fa-window-close"></i>
          <span> CANCEL</span>
      </button>
    </span>
    <span style="margin-right: 8px;" routerLink="/signup/login">
      <button mat-flat-button style="margin-bottom:35px;background-color: #0d203e;color:white">
        <i class="fa fa-sign-out"></i>
          <span> LOGOUT</span>
      </button>
    </span>
  </div>