<section>
    <div  style="background:whitesmoke;border-radius:10px;">
      <div style="margin-right: auto;" class="p-3">
        <p class="mb-1 ml-3" style="font-weight:600;font-size:20px;">Search Filter</p>
      </div>
      <div style="overflow-y: scroll;height:600px;width:600px" class="content-container ml-4">
        <div  class="matChipselect">
            <mat-form-field class="example-chip-list" appearance="fill" >
                <mat-chip-list #chipList aria-label="Fruit selection">
                  <mat-chip
                    *ngFor="let fruit of fruits"
                    (removed)="remove(fruit)">
                    {{fruit}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input 
                    #fruitInput 
                    [matAutocomplete]="auto" [formControl]="fruitCtrl"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let list of drpdown" [value]="list" >
                    {{list}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
        </div>
    </div>
</div>
<div class="button-container">
  <div style='float: left;'>
      <button class="tl-btn" (click)="closeDialog()">
          <mat-icon>clear</mat-icon>Close
      </button>
  </div>
  <div style="margin-left: 1rem;">
      <button class="tl-btn-submit" (click)="closeDialog()">
          <mat-icon>done</mat-icon>Apply
      </button>
  </div>
</div>
</section>