<div>
    <!-------------------INITIAL CARD------------------------------>
   <div>
       <mat-card>
           <mat-card-content>
               <!-------------LEFT SIDE HEADER-------------------->
               <span>
               <span class="main-header">
               <span>C L
                   <span>
                    <i class="fa fa-globe"></i>
                   </span>
                   <span> S</span>
               </span>
               </span>
            </span>
            <!-----------RIGHT SIDE HEADER------------------------>
            <span style="position: absolute;right:5px">
                <span class="sign-up-btn" style="margin-right:8px">
                    <button mat-flat-button color="primary" routerLink="/signup">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <span>  SIGN UP</span>
                    </button>
                </span>
            <span class="sign-up-btn" style="margin-right:8px" routerLink="/demo">
                <button mat-flat-button color="primary">
                    <i class="fa fa-telegram"></i>
                    <span> LIVE DEMO</span>
                </button>
            </span>
            <span class="sign-up-btn" style="margin-right:8px" routerLink="/saas-login">
                <button mat-flat-button color="primary">
                    <i class="fa fa-user"></i>
                    <span> LOGIN</span>
                </button>
            </span>
            </span>
           </mat-card-content>
       </mat-card>
   </div> 
</div>
 <!-----------------------HEADING SLIDER--------------------------------------->
 <div style="overflow: auto;" [style.height.px]="component_height-90">
 <div>
 <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:8%">
          <div class="main-header">
              <span style="line-height: 1.4;">CORPORATE LOAN ORIGINATION SOLUTION (<span> CL</span><span><i class="fa fa-globe"></i></span><span>S</span>)</span>
          </div>
          <div class="sub-header" style="margin-top: 5%">
              Get Better Loan Solutions with <span> CL</span><span><i class="fa fa-globe"></i></span><span>S</span>
          </div>
          <div style="font-size: 17px;font-family: sans-serif;color: blue;line-height:1.6;margin-top:5%">
            Application that provides agile,future-proofed and extensible corporate loan solution.Built with flexible decision engine and machine learning execution capabilities.   
            Be future ready,
Capture data across multiple entities,
Optimize work flows,
Cover all related information including shareholders, subsidiaries, parent companies,
Increase the analysis scope,
Ease customer onboarding processes.       
          </div>
          <div style="margin-top:5%">
            <span>
                <button mat-flat-button color="primary">
                    <i class="fa fa-telegram"></i>
                    <span> LIVE DEMO</span>
                </button>
            </span>
            <span style="margin-left:2%">
                <button mat-flat-button color="primary">
                    <i class="fa fa-arrow-right"></i>
                    <span> SIGN UP</span>
                </button>
            </span>
        </div>
         </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <img src="/assets/saas-right.png">
      </div>
    </div>
 </div>
</div>
<!------------------------CLIENTS APPROACHING CLOS------------------------------->
<div>
    <div class="sub-header" style="text-align: center;margin-top:3%">
      <span>
          10+ banks in 5+ countries grow their business with <span> CL</span><span><i class="fa fa-globe"></i></span><span>S</span>
      </span>
      <div style="margin-top:2%">
          <i class="fa fa-angle-left"></i>
          <span>
              <img class="logo-img" src="/assets/dbs.png">
          </span>
          <span>
            <img class="logo-img" src="/assets/rhb.png">
         </span>
         <span>
            <img style="height:55px" class="logo-img" src="/assets/cimb.png">
        </span>
        <span>
            <img style="margin-top:-42px" class="logo-img" src="/assets/ocbc.png">
        </span>
        <span>
            <img class="logo-img" src="/assets/standard.png">
        </span>
        <span>
            <img class="logo-img" src="/assets/rand.png">
        </span>
        <i class="fa fa-angle-right"></i>
      </div>
    </div>
</div>
<!---------------------------CHATBOT----------------------------------------------------------------->
<div>
    <div class="wrapper" style="position: absolute;bottom: 13%;right: 1%;z-index: 22;" *ngIf="openchat">
        <div class="title">Chatbot</div>
        <div class="box">
            <div class="item">
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="msg">
                    <p>Want to chat about CLOS? I'm here to help you find your way.</p>
                </div>
            </div>
            <br clear="both">
        </div>
        
        <div class="typing-area">
            <div class="input-field">
                <input type="text" placeholder="Type your message" required>
                <button>Send</button>
            </div>
        </div>
    </div>
    <div *ngIf="!openchat" style="height: 58px;width:58px;align-items: center;background-color: #E9EEF4;border-radius: 50%;float:right;cursor: pointer;position: absolute;bottom: 40px;right: 1%;display: flex;justify-content: center;box-shadow: -4px 4px 19px 0px lightgray;">
    <span style="color: #073174;" (click)="openchat=true" [matTooltip]="'open chatbot'">
        <mat-icon style="margin-top: 12px;font-size: 29px;margin-right: 7px;">question_answer</mat-icon>
    </span>
    </div>
    <div *ngIf="openchat" style="height: 58px;width:58px;align-items: center;background-color: #E9EEF4;border-radius: 50%;float:right;cursor: pointer;position: absolute;bottom: 40px;right: 1%;display: flex;justify-content: center;box-shadow: -4px 4px 19px 0px lightgray;">
    <span style="color: #073174;" (click)="openchat=false" [matTooltip]="'close chatbot'">
        <mat-icon style="margin-top: 12px;font-size: 29px;margin-right: 7px;">close</mat-icon>
    </span>
    </div>
</div>
<!------------------------ABOUT US TAG-------------------------------------------->
<div style="margin-top:3%">
    <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <img style="width:100%;height:80%" src="/assets/clos-process.png">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:1%">
            <div class="main-header">
                <span>WHAT IS <span> CL</span><span><i class="fa fa-globe"></i></span><span>S</span> ?</span>
            </div>
            <div style="font-size: 17px;font-family: sans-serif;color: blue;line-height:1.6;margin-top:5%">
                Corporate Loan Origination is an agile, future-proofed and extensible Corporate loan solution. It is an end-to-end solution covering Retail and Small Business Products. It comes with workflow, screens and allows foe extensibility and quick time time to market. It is built on top of our Nirnaya Platform that comes with a flexible decision engine and machine learning execution capabilities.    
            </div>
           </div>
        </div>
     </div>  
</div>
<!-------------------------KEY FEAUTURES------------------------------------------>
<div style="height:100px;width:100%;background-color: lightgrey;font-size: 30px;font-family: sans-serif;font-weight: bold;display: flex; align-items: center; justify-content: center">
    <span>KEY FEATURES</span>
</div>
<div class="container" style="margin-top: 2%;">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
           <div class="box">
            <img style="margin-left:90px;margin-top:10px" src="assets/card1.png">
            <div class="content">
               <div style="margin-top:10%">
                   End to End loan processing.
               </div>
            </div>
        </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="box">
                <img style="margin-left:90px;margin-top:10px" src="assets/card2.png">
                <div class="content">
                    <span style="margin-top: 10%;margin-left:10px">
                        Decision Engine for rules and scorecard strategies.
                    </span>
                 </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="box">
                <img style="margin-left:90px;margin-top:10px" src="assets/card3.png">
                <div class="content">
                    <span style="margin-top: 10%;margin-left:10px">
                        Inbuilt Case Management Tools with workflow dashboards.
                    </span>
                 </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="box">
                <img style="margin-left:90px;margin-top:10px" src="assets/card4.png">
                <div class="content">
                    <span style="margin-top: 10%;margin-left:10px">
                        Robust and Automatic Operation
                    </span>
                 </div>
            </div>
        </div>
    </div>
</div>
<!------------------------PRICING--------------------------------------------------->
<div style="height:100px;width:100%;background-color: lightgrey;font-size: 30px;font-family: sans-serif;font-weight: bold;display: flex; align-items: center; justify-content: center;margin-top:2%">
    <span style="margin-left: -3%;">PRICING</span>
</div>
<div class="container" style="margin-top: 1%;">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-left: -4%;">
            <div class="card-box">
            <div style="text-align: center;margin-top: 5%;">
                <span style="font-size: 20px;font-weight: bold;color: black;">BASIC</span>
            </div>
            <div style="margin-top: 3%;">
                <span style="font-size: 15px;;color: black;">For business wanting to stramline their online application with minimal control and flexibilty</span>
            </div>
            <div style="margin-top: 3%;">
                Starts at
            </div>
            <div style="margin-top: 3%;">
                <span style="font-weight: bold;font-size: 20px;">$300/month</span>
            </div>
            <div style="text-align: center;margin-top: 3%;">
                <button mat-flat-button color="primary" style="width:100%">
                    <span> SUBSCRIBE</span>
                </button>
            </div>
            <div style="margin-top: 4%;">
                Includes everything inStandard Plan +
                <div>
 * Stay tax compliant with e-invoicing
 </div>
 <div>
* Manage subscription billing
</div>
<div>
* Use hosted payment pages
</div>
<div>
* Provide multi-currency options
</div>
<div>
* Set transaction approval processes
</div>
<div>
* Allow customers to review timesheets
</div>
<div>
* Receive scheduled reports
</div>
            </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-left: 2%;">
            <div class="card-box">
            <div style="text-align: center;margin-top: 5%;">
                <span style="font-size: 20px;font-weight: bold;color: black;">STANDARD</span>
            </div>
            <div style="margin-top: 3%;">
                <span style="font-size: 15px;;color: black;">For business wanting to stramline their online application with minimal control and flexibility</span>
            </div>
            <div style="margin-top: 3%;">
                Starts at
            </div>
            <div style="margin-top: 3%;">
                <span style="font-weight: bold;font-size: 20px;">$500/month</span>
            </div>
            <div style="text-align: center;margin-top: 3%;">
                <button mat-flat-button color="primary" style="width:100%">
                    <span> SUBSCRIBE</span>
                </button>
            </div>
            <div style="margin-top: 4%;">
                Includes everything inStandard Plan +
                <div>
 * Stay tax compliant with e-invoicing
 </div>
 <div>
* Manage subscription billing
</div>
<div>
* Use hosted payment pages
</div>
<div>
* Provide multi-currency options
</div>
<div>
* Set transaction approval processes
</div>
<div>
* Allow customers to review timesheets
</div>
<div>
* Receive scheduled reports
</div>
            </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-left: 2%;">
            <div class="card-box">
            <div style="text-align: center;margin-top: 5%;">
                <span style="font-size: 20px;font-weight: bold;color: black;">PREMIUM</span>
            </div>
            <div style="margin-top: 3%;">
                <span style="font-size: 15px;;color: black;">Our most powerful marketing software for advanced control and advanced flexibility.</span>
            </div>
            <div style="margin-top: 3%;">
                Starts at
            </div>
            <div style="margin-top: 3%;">
                <span style="font-weight: bold;font-size: 20px;">$800/month</span>
            </div>
            <div style="text-align: center;margin-top: 3%;">
                <button mat-flat-button color="primary" style="width:100%">
                    <span> SUBSCRIBE</span>
                </button>
            </div>
            <div style="margin-top: 4%;">
                Includes everything inStandard Plan +
                <div>
 * Stay tax compliant with e-invoicing
 </div>
 <div>
* Manage subscription billing
</div>
<div>
* Use hosted payment pages
</div>
<div>
* Provide multi-currency options
</div>
<div>
* Set transaction approval processes
</div>
<div>
* Allow customers to review timesheets
</div>
<div>
* Receive scheduled reports
</div>
            </div>
            </div>
        </div>
    </div>
</div>
<!------------------------TESTIMONILAS----------------------------------------------->
<div style="height:100px;width:100%;background-color: lightgrey;font-size: 30px;font-family: sans-serif;font-weight: bold;display: flex; align-items: center; justify-content: center;margin-top:2%">
    <span>BY OUR CLIENTS</span>
</div>
<div style="margin-top: 3%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="testimonilas">
                  <span style="margin-left: 10px;">
                    Is effective and enhances everyday work life!
                  </span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="testimonilas">
                    <span style="margin-left: 10px;">
                        Flexible, extensible, and powerful. CLOS is incredible.
                      </span> 
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="testimonilas">
                    <span style="margin-left: 10px;">
                        Is effective and enhances all our works!
                    </span> 
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 3%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="testimonilas">
                    <span style="margin-left: 10px;">
                        Flexible, extensible, and powerful. CLOS is incredible.
                   </span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="testimonilas">
                    <span style="margin-left: 10px;">
                        Is effective and enhances everyday work life!
                    </span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="testimonilas">
                    <span style="margin-left: 10px;">
                        Flexible, extensible, and powerful. CLOS is incredible.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="version-info">
    <span class="version-name float-left" style="margin-left: 44%">Copyright © 2024 FinSurge. All Rights Reserved.</span>
</div>
<router-outlet></router-outlet>
