

<div class="tl-main-container">
  <div class="header-container">
      <div class="icon-container">
      </div>
      <div class="title-container">
          <div class="component-title" style="border-bottom:none">
              <span style="font-size:1.4rem">
                  To Display All Fields
              </span>
          </div>
      </div>
  </div>
  <div class="search-container" style="position: relative;">
    <input class="min-input" [(ngModel)]="filterValue" (input)="filterItems()"
        placeholder="Search by Fields">
  </div>
  <div class="content-container" style="height: 500px;">
      <div class="content-container">
    
          <ng-container  *ngFor="let key of allKeys">
              <div class="list-container">
                <mat-checkbox class="checkbox-content" (change)="fields(key, $event)">{{ key.toLocaleUpperCase() }}</mat-checkbox>
              </div>
          </ng-container>
      </div>
  </div>
  <div class="button-container">
      <div style='float: left;'>
          <button class="tl-btn" mat-dialog-close style="background:red">
              <mat-icon>clear</mat-icon>Close
          </button>
      </div>
      <div style="margin-left: 1rem;">
          <button class="tl-btn-submit" (click)="displayItems();">
              <mat-icon>done</mat-icon>Apply
          </button>
      </div>
  </div>
</div>