::ng-deep .input-field .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(251 251 251 / 70%);
}
.select{
    width: 95%;
    padding: 10px;
}

.example-chip-list{
    width: 95%;
}
.matChipselect{
padding-top: 30px;
}
*input {
    box-shadow: none;
    border: none;
    background: transparent;
    background-color: none;
}
*input:focus {
    outline: none;
}
 :host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0px 0px 0px 5px;
}