<div class="main-container">
    <div class="module-header-container" *ngIf="false">
        <span class="temp__dtl__txt-container">
            <!-- <a style="color: black;"><u>Access Templates list</u></a> >
            <span class="temp__name__txt-container">
                {{accessDetail.name ? accessDetail.name : 'New Template'}}
                Data Admin Default Template
            </span> -->
        </span>
        <span class="go__back-container">
            <button (click)="onGoBackClick()" mat-stroked-button
                style="font-weight: 600;background-color: rgb(248, 248, 248);box-shadow: 3px 3px rgb(238, 236, 236);margin-right: 1rem;">
                <mat-icon>arrow_circle_left</mat-icon>
                Go back
            </button>
        </span>
    </div>
    <div class="tab-container">
        <div class="main-tabs-container">
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon style="padding-right: 3.2rem;" class="example-tab-icon">assignment
                        </mat-icon>
                        <span style="font-weight: 600;"> Template</span>
                    </ng-template>
                    <div class="name-container">
                        <span>
                            Name
                        </span>
                    </div>
                    <div class="crtd-date-container">
                        <span>
                            Created on {{currentDate}}
                        </span>
                    </div>
                    <div class="form-content-container">
                        <div class="table-content-container">
                            <div class="access-detail-container">
                            <table>
                                <tr>
                                    <td class="required">Template Name</td>
                                    <td>:</td>
                                    <td><input type="text" class="min-input" [(ngModel)]="accessDetail.name"
                                            oninput="this.value = this.value.replace(/^\s+/g, '');" maxlength="255">
                                    </td>
                                    <td>
                                        <div *ngIf="!accessDetail.name">
                                            <span style="color:red;">Template Name is required field.</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="required">Description</td>
                                    <td>:</td>
                                    <td><textarea class="min-input" rows="5" cols="50"
                                            style="background-color: F4F4F4;resize: none;"
                                            [(ngModel)]="accessDetail.description"
                                            oninput="this.value = this.value.replace(/^\s+/g, '');"
                                            maxlength="500"></textarea></td>
                                    <td>
                                        <div *ngIf="accessDetail.name && !accessDetail.description">
                                            <span style="color:red;">Description is required field.</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top; padding-top: 1rem;">Created By</td>
                                    <td style="vertical-align: top; padding-top: 1rem;">:</td>
                                    <div class="parent__row-flex" style="max-width: fit-content; ">
                                        <div style="line-height: 3rem;"
                                            class="access-container parent__row-flex flex-grow">
                                            <div class="flex-shrink">
                                                <mat-icon
                                                    style="font-size: 1.8rem; margin-top: 1rem; text-align: center;">
                                                    person_pin</mat-icon>
                                            </div>
                                            <div class="flex-grow" style="margin-right: 0.5rem;">
                                                {{this.accessDetail.creator}}
                                            </div>
                                        </div>

                                    </div>
                                </tr>
                            </table>
                        </div>
                        </div>
                    </div>
                    <div class="cdu__btn__container">
                        <div class="delete__btn-container">
                            <ng-container  >
                            <button class="tl-access-btn"  *ngIf="this.accessDetail.id" (click)=" onDeleteBtnClick()">
                                <mat-icon style="margin-right: 1rem;">delete</mat-icon>
                                <span>
                                    Delete Template
                                </span>
                            </button>
                        </ng-container>
                        </div>
                        <div class="create__btn-container">
                            <button mat-flat-button style="margin-right:1rem;" class="clos-submit-btn" (click)="saveAccessTemplate()"
                                [disabled]="disable()">
                                <mat-icon > {{accessDetail.id ? 'edit' : 'save'}}</mat-icon>
                                <span>
                                    {{accessDetail.id ? 'Update Template' : 'Save Template'}}
                                </span>
                            </button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab class="input">
                    <ng-template mat-tab-label style="color: #012970">
                        <mat-icon style="padding-right: 3.2rem;" class="example-tab-icon">aspect_ratio</mat-icon>
                        <span style="font-weight: 600;">Accessible Modules</span>
                    </ng-template>
                    <div>
                        <app-accessible-modules [access]="accessDetail.accessibleItems"
                            (accessChange)="onaccessChange($event)"></app-accessible-modules>
                    </div>
                </mat-tab>
                <ng-container *ngIf="false">
                    <mat-tab class="input" *ngIf="accessDetail.id">
                        <ng-template mat-tab-label style="color:#012970">
                            <mat-icon style="padding: 1rem;" class="example-tab-icon">how_to_reg</mat-icon>
                            <span style="font-weight: 600;">Assigned Groups & Roles</span>
                        </ng-template>
                        <div>
                            <app-access-groups-roles [templateId]="accessDetail.id"></app-access-groups-roles>

                        </div>
                    </mat-tab>
                </ng-container>
              
            </mat-tab-group>
        </div>
        <!-- <mat-tab-group>
            <mat-tab class="input">
                <ng-template mat-tab-label>
                    <mat-icon style="padding: 1rem;" class="example-tab-icon">assignment
                    </mat-icon>
                    <span style="font-weight: 600;"> Template</span>
                </ng-template>
                <div class="tab__content__one-container">
                    <div class="one__main__header-container">
                        <span>
                            Data Admin Default Template
                        </span>
                    </div>
                    <div class="one__sub__header-container">
                        <span>
                            Created:01-jan-2022
                        </span>
                    </div>
                    <div class="one__content-container">
                        <div class="temp__detail-container">
                            <div class="text-container">
                                <p>Template Name</p>
                                <p>Description</p>
                                <p style="padding-top: 5rem;">Created By</p>
                            </div>
                            <div class="colen-container">
                                <p>:</p>
                                <p>:</p>
                                <p style="padding-top: 5rem;">:</p>
                            </div>
                            <div class="value-container">
                                <p><input type="text" class="min-input" style="background-color: F4F4F4"
                                        [(ngModel)]="accessDetail.name"></p>
                                <p><textarea class="min-input" rows="5" cols="50"
                                        style="background-color: F4F4F4;padding-top: 1rem;"
                                        [(ngModel)]="accessDetail.description"></textarea></p>
                            </div>
                        </div>
                    </div>
                    <div class="cdu__btn__container">
                        <div class="delete__btn-container">
                            <button mat-raised-button>
                                <mat-icon style="margin-right: 1rem;">delete</mat-icon>
                                <span>
                                    Delete Template
                                </span>
                            </button>
                        </div>
                        <div class="create__btn-container">
                            <button mat-raised-button (click)="saveAccessTemplate()">
                                <mat-icon style="margin-right: 1rem;"> {{accessDetail.id ? 'edit' : 'save'}}</mat-icon>
                                <span>
                                    {{accessDetail.id ? 'Edit Template' : 'Save Template'}}
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab class="input">
                <ng-template mat-tab-label style="color: rgb(24, 24, 192);">
                    <mat-icon style="padding: 1rem;" class="example-tab-icon">aspect_ratio</mat-icon>
                    <span style="font-weight: 600;">Accessible Modules</span>
                </ng-template>
                <div>
                    <app-accessible-modules></app-accessible-modules>
                </div>
            </mat-tab>
            <mat-tab class="input">
                <ng-template mat-tab-label style="color: rgb(24, 24, 192);">
                    <mat-icon style="padding: 1rem;" class="example-tab-icon">groups</mat-icon>
                    <span style="font-weight: 600;">Assigned Groups & Roles</span>
                </ng-template>
                <div>
                    <app-access-groups-roles></app-access-groups-roles>
                </div>
            </mat-tab>
        </mat-tab-group> -->
    </div>
</div>