<div class="dialog-container">
    <div class="close-button" (click)="onClose()">
        <div class="circle">
          <span class="close-icon">&#215;</span>
        </div>
      </div>
    <h2 class="centered-text">Do you want to proceed with the rejection?</h2>
    <div class="button-container">
      <button mat-button class="reject-button" (click)="onReject()">
        <mat-icon>cancel</mat-icon> Reject
      </button>
      <button mat-button class="reject-info-button" (click)="onRejectAndRequestInfo()">
        <mat-icon>cancel</mat-icon> Reject & Request Info
      </button>
    </div>
  </div>
  