<div class="main-container" *ngIf="((ac.super || ac.items?.DR001B_DECISION_RULES_VIEW) && !noAccess)">
    <div class="header-container flex-row-parent">
        <div class="img-container flex-stetch">
            <img style="opacity: 0.7;" src="assets/Icons/rulelist.png">
        </div>
        <div class="describe-container flex-unstetch flex-column-parent">
            <div class="title-container flex-stetch">
                <span class="font-header">
                    Rules
                </span>
            </div>
            <div class="sub-title-container flex-unstetch">
                <span style="font-size: 1.4rem; color: gray;">
                    You can create and edit Rules here.
                </span>
            </div>
        </div>
        <div class="create-rule-container flex-stetch">
            <span style="padding-right: 2rem;">
                <ng-container *ngIf="ac.super || ac.items?.DR001C_DECISION_RULES_CREATE">
                <button mat-flat-button color="primary" (click)="createRuleNav()" class="cls-button">
                    <mat-icon>add</mat-icon>
                    <span>
                        Create Rules
                    </span>
            </button>
            </ng-container>
            </span>
        </div>
    </div>
    <div class="filter-container flex-row-parent">
        <div class="loading-container" [@fadeInOut] *ngIf="loading">
            <mat-progress-spinner color="primary" diameter="20" strokeWidth="2" mode="indeterminate"></mat-progress-spinner>
            <span>Loading... Please wait...</span>
        </div>
        <div class="search-container flex-unstetch" style="position: relative;">
            <mat-icon class="icon-search" style="left: 2rem;">search</mat-icon>
            <input class="min-input" (input)="searchRule()" [(ngModel)]="inputText" style="margin-top: 0rem; margin-left: 1rem; height: 3rem; padding-left: 4rem;padding-right: 4rem; width: 98%;margin-right: 2rem;" placeholder="Search by rule name">
            <mat-icon class="icon-search" style="position: absolute;cursor:pointer; margin-left: 95%;" *ngIf="inputText" (click)="clearSearchField()">close</mat-icon>
        </div>
        <div class="sort-container flex-stetch" style="margin-left: 2rem;font-weight: bold;">
            Sort by :
        </div>
        <div class="sort-container flex-unstetch">
            <mat-select class="min-select" style="width: 20%;margin-left: 1rem;">
                <mat-option value="asc" (click)="sortAsc()">Asc by name.</mat-option>
                <mat-option value="desc" (click)="sortDesc()">Desc by name.</mat-option>
            </mat-select>
        </div>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div class="content-container">
        <div id="rulesID" class="card-container" *ngFor="let rule of ruleList">
            <div class="inner-card-container" matRipple>
                <div class="left-card-align ">
                    <div style="margin-top: 1.5rem; margin-left: 2rem; ">
                        <span class="inner-header">
                            {{rule.name}}
                        </span>
                        <div style="height:1rem">

                        </div>
                        <!-- <span style="font-size: 1.3rem; color: gray;">
                            {{rule.description}}
                        </span> -->
                    </div>
                </div>
                <div class="center-card-align">
                    <!-- center -->
                </div>
                <div class="right-card-align ">
                    <!-- right -->
                    <ng-container *ngIf="ac.super || ac.items?.DR001D_DECISION_RULES_MODIFY">
                        <button mat-stroked-button #tooltip="matTooltip" matTooltip="Click here to edit" class="class-btn" (click)="editRule(rule.id)">
                        <mat-icon class="edit-button-icon">edit</mat-icon><span
                            style="margin-left: 1rem;color: #0e2954;">Edit </span>
                    </button>
                    </ng-container>
                    <ng-container *ngIf="ac.super || ac.items?.DR001E_DECISION_RULES_DELETE">
                        <button mat-stroked-button #tooltip="matTooltip" matTooltip="Click here to Delete" (click)="deleteRuleList(rule.id)" class="class-btn">
                        <mat-icon class="delete-button-icon">delete</mat-icon><span
                            style="margin-left: 1rem;color: red;">Delete </span>
                    </button>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="no-records-found" *ngIf="ruleList.length == 0 && !loading">
            <div class="div-span">
                No Rules found
            </div>
        </div>
    </div>
    <div class="paginator-container" *ngIf="ruleList.length !== 0">
        <div class="left-container" *ngIf=" !inputData">
            <ng-container *ngFor="let item of ruleList | paginate: {itemsPerPage: pageData.pageSize, currentPage:pageData.currentPage, totalItems: pageData.totalRecords}" let i="index">
            </ng-container>
        </div>
        <div class="middle-container">
            <pagination-controls *ngIf=" !inputData" class="pagination-controls" (pageChange)="onPageChangeEvent($event)" previousLabel="" nextLabel=""></pagination-controls>
        </div>
        <div class="right-container">
            Total Items: <span style="font-weight: bold">{{this.pageData.totalRecords}}</span>
        </div>
    </div>
</div>
<div class="no-access" *ngIf="(!ac.super && !ac.items?.DR001B_DECISION_RULES_VIEW) || noAccess">
    <app-no-access></app-no-access>
</div>
<notifier-container></notifier-container>