@import url(../../../../common-css/common.scss);
@import url(../../../../common-css/commonstyles.scss);
.main-container {
    height: 95%;
    >.header-container {
        height: 8rem;
        border-bottom: 1px solid gainsboro;
        background-color: rgb(246, 254, 255);
        >div {
            height: 100%;
        }
        >.left-align {
            min-width: 25rem;
        }
        >.center-left-align {
            width: 10rem;
            img {
                width: 80%;
                height: 80%;
            }
        }
        >.center-right-align {
            >div {
                width: 100%;
                margin-top: 0.5rem;
            }
            >.header-container {
                font-size: 2.8rem;
                font-weight: 500;
            }
            >.sub-header-container {
                font-size: 1.3rem;
                color: grey;
                margin-left: 0.2rem;
            }
        }
        >.right-align {
            min-width: 25rem;
        }
    }
    >.content-container {
        height: calc(100% - 10rem);
        div {
            height: 100%;
        }
        >.left-align {
            width: 30rem;
            background-color: rgb(246, 254, 255);
            // background-color: white;
        }
        >.center-align {
            background-color: whitesmoke;
            >.search-container {
                height: 5rem;
                background-color: white;
            }
            >.header-container {
                height: 4rem;
                margin-top: 1rem;
                border-bottom: 1px solid gainsboro;
            }
            >.inputs-container {
                height: calc(100% - 10rem);
                >.lable {
                    width: 20rem;
                    background-color: white;
                    border: 1px solid whitesmoke;
                }
                >.colen {
                    background-color: white;
                }
                >.field {
                    // width: 5rem;
                    background-color: whitesmoke;
                }
            }
            >.bottom-container {
                height: 5rem;
                // background-color: white;
            }
        }
        >.right-align {
            width: 30rem;
            background-color: rgb(246, 254, 255);
            // background-color: white;
        }
    }
}

.separator-div {
    height: 100%;
    width: 8rem;
    overflow: hidden;
    .separator {
        z-index: 1;
        margin-left: -3rem;
        height: 4rem;
        width: 5rem;
        border-style: solid;
        border-width: 0.2rem 0 0 0;
        border-radius: 0 0.1rem 0 0;
        border-top-color: rgba(255, 255, 255, 0.3);
        -webkit-box-shadow: 4px 0px 5px -3px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 4px 0px 5px -3px rgba(0, 0, 0, 0.3);
        box-shadow: 4px 0px 5px -3px rgba(0, 0, 0, 0.3);
        transform: rotate(45deg);
    }
}

.tool-bar {
    display: flex;
    display: row;
    width: 100%;
    font-size: medium;
    color: black;
    font-size: 15px;
    font-weight: bold;
    height: 5rem;
    background-color: aliceblue;
    span {
        padding-left: 5rem;
    }
}

.btn-toolbar {
    color: white;
    background-color: royalblue;
    padding-right: 2.5rem;
    mat-icon {
        transform: scale(1.3);
        margin-top: 0.6rem;
        font-weight: lighter;
    }
}

.spacing {
    flex: 1 1 auto;
}