<div class="container" style="width:100%">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
           <img style="width:95%;margin-top:37%" src="/assets/login-img.png">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:20%">
    <div class="card">
      <h2><span> CL</span><span><i class="fa fa-globe"></i></span><span>S</span></h2>
      <form>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
  
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
  
        <button routerLink="/home" type="submit">Login</button>
      </form>
      </div>
    </div>
    </div>
  </div>
  <router-outlet></router-outlet>