<div class="login-container" style="background-image: url(assets/ab.jpeg);">
  <div class="glowing-circle"></div>
  <div class="login-card">
      <div class="header-container">
          <h1>WELCOME BACK !</h1>
          <h3>Login to continue</h3>
      </div>
      <div class="input-container">
          <div class="input-group">
              <mat-icon class="icon">person</mat-icon>
              <input type="text" [(ngModel)]="username" placeholder="USERNAME" id="userName" required>
          </div>
      </div>
      <div class="input-container">
          <div class="input-group">
              <mat-icon class="icon">lock</mat-icon>
              <input type="password" [(ngModel)]="password" placeholder="PASSWORD" id="password">
          </div>
      </div>
      <div class="button-container">
          <button type="submit" [disabled]="username==''||password==''" class="btn" (click)="login()"><span>Login</span></button>
      </div>
      <br>
  </div>
</div>