  <section>
    <router-outlet></router-outlet>
    <!-- <mat-drawer-container class="main-container">
        <mat-drawer mode="side" opened style="padding-right: 10px;border: none;">
            <mat-list class="main-item" >
                <mat-list-item class="mt-2 text-center" routerLink="dashboard" routerLinkActive="active">
                      <span class="material-symbols-outlined" style="font-size: 35px;" mat-line>
                        dashboard
                        </span>
                      <p style="font-size: 10px;letter-spacing: 1.2px;" mat-line>APPLICATIONS</p>
                </mat-list-item>
                <mat-list-item class="mt-2 text-center" routerLink="config" routerLinkActive="active">
                  <span class="material-symbols-outlined" style="font-size: 35px;" mat-line>
                    database
                    </span>
                  <p style="font-size: 10px;letter-spacing: 1.2px;" mat-line>CONFIGURATIONS</p>
            </mat-list-item>
                </mat-list>
        </mat-drawer>
        <mat-drawer-content style="background: #f8f9fa;margin-left: 118px;">
            <router-outlet></router-outlet>
        </mat-drawer-content>
      </mat-drawer-container> -->
  </section>
  