<mat-toolbar class="header">
    <div class="header-div1" style="font-weight: bold;font-style: italic;color: rgb(87, 85, 85);font-size:16px;">
        <mat-icon *ngIf="profileName=='Edit'">edit</mat-icon> {{profileName}} Profiling Variable</div>
    <!-- <div class="header-div" style="margin-left: 3rem;"><button class="button" mat-stroked-button
            (click)="saveConfig()">
            <mat-icon >{{profileName==='Create' ?"add":"save"}}</mat-icon>{{profileName==='Create' ?"Create":"Save"}}
        </button></div> -->
    <div class="header-div" style="margin-left: 3rem;"><button class="button" mat-stroked-button (click)="RunProfile()">
            <mat-icon>play_arrow</mat-icon>Run
        </button></div>
    <!-- 
    <div class="header-div" style="margin-left: 12rem;"><button mat-stroked-button class="button"
            (click)="configureProfile()">
            <mat-icon>settings</mat-icon>Configure
        </button></div> -->
    <div class="header-div" style="margin-left: 80rem;"><button mat-stroked-button class="button" (click)="goBack()">
            <mat-icon>navigate_before</mat-icon>Go Back to Profiling list
        </button></div>
</mat-toolbar>

<div class="main-container">

    <mat-stepper>
        <mat-step label="Profiling Setup" state="profile">
            <div class="sub-header">
                <span class="sub-header-name">Profile Definition:</span>
            </div>

            <div class="definition-container">
                <mat-card>
                    <div class="flex-container">
                        <div class="flex-column">
                            <span class="name">Name</span>
                            <span class="colon">:</span>
                            <input class="min-input" style="height:5rem" type="text" [(ngModel)]="profileVariable.name">
                        </div>


                        <div class="flex-column">
                            <span class="name">Description</span>
                            <span class="colon">:</span>
                            <textarea class="min-input" style="width:80rem;height:5.5rem" [(ngModel)]="profileVariable.description"></textarea>

                        </div>
                    </div>

                </mat-card>
            </div>

            <div class="sub-header" style="height:30px">
                <span class="sub-header-name">Profile Configuration:

    <mat-slide-toggle style="float:right; margin-right: 10rem;" [(ngModel)]="toggleData">
        {{toggleData===true ?"Editor":"Configure"}} </mat-slide-toggle>
</span>

            </div>

            <div class="configuration-container">
                <div *ngIf="toggleData">

                    <span style="font-size:14px;color:rgb(151, 146, 146);padding:2px">File Name</span>
                    <span style="padding:5px;color:rgb(151, 146, 146)">:</span>
                    <input class="input-class" type="text" [(ngModel)]="pythonCode.fileName">
                    <div style="float:right;padding-bottom:10px">
                        <span style="font-size:14px;color:rgb(151, 146, 146);padding:2px;">Theme</span>
                        <span style="padding:5px;color:rgb(151, 146, 146)">:</span>
                        <mat-select style="background-color: whitesmoke;padding-left: 2px;min-height: 24px;width:30rem;line-height: 24px;border-radius: 3px;border: solid transparent 1px;transition: all linear 100ms;" [(ngModel)]="editorOptions.theme" (ngModelChange)="onThemeChange(editorOptions.theme)"
                            class="min-select">
                            <mat-option *ngFor="let theme of editorTheme" [value]="theme">
                                {{theme}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <ngx-monaco-editor style="height: 55rem;padding-top:2rem" [options]="editorOptions" [(ngModel)]="pythonCode.code"></ngx-monaco-editor>
                </div>

                <div class="main-container1" *ngIf="!toggleData">
                    <!-- <div class="main-container"> -->
                    <div class="header-container">
                        Configuration:-
                    </div>
                    <div class="content-container">

                        <div class="card-container flex-row-parent">
                            <div class="card-inner-container flex-stetch">
                                <span style="font-weight: 500;">
                    Choose ObjectModel
                </span>
                            </div>
                            <div class="flex-stetch">
                                &nbsp; &nbsp;
                            </div>
                            <ng-container>
                                <ng-container>
                                    <div class="flex-unstetch" style="margin-left: 1rem; margin-right: 1rem;">
                                        <mat-select class="min-select" [(value)]="name" [(ngModel)]="profileVariable.objectModel" style="width: 100rem" (selectionChange)="onValueSelected($event.value)" #multiSelect1>
                                            <mat-option *ngFor="let data of params" [value]="data">
                                                {{data.name}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </ng-container>
                            </ng-container>


                        </div>
                        <div class="card-container flex-property-parent">
                            <div class="card-inner-container flex-stetch" *ngIf="profileVariable.objectModel" style="margin-left: 1rem; text-transform: capitalize;">
                                <span>
                    {{profileVariable.objectModel.name}}
                </span>

                            </div>
                        </div>
                        <!-- Main Container  -->


                        <div class="card-container flex-row-parent">
                            <div class="card-inner-container flex-stetch">
                                <span style="font-weight: 500;">
                          Filter Column
                        </span>
                            </div>

                            <div class="flex-stetch">
                                &nbsp; &nbsp;
                            </div>
                            <ng-container>
                                <ng-container>
                                    <div class="flex-unstetch" style="margin-left: 1rem;">
                                        <mat-select class="min-select" [(ngModel)]="pushData" style="text-transform: capitalize;width: 100rem" #multiSelect1>
                                            <ng-container>
                                                <mat-option>
                                                    <ngx-mat-select-search placeholderLabel="Find column..." ngModel (ngModelChange)="filterColumns($event);" noEntriesFoundLabel='No columns match search criteria.'>
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option *ngFor="let columns of filteredColumns" [value]="columns">
                                                    {{columns.name}}
                                                </mat-option>
                                            </ng-container>

                                        </mat-select>

                                    </div>
                                </ng-container>
                            </ng-container>

                            <div class="flex-stetch">
                                <button style="margin-left: 1rem; background-color: whitesmoke; border: 0px;" matTooltip="Add" (click)="pushProfileData(pushData);pushData=''" [matTooltipPosition]="'above'">
                            <mat-icon style="margin-right: 0rem; color: red; cursor: pointer;" 
                                >
                                add</mat-icon>
                        </button>
                            </div>

                        </div>
                        <div class="card-container flex-property-parent">
                            <div class="card-inner-container flex-stetch" *ngFor="let output of profileConfig.columnFilter; let i = index" style="margin-left: 1rem; text-transform: capitalize;">
                                <span>
                            {{output.name}}
                        </span>
                                <mat-icon style="float: right; color: red; font-size: 1.4rem; margin-right: 0rem; cursor: pointer;" (click)="profileConfig.columnFilter.splice(i,1); " matTooltip="Remove" [matTooltipPosition]="'above'">
                                    remove</mat-icon>
                            </div>
                        </div>


                        <div class="card-container flex-row-parent">
                            <div class="card-inner-container flex-stetch">
                                <span style="font-weight: 500;">
                           Profile Field
                        </span>
                            </div>
                            <div class="flex-stetch">
                                &nbsp; &nbsp;
                            </div>
                            <ng-container>
                                <ng-container>
                                    <div class="flex-unstetch" style="margin-left: 1rem;">
                                        <mat-select class="min-select" [(ngModel)]="profileConfig.profileField" style="text-transform: capitalize;width: 100rem" #multiSelect1>
                                            <ng-container>
                                                <mat-option>
                                                    <ngx-mat-select-search placeholderLabel="Find column..." ngModel (ngModelChange)="filterSelectedColumns($event);" noEntriesFoundLabel='No columns match search criteria.'>
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option *ngFor="let column of selectedColumn" [value]="column.name">
                                                    {{column.name}}
                                                </mat-option>
                                            </ng-container>



                                        </mat-select>

                                    </div>
                                </ng-container>
                            </ng-container>

                        </div>
                        <div class="card-container flex-property-parent">
                            <div class="card-inner-container flex-stetch" *ngIf="profileConfig.profileField" style="margin-left: 1rem; text-transform: capitalize;">
                                <span>
                            {{profileConfig.profileField}}
                        </span>
                                <mat-icon style="float: right; color: red; font-size: 1.4rem; margin-right: 0rem; cursor: pointer;" (click)="profileConfig.periodField=''" matTooltip="Remove" [matTooltipPosition]="'above'">
                                    remove</mat-icon>
                            </div>
                        </div>

                        <div class="card-container flex-row-parent">
                            <div class="card-inner-container flex-stetch">
                                <span style="font-weight: 500;">
                           Date Field
                        </span>
                            </div>
                            <!-- <div class="card-inner-container flex-stetch" *ngIf="config.name=='columnFilter'">
                        <span style="font-weight: 500;">
                           Column Filter
                        </span>
                    </div> -->
                            <div class="flex-stetch">
                                &nbsp; &nbsp;
                            </div>
                            <ng-container>
                                <ng-container>
                                    <div class="flex-unstetch" style="margin-left: 1rem;">
                                        <mat-select class="min-select" [(ngModel)]="profileConfig.dateField" style="text-transform: capitalize;width:50rem" #multiSelect1>
                                            <ng-container>
                                                <mat-option>
                                                    <ngx-mat-select-search placeholderLabel="Find column..." ngModel (ngModelChange)="filterSelectedColumns($event);" noEntriesFoundLabel='No columns match search criteria.'>
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <div *ngFor="let column of selectedColumn">
                                                    <mat-option *ngIf="column.type=='dateTime'" [value]="column.name">
                                                        {{column.name}}
                                                    </mat-option>
                                                </div>
                                            </ng-container>
                                        </mat-select>

                                    </div>

                                </ng-container>
                            </ng-container>



                            <div class="card-container flex-row-parent">
                                <div class="card-inner-container flex-stetch">
                                    <span style="font-weight: 500;">
                              Period
                            </span>
                                </div>

                                <div class="flex-stetch">
                                    &nbsp; &nbsp;
                                </div>
                                <ng-container>
                                    <ng-container>
                                        <div class="flex-unstetch" style="margin-left: 1rem;">
                                            <mat-select class="min-select" [(ngModel)]="profileConfig.periodField" style="text-transform: capitalize;width: 50rem;" #multiSelect1>
                                                <ng-container>
                                                    <mat-option *ngFor="let period of periodList" [value]="period">
                                                        {{period}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>

                                        </div>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <div class="card-container flex-row-parent">
                            <div class="card-inner-container flex-stetch">
                                <span style="font-weight: 500;">
                         Calculation
                        </span>
                            </div>
                            <!-- <div class="card-inner-container flex-stetch" *ngIf="config.name=='columnFilter'">
                        <span style="font-weight: 500;">
                           Column Filter
                        </span>
                    </div> -->
                            <div class="flex-stetch">
                                &nbsp; &nbsp;
                            </div>
                            <ng-container>
                                <ng-container>
                                    <div class="flex-unstetch" style="margin-left: 1rem;">
                                        <mat-select class="min-select" style="text-transform: capitalize;width:50rem" #multiSelect1>
                                            <ng-container>
                                                <!-- <mat-option>
                                            <ngx-mat-select-search placeholderLabel="Find column..." ngModel
                                            (ngModelChange)="filterSelectedColumns($event);"
                                                noEntriesFoundLabel='No columns match search criteria.'>
                                            </ngx-mat-select-search>
                                        </mat-option> -->
                                                <div *ngFor="let cal of ['Aggregate ','Transform']">
                                                    <mat-option [value]="cal">
                                                        {{cal}}
                                                    </mat-option>
                                                </div>
                                            </ng-container>
                                        </mat-select>

                                    </div>

                                </ng-container>
                            </ng-container>



                            <div class="card-container flex-row-parent">
                                <!-- <div class="card-inner-container flex-stetch" >
                            <span style="font-weight: 500;">
                              Period
                            </span>
                        </div> -->

                                <div class="flex-stetch">
                                    &nbsp; &nbsp;
                                </div>
                                <ng-container>
                                    <ng-container>
                                        <div class="flex-unstetch" style="margin-left: 1rem;">
                                            <mat-select class="min-select" style="text-transform: capitalize;width: 50rem;" #multiSelect1>
                                                <ng-container>
                                                    <mat-option *ngFor="let fun of funList" [value]="fun">
                                                        {{fun}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>

                                        </div>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <div style="margin-top:2rem;float:right;">
                            <button mat-stroked-button (click)="saveConfig()" *ngIf="profileName==='Edit'">
                 <mat-icon >save</mat-icon>Save</button>
                            <button mat-stroked-button matStepperNext style="margin-left: 4rem;margin-right: 3rem;">
                  <mat-icon>settings</mat-icon>Configure Database</button>
                        </div>
                    </div>

                </div>



            </div>

        </mat-step>

        <mat-step label="Database Configuration" state="db">

            <div class="main-container">
                <div class="sub-main">
                    <span style="padding: 1rem;font-weight: 500;font-size:1.6rem">   Input Configuration:  </span>
                    <div class="node-data">


                        <div class="node-detail">
                            <div class="label">
                                <span> Database Type</span>
                            </div>
                            <div class="colen">
                                <span>:</span>
                            </div>
                            <div class="value" style="width:70rem">
                                <mat-select class="min-select" [(ngModel)]="inputTable.dbType">
                                    <div *ngFor="let list of db_typeList">
                                        <mat-option [value]="list">
                                            {{list}}
                                        </mat-option>
                                    </div>

                                </mat-select>
                            </div>

                        </div>
                        <div class="node-detail">
                            <div class="label">
                                <span> Database</span>
                            </div>
                            <div class="colen">
                                <span>:</span>
                            </div>
                            <div class="value" style="width:70rem">
                                <mat-select class="min-select" (selectionChange)="selectingDatabase()" [(ngModel)]="inputTable.db ">
                                    <div *ngFor="let db of databaseList">
                                        <mat-option [value]="db">
                                            {{db.name}}
                                        </mat-option>
                                    </div>

                                </mat-select>
                            </div>

                        </div>


                        <div class="node-detail">
                            <div class="label">
                                <span>Table</span>
                            </div>
                            <div class="colen">
                                <span>:</span>
                            </div>
                            <div class="value" style="width:70rem">
                                <mat-select class="min-select" [(ngModel)]="inputTable.selectTable">
                                    <div *ngFor="let table of tableList">
                                        <mat-option [value]="table">
                                            {{table}}
                                        </mat-option>
                                    </div>

                                </mat-select>
                            </div>

                        </div>

                    </div>

                    <span style="padding: 1rem;font-weight: 500;font-size: 1.6rem;">   Output Configuration:  </span>
                    <div class="node-data">


                        <div class="node-detail">
                            <div class="label">
                                <span> Database Type</span>
                            </div>
                            <div class="colen">
                                <span>:</span>
                            </div>
                            <div class="value" style="width:70rem">
                                <mat-select class="min-select" [(ngModel)]="outputTable.dbType">
                                    <div *ngFor="let list of db_typeList">
                                        <mat-option [value]="list">
                                            {{list}}
                                        </mat-option>
                                    </div>

                                </mat-select>
                            </div>

                        </div>
                        <!-- <div class="card-container flex-property-parent" >
            <div class="card-inner-container flex-stetch" *ngFor="let output of [2,3]; let i = index"
                style="margin-left: 1rem; text-transform: capitalize;">
                <span>
                    {{output}}
                </span>
                <mat-icon
                    style="float: right; color: red; font-size: 1.4rem; margin-right: 0rem; cursor: pointer;"
                     matTooltip="Remove" [matTooltipPosition]="'above'">
                    remove</mat-icon>
            </div>
        </div> -->
                        <div class="node-detail">
                            <div class="label">
                                <span> Database</span>
                            </div>
                            <div class="colen">
                                <span>:</span>
                            </div>
                            <div class="value" style="width:70rem">
                                <mat-select class="min-select" (selectionChange)="selectingDatabase()" [(ngModel)]="outputTable.db ">
                                    <div *ngFor="let db of databaseList">
                                        <mat-option [value]="db">
                                            {{db.name}}
                                        </mat-option>
                                    </div>

                                </mat-select>
                            </div>

                        </div>


                        <div class="node-detail">
                            <div class="label">
                                <span>Table</span>
                            </div>
                            <div class="colen">
                                <span>:</span>
                            </div>
                            <div class="value" style="width:70rem">
                                <mat-select class="min-select" [(ngModel)]="outputTable.selectTable">
                                    <div *ngFor="let table1 of tableList1">
                                        <mat-option [value]="table1">
                                            {{table1}}
                                        </mat-option>
                                    </div>

                                </mat-select>
                            </div>
                            <!-- <div class="label" style="padding-left: 2rem;">
            <span>Effective To</span>
        </div> -->
                            <div class="colen">
                                <span></span>
                            </div>
                            <div class="value" *ngIf="!addTable" style="width:70rem">
                                <button mat-stroked-button (click)="addTableClick()"><mat-icon>add</mat-icon>Create new Table</button>
                            </div>

                            <div class="value" *ngIf="addTable">
                                <mat-slide-toggle style="margin-left: 2rem;" [(ngModel)]="toggleData">
                                    {{toggleData===false ?"Configure":"Query"}} </mat-slide-toggle>
                            </div>
                        </div>

                        <div style="height:22rem;" class="node-detail" *ngIf="addTable && toggleData">
                            <div class="label">
                                <span>  Query</span>
                            </div>
                            <div class="colen">
                                <span>:</span>
                            </div>
                            <div class="value" style="width: 70rem;">
                                <input style="width:83rem;height:5rem" class="min-input" [(ngModel)]="outputTable.tableQuery">
                            </div>
                        </div>
                        <div class="node-detail" *ngIf="addTable&& !toggleData">
                            <div class="label">
                                <span> Table Name</span>
                            </div>
                            <div class="colen">
                                <span>:</span>
                            </div>
                            <div class="value" style="width:70rem">
                                <input class="min-input" [(ngModel)]="outputTable.tableName" (ngModelChange)="createTableName()" type="text">
                            </div>
                            <div class="colen">
                                <span></span>
                            </div>
                            <div class="value">
                                <button mat-stroked-button (click)="pushTableConfig()"><mat-icon>add</mat-icon></button>
                            </div>
                        </div>


                        <div style="width:150rem;height:20rem;overflow: auto" *ngIf="addTable&& !toggleData">
                            <div class="node-detail" *ngFor="let tabconfig of this.outputTable.tableConfig;let i = index">
                                <div class="label">
                                    <span> Column Name</span>
                                </div>
                                <div class="colen">
                                    <span>:</span>
                                </div>
                                <div class="value" style="width:13rem">
                                    <input class="min-input" [(ngModel)]="this.outputTable.tableConfig[i].name">
                                </div>
                                <div class="colen">
                                    <span></span>
                                </div>
                                <div class="label">
                                    <span> Column Type</span>
                                </div>
                                <div class="colen">
                                    <span>:</span>
                                </div>
                                <div class="value" style="width:13rem">
                                    <mat-select class="min-select" [(ngModel)]="this.outputTable.tableConfig[i].type">
                                        <div *ngFor="let type of dataTypeList">
                                            <mat-option [value]="type">
                                                {{type}}
                                            </mat-option>
                                        </div>

                                    </mat-select>
                                </div>
                                <div class="colen">
                                    <span>:</span>
                                </div>
                                <div class="label">
                                    <span> Column Size</span>
                                </div>
                                <div class="colen">
                                    <span>:</span>
                                </div>
                                <div class="value" style="width:13rem">
                                    <input class="min-input" typr='number' [(ngModel)]="this.outputTable.tableConfig[i].size">
                                </div>
                                <div class="value" style="margin-left:5px">
                                    <button mat-icon-button (click)="this.outputTable.tableConfig.splice(i, 1);" #tooltip="matTooltip" matTooltip="Remove"><mat-icon style="color:rgb(158, 157, 157)">do_disturb_on</mat-icon></button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <mat-dialog-actions align="end" style="float:right;">
                    <button mat-stroked-button mat-dialog-close style="color:red;margin-right: 3rem;">
        <mat-icon>chevron_left</mat-icon>
        <span>Back</span>
    </button>
                    <button mat-stroked-button style="margin-right: 3rem;" class="selectButton" (click)="saveConfig()">
        <mat-icon>save</mat-icon>
        <span>save Profiling</span>
    </button>
                    <button mat-stroked-button class="selectButton" (click)="configureProflile()">
        <mat-icon>done</mat-icon>
        <span>Configure</span>
    </button>

                </mat-dialog-actions>
            </div>

        </mat-step>


        <!-- Icon overrides. -->
        <ng-template matStepperIcon="db">
            <mat-icon>verified_user</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="profile">
            <mat-icon>build</mat-icon>
        </ng-template>
    </mat-stepper>

</div>
<!-- <mat-spinner class="spinner-class" *ngIf="spinnerLoad" diameter="45"></mat-spinner> -->
<notifier-container></notifier-container>