@import url(../../../../../common-styles/form-style.scss);

.main-container {
    height: calc(100vh - 28vh);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    > .search-container {
        height: 5rem;
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr;
        > .search {
            padding: 1rem;
            .icon-search {
                position: absolute;
                left: 1.5rem;
                top: 3.5%;
                color: rgb(80, 80, 80);
                transform: translateY(-50%);
            }
            .icon-cancel {
                right: 10px;
                position: absolute;
                top: 50%;
                color: rgb(80, 80, 80);
                transform: translateY(-50%);
                font-size: 18px;
                margin-top: 3px;
                cursor: pointer;
                position: absolute;
            }
            .icon-cancel:hover {
                height: 21px;
                width: 21px;
                background-color: #e4e0e0;
                border-radius: 50%;
                padding-bottom: 18px;
                padding-left: 1px;
                padding-right: 13px;
                padding-top: 1px;
                top: 12px;
                right: 15px;
            }
            .min-input {
                height: 2.8rem;
                -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
            }
        }
        > .sort {
            padding: 1rem;
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: 1fr;
            > .lable {
                font-size: 1.4rem;
                margin-top: 0.3rem;
            }
            > .value {
                margin-left: 1rem;
            }
            .min-select {
                -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
            }
        }
    }
    > .content-container {
        height: 100%;
        overflow: auto;
        .module-items-container {
            height: 100%;
            overflow-y: auto;
            .module-items-wrapper {
                background-color: whitesmoke;
                padding: 10px;
                box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05) inset;
                -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05) inset;
                -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05) inset;
                .module-items {
                    background-color: white;
                    border-radius: 5px;
                    .module-items-category-name {
                        padding: 10px 10px;
                        font-weight: bold;
                        border-bottom: solid whitesmoke 1px;
                    }
                    .module-items-list {
                        padding: 0 10px;
                        .module-item {
                            min-height: 35px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-bottom: solid whitesmoke 1px;
                            .slider {
                                flex: 0 0 auto;
                                margin-right: 15px;
                            }
                            .name {
                                flex: 0 0 auto;
                                font-weight: 500;
                                width: 380px;
                                margin-right: 15px;
                                cursor: default;
                                text-overflow: ellipsis;
                            }
                            .description {
                                flex: 1 1 auto;
                                color: dimgray;
                                cursor: default;
                            }
                        }
                    }
                }
                .module-items:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

:host ::ng-deep .mat-tab-group {
    background-color: whitesmoke;
    margin: 1rem;
}
.example-tab-icon{
   padding-right: 3.2rem;
}
