 <!-------------------INITIAL CARD------------------------------>
 <div>
    <mat-card>
        <mat-card-content>
            <!-------------LEFT SIDE HEADER-------------------->
            <span>
                <span class="main-header" style="color: blue;">
                <span>C L
                    <span>
                     <i class="fa fa-globe"></i>
                    </span>
                    <span> S</span>
                </span>
                </span>
             </span>
         <!-----------RIGHT SIDE HEADER------------------------>
         <span style="position: absolute;right:5px">
         <span style="margin-right: 8px;">
             <button mat-flat-button color="primary" (click)="navigateToPage('home')">
                 <i class="fa fa-arrow-left"></i>
                 <span> BACK</span>
             </button>
         </span>
         </span>
        </mat-card-content>
    </mat-card>
</div> 
<!----------------PRICING----------------------------------------------->
<div style="height: 89.6%;overflow-y: auto;">
<!-- <div style="height:50px;width:100%;font-size: 20px;font-family: sans-serif;font-weight: bold;display: flex; align-items: center; justify-content: center;margin-top:2%;color:blue">
    <span style="margin-left: -3%;">PRICING</span>
</div> -->
<!-- <div *ngIf="paymentOption" style="height:50px;width:100%;font-size: 20px;font-family: sans-serif;font-weight: bold;display: flex; align-items: center; justify-content: center;margin-top:1%;color:blue">
    <span style="margin-left: -3%;">CURRENT PLAN : {{paymentOption}}</span>
</div> -->
<div class="container" style="margin-top: 1%;">
    <div class="row">
        <div *ngFor="let list of pricingList; let i=index" (click)="freeTrialUsers=list?.subscriptionName;freeTrialDate=list?.trialPeriodDays;freeTrialId=list?.id;subscriptionPeriod=list?.subscriptionPeriod" class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-left: -4%; margin-bottom: 20px;">
            <div class="card-box">
                <mat-icon class="check-icon" *ngIf="paymentOption===list?.subscriptionName">check</mat-icon>
                <div style="text-align: center;margin-top: 5%;">
                    <span style="font-size: 20px;font-weight: bold;color: black;">{{list?.subscriptionName}}</span>
                </div>
                <div style="margin-top: 3%;">
                    <span style="font-size: 15px;;color: black;">{{list?.subscriptionDescription}}</span>
                </div>
                <div style="margin-top: 3%;">
                    Starts at
                </div>
                <div style="margin-top: 3%;">
                    <span style="font-weight: bold;font-size: 20px;"> $ {{list?.subscriptionPrice}} / user</span>
                </div>
                <div style="text-align: center;margin-top: 3%;" (click)="decodePdf(list);popupVisible1=true;">
                    <button mat-flat-button color="primary" style="width:100%" (click)="paymentAmt=list?.subscriptionPrice;paymentOption=list?.subscriptionName;numberOfUsers=list?.defaultUserCount;minNumberOfUsers=list?.minUsers;maxNumberOfUsers=list?.maxUsers">
                        <span>SUBSCRIBE</span>
                    </button>
                </div>
                <div style="margin-top: 4%; border: 1px solid #e0e0e0; border-radius: 5px; padding: 15px;">
                    <div style="font-weight: bold; color: #333;">Includes everything in Standard Plan +</div>
                    <div style="margin-top: 10px;">
                        <div style="margin-bottom: 5px;">ACCESSIBLE MODULES WITH THIS PLAN</div>
                        <ng-container *ngFor="let item of list?.accessModules; let j=index">
                            <div style="color: #007bff; margin-bottom: 5px;">
                                <span class="material-icons" style="vertical-align: middle; margin-right: 5px;">check_circle</span>
                                {{item}}
                            </div>
                        </ng-container>
                    </div>
                    <div style="margin-top: 10px;">
                        <div>
                            <span style="font-weight: bold;"><span class="material-icons" style="vertical-align: middle; margin-right: 5px;">group</span> MIN USERS:</span>
                            <span style="font-weight: bold;">  {{list?.minUsers}}</span>
                        </div>
                        <div>
                            <span style="font-weight: bold;"><span class="material-icons" style="vertical-align: middle; margin-right: 5px;">groups</span> MAX USERS:</span>
                            <span style="font-weight: bold;">  {{list?.maxUsers}}</span>
                        </div>
                    </div>
                </div>                                          
            </div>
        </div>
    </div>
    <br>
</div>

<!----------------------SUCCESS POPUP------------------------------->
<div *ngIf="demovideo" style="position: absolute; top:45%; left: 51%;transform: translate(-50%, -50%); z-index: 222222222;background-color: #fff;height:280px;width:385px;border-radius: 10px;padding: 15px;">
    <div style="text-align: center;margin-top:5%">
        <img src="assets/ok.png" style="width:24%">
    </div>
    <div class="main-header" style="text-align: center;margin-top:4%;color:blue">
       <span style="font-size: 14px;font-weight: lighter;margin-bottom: 10px;line-height: 23px;">
        We will verify your documents . Username and password will be send shortly to your registered mail.
       </span>
    </div>
    <div style="text-align: center;margin-top: 5%;">
        <button mat-flat-button color="primary" (click)="demovideo=false;done();copyTokenToClipboard()">
            <span> DONE</span>
        </button> 
    </div>
 </div>
 <div class="custom-popup" [ngStyle]="{ 'display': popupVisible ? 'flex' : 'none' }">
    <div class="popup-content">
        <div class="users-header">
        <h2 style="margin-right: auto;color: #3f51b5;">No of users to be created</h2>
        <mat-icon style="float: right;margin-top: -14px;cursor: pointer;" (click)="closePopup()">close</mat-icon>
        </div>
        <div class="input-group">
            <label for="numberOfUsers">Number of Users: (min users : {{minNumberOfUsers}}) (max users : {{maxNumberOfUsers}})</label>
            <input type="number" id="numberOfUsers" [(ngModel)]="numberOfUsers" [min]="minNumberOfUsers" [max]="maxNumberOfUsers" (input)="calculateTotal();validateInput()">
        </div>
        <div>
            <span *ngIf="inputError" style="color:crimson;font-size:12px">Please Enter users ranging between {{minNumberOfUsers}} and {{maxNumberOfUsers}}</span>
        </div>
        <div class="input-group">
            <label for="paymentAmt">Payment Amount:</label>
            <input type="text" id="paymentAmt" [(ngModel)]="paymentAmt" disabled>
        </div>
        <div class="input-group">
            <label for="totalAmount">Total Amount:</label>
            <input type="text" id="totalAmount" [(ngModel)]="totalAmount" disabled>
        </div>
        <button mat-flat-button [disabled]="inputError==true" class="proceed" (click)="navigateToPage('payment')">Proceed Payment</button>
    </div>
</div>
<!-- <button mat-stroked-button (click)="decodePdf();popupVisible1=true">Open Document</button> -->
<div class="custom-popup" [ngStyle]="{ 'display': popupVisible1 ? 'flex' : 'none' }">
    <div class="popup-content">
        <iframe class="iframe" *ngIf="decodedPdf" [src]="decodedPdf" width="100%" height="89%" frameborder="0"></iframe>
        <div>
            <mat-checkbox class="example-margin" [(ngModel)]="checked"><span style="color: grey;" class="terms">By ticking, you have confirmed that you have read,understood and agree to the above <u style="color: black;">terms and conditions</u>.</span></mat-checkbox>
</div>
<div style="display: flex;justify-content:space-between;width: 100%;">
    <button mat-flat-button color="primary" style="margin-right: auto;" (click)="closePopup1()">Disagree</button>
    <button mat-flat-button color="primary" [disabled]="checked==false" (click)="freeTrialUsers==='FREE-TRIAL'? getFreetrial(id):navigateToPage('payment')">Agree</button>
</div>
        </div>
        </div>
        <div class="placeholder-container" *ngIf="!loadingPlans && pricingList?.length===0">
            <span>No items found!</span>
        </div>
        <div *ngIf="loadingPlans" style="font-size: 15px;font-weight:bold;font-style: italic; box-shadow: 0 1px 4px rgb(0 0 0 / 10%) inset;width: 10%;
        justify-content: center;
        display: flex;
        left: 40%;
        position: absolute;
        top: 40%;">
          <span>Loading...Please Wait</span>
        </div>
<!----------------------FOOTER-------------------------------------->
<div *ngIf="demovideo"
 style="position: fixed; top: -5px; left: 0; height: 100%; width: 100%;background-color: rgba(0,0,0,.47843137254901963);opacity: 0.7;z-index:22"></div>