 <!-------------------INITIAL CARD------------------------------>
 <div>
    <mat-card>
        <mat-card-content>
            <!-------------LEFT SIDE HEADER-------------------->
            <span>
                <span class="main-header" style="color: blue;">
                <span>C L
                    <span>
                     <i class="fa fa-globe"></i>
                    </span>
                    <span> S</span>
                </span>
                </span>
             </span>
         <!-----------RIGHT SIDE HEADER------------------------>
         <span style="position: absolute;right:5px">
             <span style="margin-right:20px;font-size: 20px;color: blue;margin-top:2px">
                 <span>
                     <i class="fa fa-phone">
                     </i>
                     <span> +654321890</span>
                 </span>
             </span>
         <span style="margin-right: 8px;">
             <button mat-flat-button color="primary" (click)="navigateToPage('home')">
                 <i class="fa fa-arrow-left"></i>
                 <span> BACK</span>
             </button>
         </span>
         <span style="margin-right: 8px;">
            <button mat-flat-button color="primary" (click)="getFreetrial(id)" *ngIf="paymentOption==null">
                <i class="fa fa-arrow-right"></i>
                <span> GET FREE TRIAL</span>
            </button>
        </span>
         </span>
        </mat-card-content>
    </mat-card>
</div> 
<!----------------PRICING----------------------------------------------->
<div style="height: 89.6%;overflow-y: auto;">
<div style="height:50px;width:100%;font-size: 20px;font-family: sans-serif;font-weight: bold;display: flex; align-items: center; justify-content: center;margin-top:2%;color:blue">
    <span style="margin-left: -3%;">PRICING</span>
</div>
<div *ngIf="paymentOption" style="height:50px;width:100%;font-size: 20px;font-family: sans-serif;font-weight: bold;display: flex; align-items: center; justify-content: center;margin-top:1%;color:blue">
    <span style="margin-left: -3%;">CURRENT PLAN : {{paymentOption}}</span>
</div>
<div class="container" style="margin-top: 1%;">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-left: -4%;">
            <div class="card-box">
                <mat-icon class="check-icon" *ngIf="selectedPayment == 'BASIC' ">check</mat-icon>
            <div style="text-align: center;margin-top: 5%;">
                <span style="font-size: 20px;font-weight: bold;color: black;">BASIC</span>
            </div>
            <div style="margin-top: 3%;">
                <span style="font-size: 15px;;color: black;">For business wanting to stramline their online application with minimal control and flexibilty</span>
            </div>
            <div style="margin-top: 3%;">
                Starts at
            </div>
            <div style="margin-top: 3%;">
                <span style="font-weight: bold;font-size: 20px;">$300/month</span>
            </div>
            <div style="text-align: center;margin-top: 3%;" (click)="navigateToPage('payment');">
                <button mat-flat-button color="primary" style="width:100%" (click)="paymentAmt='300.00';paymentOption='BASIC'">
                    <span> {{paymentOption=='BASIC'?'SUBSCRIBED':'SUBSCRIBE'}}</span>
                </button>
            </div>
            <div style="margin-top: 4%;">
                Includes everything inStandard Plan +
                <div>
 * Stay tax compliant with e-invoicing
 </div>
 <div>
* Manage subscription billing
</div>
<div>
* Use hosted payment pages
</div>
<div>
* Provide multi-currency options
</div>
<div>
* Set transaction approval processes
</div>
<div>
* Allow customers to review timesheets
</div>
<div>
* Receive scheduled reports
</div>
            </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-left: 2%;">
            <div class="card-box">
                <mat-icon class="check-icon" *ngIf="selectedPayment == 'STANDARD' ">check</mat-icon>
            <div style="text-align: center;margin-top: 5%;">
                <span style="font-size: 20px;font-weight: bold;color: black;">STANDARD</span>
            </div>
            <div style="margin-top: 3%;">
                <span style="font-size: 15px;;color: black;">For business wanting to stramline their online application with minimal control and flexibility</span>
            </div>
            <div style="margin-top: 3%;">
                Starts at
            </div>
            <div style="margin-top: 3%;">
                <span style="font-weight: bold;font-size: 20px;">$500/month</span>
            </div>
            <div style="text-align: center;margin-top: 3%;" (click)="navigateToPage('payment');">
                <button mat-flat-button color="primary" style="width:100%" (click)="paymentAmt='500.00';paymentOption='STANDARD'">
                    <span> {{paymentOption=='BASIC' && id!==null?'UPGRADE':'SUBSCRIBE'}}</span>
                </button>
            </div>
            <div style="margin-top: 4%;">
                Includes everything inStandard Plan +
                <div>
 * Stay tax compliant with e-invoicing
 </div>
 <div>
* Manage subscription billing
</div>
<div>
* Use hosted payment pages
</div>
<div>
* Provide multi-currency options
</div>
<div>
* Set transaction approval processes
</div>
<div>
* Allow customers to review timesheets
</div>
<div>
* Receive scheduled reports
</div>
            </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-left: 2%;">
            <div class="card-box">
                <mat-icon class="check-icon" *ngIf="selectedPayment == 'PREMIUM' ">check</mat-icon>
            <div style="text-align: center;margin-top: 5%;">
                <span style="font-size: 20px;font-weight: bold;color: black;">PREMIUM</span>
            </div>
            <div style="margin-top: 3%;">
                <span style="font-size: 15px;;color: black;">Our most powerful marketing software for advanced control and advanced flexibility.</span>
            </div>
            <div style="margin-top: 3%;">
                Starts at
            </div>
            <div style="margin-top: 3%;">
                <span style="font-weight: bold;font-size: 20px;">$800/month</span>
            </div>
            <div style="text-align: center;margin-top: 3%;" (click)="navigateToPage('payment');">
                <button mat-flat-button color="primary" style="width:100%" (click)="paymentAmt='800.00';paymentOption='PREMIUM'">
                    <span> {{paymentOption=='BASIC'||paymentOption=='STANDARD'?'UPGRADE':'SUBSCRIBE'}}</span>
                </button>
            </div>
            <div style="margin-top: 4%;">
                Includes everything inStandard Plan +
                <div>
 * Stay tax compliant with e-invoicing
 </div>
 <div>
* Manage subscription billing
</div>
<div>
* Use hosted payment pages
</div>
<div>
* Provide multi-currency options
</div>
<div>
* Set transaction approval processes
</div>
<div>
* Allow customers to review timesheets
</div>
<div>
* Receive scheduled reports
</div>
            </div>
            </div>
        </div>
    </div>
</div>
<!----------------------SUCCESS POPUP------------------------------->
<div *ngIf="demovideo" style="position: absolute; top:45%; left: 51%;transform: translate(-50%, -50%); z-index: 222222222;background-color: #fff;height:280px;width:385px;border-radius: 10px;padding: 15px;">
    <div style="text-align: center;margin-top:5%">
        <img src="assets/ok.png" style="width:24%">
    </div>
    <div class="main-header" style="text-align: center;margin-top:4%;color:blue">
       <span style="font-size: 14px;font-weight: lighter;margin-bottom: 10px;line-height: 23px;">
        We will verify your documents . Username and password will be send shortly to your registered mail.
       </span>
    </div>
    <div style="text-align: center;margin-top: 5%;">
        <button mat-flat-button color="primary" (click)="demovideo=false;done();copyTokenToClipboard()">
            <span> DONE</span>
        </button> 
    </div>
 </div>
<!----------------------FOOTER-------------------------------------->
<div *ngIf="demovideo"
 style="position: fixed; top: -5px; left: 0; height: 100%; width: 100%;background-color: rgba(0,0,0,.47843137254901963);opacity: 0.7;z-index:22"></div>