<app-side-nav></app-side-nav>
<div style="position: relative;">
<div>
    <!-------------------INITIAL CARD------------------------------>
  
                <div class="column-container">
                    <mat-icon class="mr-3 ml-4 m-3 circle_icon">money</mat-icon>
                    <span class="ml-4 user-contain m-3">Subscriptions and Billings ({{getCurrentUser()}})</span>
                </div>
          
  <!---------------------------TABLE------------------------------------>
  <div style="padding: 5px;width:100%;margin-top:1%;overflow: auto;" [style.height.px]="component_height - 162">
    <div>
      <span style="font-size: 14px;font-weight: bold;color:#0e2954;font-style: italic;float:right">Note : Free-trial plans cannot be viewed in subscriptions and billings.</span>
    </div>
    <table>
        <thead class="header">
          <tr>
              <th *ngFor="let list of userHeaders;let i=index" style="background-color: #0d203e;color:white;border:1px solid #ddd;position: relative;">{{list}}</th>
          </tr>
          </thead>
          <tr *ngFor="let list of invoice;let i=index" (click)="invoiceId=list?.id">
              <td>{{list?.paid_date|date:'yyyy-MM-dd'}}</td>
              <td>#{{list?.id}}</td>
              <td>{{list?.due_date|date:'yyyy-MM-dd'}}</td>
              <td>{{list?.amount_paid}}</td>
              <td>
                <button class="btn" (click)="list?.paymentStatus===null||list?.paymentStatus==='NOT PAID'?payNow = true:'';invoiceId=list?.id">
                    <i class="fa fa-plus_square_o"></i>
                    <span> {{list?.paymentStatus===null||list?.paymentStatus==='NOT PAID'?'PAY NOW':list?.paymentStatus}}</span>
                </button>
              </td>  
              <td>
                <button class="btn" (click)="getSubscriptionById(list?.id)"
                style="margin-top:0.4rem; margin-bottom: 0.4rem; margin-right: auto;display: flex;justify-content: center;"
                 >
                <mat-icon>remove_red_eye</mat-icon>
                <span>View Invoice</span>
                </button>
              </td>            
              <td>
                <button class="btn" [disabled]="list?.paymentStatus===null||list?.paymentStatus==='NOT PAID'" (click)="downloadInvoice(list?.id)"
                style="margin-top:0.4rem; margin-bottom: 0.4rem; margin-right: auto;display: flex;justify-content: center;"
                 >
                <mat-icon>download</mat-icon>
                <span>Download Invoice</span>
                </button>
              </td>
          </tr>
      </table>
      </div>
      <div style="margin-top: 2%;">
      <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" [showFirstLastButtons]="true" aria-label="Select page">
    </mat-paginator>
  </div>
  <div class="loading-container" *ngIf="loading">
    <mat-progress-spinner color="primary" diameter="20" strokeWidth="2" mode="indeterminate"></mat-progress-spinner>
    <span>Loading... Please wait...</span>
</div>
<div class="placeholder-container" *ngIf="!loading && !invoice?.length">
    <span>No items found!</span>
</div>
<!--------------------GET SUBSCRIPTIONS BY ID-------------------------------->
<div class="overlay1">
<div class="popup" style="height:450px;overflow:auto" *ngIf="viewSubscription">
  <div class="title-bar">
      <span style="margin-right: auto;">INVOICE INFORMATION (INVOICE ID : {{invoiceId}})</span>
      <mat-icon (click)="viewSubscription = false;" style="cursor: pointer;">close</mat-icon>
  </div>
  <div class="document-portion">
      <div class="input-container">
          <table class="no-table">
              <tr>
                  <td class="title">ORGANIZATION NAME</td>
                  <td><input disabled class="min-select" [(ngModel)]="orgName"></td>
                  <br>
              </tr>
              <tr>
                <td class="title">SUBACRIPTION PLAN</td>
                <td><input disabled class="min-select" [(ngModel)]="subscriptionPlan"></td>
                <br>
              </tr>
              <tr>
                <td class="title">TOTAL USERS</td>
                <td><input disabled class="min-select" [(ngModel)]="totalUsers"></td>
                <br>
            </tr>
             <tr>
              <td class="title">AMOUNT PAID</td>
              <td><input disabled class="min-select" [(ngModel)]="amountPaid"></td>
              <br>
            </tr>
           <tr>
            <td class="title">INVOICE CREATED DATE</td>
            <td><input disabled class="min-select" [(ngModel)]="invoiceCreatedDate"></td>
            <br>
           </tr>
           <tr>
            <td class="title">PAID BY</td>
            <td><input disabled class="min-select" [(ngModel)]="paidBy"></td>
            <br>
            </tr>
           <tr>
           <td class="title">PAYMENT CYCLE</td>
           <td><input disabled class="min-select" [(ngModel)]="paymentCycle"></td>
           <br>
           </tr>
           <tr>
            <td class="title">PAYMENT DATE</td>
            <td><input disabled class="min-select" [(ngModel)]="paymentDate"></td>
            <br>
           </tr>
           <tr>
            <td class="title">DUE DATE</td>
            <td><input disabled class="min-select" [(ngModel)]="dueDate"></td>
            <br>
          </tr>
          </table>
      </div>
  </div>
</div>
</div>
<!------------------BLUR THE WINDOW------------------------------>
<div *ngIf="viewSubscription||payNow"
 style="position: fixed; top: -5px; left: 0; height: 100%; width: 100%;background-color: rgba(0,0,0,.47843137254901963);opacity: 0.7;z-index:22"></div>
  </div>
      <!----------------------PAYMENT INFO----------------------------------------------------->
      <div class="overlay1" *ngIf="payNow">
        <div class="popup" style="height:350px;overflow:auto">
          <div class="title-bar">
            <span class="title-text">PAYMENT DETAILS</span>
            <mat-icon (click)="payNow = false" class="close-icon">close</mat-icon>
          </div>
          <div class="document-portion">
            <div class="instruction-text">
              <span>You can pay the amount by bank transfer with the following details</span>
            </div>
            <div class="input-container">
              <mat-radio-group [(ngModel)]="selectedPaymentMethod">
                <div class="document-card">
                  <mat-radio-button value="paypal">PayPal</mat-radio-button>
                </div>
                <div class="document-card">
                  <mat-radio-button value="bankTransfer">Bank Transfer</mat-radio-button>
                </div>
              </mat-radio-group>
              <div class="bank-transfer" *ngIf="selectedPaymentMethod==='bankTransfer'">
                <table class="no-table">
                  <tr>
                    <td class="title">Payment Mode</td>
                    <td><input class="min-select1" [(ngModel)]="paymentMode"></td>
                  </tr>
                  <tr>
                    <td class="title">Payment Description</td>
                    <td><input class="min-select1" [(ngModel)]="description"></td>
                  </tr>
                  <tr>
                    <td class="title">Bank Account Number</td>
                    <td><input class="min-select1" [(ngModel)]="accountNo"></td>
                  </tr>
                  <tr>
                    <td class="title">IFSC Code</td>
                    <td><input class="min-select1" [(ngModel)]="ifscCode"></td>
                  </tr>
                  <tr>
                    <td class="title">Bank Holder Name</td>
                    <td><input class="min-select1" [(ngModel)]="bankerName"></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="approve-btn">
              <button class="btn" (click)="payNow = false">DONE</button>
            </div>
          </div>
        </div>
      </div>