
  <h4 mat-dialog-title class="title">Choose Font Color
    <mat-icon class="float-right box-icon-hov" matTooltip="Close" style="cursor: pointer;font-size: 18px; font-weight: bolder;" (click)="onCancelClick()">close</mat-icon>
  </h4>
  <mat-dialog-content class="custom-dialog-content">
    <mat-form-field class="color-input">
      <input matInput [(ngModel)]="selectedFontColor" type="color">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="selectedFontColor" style="background-color: black;color:white;float: right;margin-top: 15px;
    height: 33px;
    margin-left: 40%;"><span style="font-size: 12px;">APPLY</span></button>
  </mat-dialog-actions>