<div mat-dialog-content class="container">
  <span style="font-size:large;text-align: center;margin-top: 1rem;margin-left: 5rem;"> Are you sure want to logout ? </span>
  <br>
  <div class="btn-holder">
    <button mat-raised-button (click)="onCancelClick()">
      <mat-icon>close</mat-icon>
      <span>Cancel</span>
    </button>
    <button mat-raised-button (click)="onCancelClick()" [routerLink]="['/signup/login']">
      <mat-icon>done</mat-icon>
      <span>Yes</span>
    </button>
  </div>
</div>