.container {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  text-align: center;
}

.container .btn-holder{
  justify-content: flex-end;
  display: flex;
  margin-top: 4rem;
}
button{
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(14, 41, 84, 1);
  color: white;
  mat-icon{
      font-size: 2rem;
      margin-right:0.5rem
  }
  span{
      font-size: 1.8rem;
      margin-left:0.5rem
  }
}