.main-header{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}
.sub-header{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: white; 
}
.logo-img{
    width:150px;
    height:100px;
}
.box{
    height:250px;
    width:100%;
    border-radius: 11px;
    background-color: lightgrey;
}
.min-select {
    width: 40rem;
    padding: 10px;
    border: solid #e6e6e6 0.1rem;
    background-color: #fafafa;
    box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 10%) inset;
    transition: all linear 70ms;
    outline: solid transparent 0.2rem;
    margin-top: 4%;
}
.mat-button-toggle-group-appearance-standard:not([class*="mat-elevation-z"]) {
    box-shadow: none;
    border-radius: 41px;
}
.mat-button-toggle-checked{
    background-color: #073174;
    border-radius: 26px;
    color: white;
}
.mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
    border-left: solid 1px transparent;
  }
  .number-input {
    display: flex;
    align-items: center;
    height: 50px;
  }
  
  .number-input button {
    background-color: lightblue ;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #e6e6e6;
  }
  .addbutton{
    border-top-right-radius: 5px;
    border: 1px solid #e6e6e6;
    border-bottom-right-radius: 5px;
  }
  .subbutton{
    border-top-left-radius: 5px;
    border: 1px solid #e6e6e6;
    border-bottom-left-radius: 5px;
  }
  
  .number-input input {
    width: 50px;
    padding: 5px;
    text-align: center;
    border-radius: 0px !important;
    box-shadow: none !important;
  }
  .payment-method {
    margin-top: 2%;
    margin-left: 8px;
}
.payment-method mat-radio-button {
    display: block;
    margin: 5px 0;
}
.payment-button {
    text-align: center;
    margin-top: 6%;
}
