<!-- <div class="header-container">
    <span class="header">
        Functions :
    </span>
</div>
<div class="content-container">
    <div class="search-container">
        <div>
            <mat-icon class="icon-search">search</mat-icon>
            <input class="min-input" placeholder="Search Functions  by Name" [(ngModel)]="searchText"  (ngModelChange)="filterColumns($event);">
        <mat-icon  class="icon-search" style="margin-left:90rem;cursor:pointer;" *ngIf="searchText" (click)="clearSearchField()" >close</mat-icon>

        </div>

    </div>
    <div class="body-container" *ngIf="functionsList.length > 0 && !loading">
        <div class="card-container"  *ngFor="let function of filteredColumns" (click)="selectfunction(function)"
            [class.selected-card]="function.id==selectedFunction">
            <div class="card-body-container">
                <div class="card-image-container">
                    <img src="assets/Icons/rules1.png">
                </div>
                <div class="card-content-container">
                    <div class="card_body-content">
                        {{function.name}}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="no-record-found"style="margin: 20rem;margin-left:13rem;" *ngIf="filteredColumns.length == 0 && !loading">
        No Function found
    </div>
<mat-spinner  *ngIf="loading"  style="margin: 20rem;margin-left:53rem;" diameter="40"></mat-spinner>

</div>
<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close (click)="oncancelClick()">
        <mat-icon>close</mat-icon>
        <span>Close</span>
    </button>
    <button mat-raised-button class="selectButton" [disabled]="!selectedFunction" (click)="onSelectFunctionClick()">
        <mat-icon>done</mat-icon>
        <span>Select Function</span>
    </button>
</mat-dialog-actions> -->


<div class="popup-box">
    <div class="header">
        <span class="title">
            Functions :
        </span>
        <br>
        <br>
        <mat-divider></mat-divider>

        <div class="search-container">
            <div>
                <mat-icon class="icon-search">search</mat-icon>

                <input class="min-input" placeholder="Search Functions  by Name" [(ngModel)]="searchText" (ngModelChange)="filterColumns($event);">

            </div>
            <mat-icon class="icon-search" style="margin-left:80rem;cursor:pointer; margin-top: 6rem;" *ngIf="searchText" (click)="clearSearchField()">close</mat-icon>

        </div>

    </div>
    <div class="content">
        <div class="row-main mt-5" *ngIf="functionsList.length > 0 && !loading">
            <div class="col" *ngFor="let function of filteredColumns" (click)="selectfunction(function)" [class.selected-card]="function.id==selectedFunction">
                <div class="image">
                    <img src="assets/Icons/rules1.png">
                </div>
                <div class="card-content-container">
                    <div class="card_body-content" matTooltip={{function.name}}>
                        {{function.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="no-record-found" *ngIf="functionsList.length == 0 && !loading">
            No Function found
        </div>
        <div class="no-record-found" *ngIf="filteredColumns.length == 0 && !loading">
            No Function found
        </div>
        <mat-spinner *ngIf="loading" style="margin: 20rem;margin-left:44rem;" diameter="40"></mat-spinner>
    </div>

</div>
<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close (click)="oncancelClick()">
        <mat-icon>close</mat-icon>
        <span>Close</span>
    </button>
    <button mat-raised-button class="selectButton" [disabled]="!selectedFunction" (click)="onSelectFunctionClick()">
        <mat-icon>done</mat-icon>
        <span>Select Function</span>
    </button>
</mat-dialog-actions>