<section class="mt-3" style="margin-left: 10px;">
    <div style="margin-left: 35%;">
        <span class="material-symbols-outlined" style="font-size: 80px;color:red;">
            Warning
        </span>
    </div>
    <div style="margin-left: 8%">
        <p style="font-weight:bold;font-size: 19px;letter-spacing: 1px;">DUPLICATE APPLICATION LIST !!</p>
    </div>
    <div style="text-align: center;margin-top:20px">
        <button mat-stroked-button style="height:40px;background: #3445b4;color:white" [routerLink]="'/loan-case-manager/duplicate-list/duplicate-list'" mat-dialog-close>
            <mat-icon>arrow_circle_left</mat-icon>
            Click here
        </button>
    </div>
    <div style="margin-left: 25%;margin-top: 8px">
        <mat-hint style="color:red">Click here to view Duplicate details</mat-hint>
    </div>
</section>