<div class="page__main-container">
    <div class="header-container">
        <span>
            Manage Access Templates:-  
        </span>
    </div>
    <div class="main-container">
        <div class="search-container">
            <mat-icon class="icon-search">search</mat-icon>
            <input class="min-input" [(ngModel)]="templateName" (keyup.enter)="getTemplateList()"  placeholder="Search Here...">
        </div>
        <div class="content-container">
            <div class="list__template-container" *ngFor="let template of templates; let i = index">
                <div class="check__box-container"> 
                    <input type="checkbox"  [(ngModel)]="template.isChecked" (change)="onCheckBoxChecked(template,i)">
                </div>
                <div class="template__icon-container">
                    <mat-icon>how_to_reg</mat-icon>
                </div>
                <div class="template__name-container">
                    {{template.name}}
                </div>
            </div>
        </div>
    </div>
    <div class="paginated-container">
        <div class="page-nav-container noselect" [@fadeInOut] *ngIf="entryCount">
            <div>
                <button mat-icon-button [disabled]="(pageNum + 1) <= 1" (click)="prevPage()">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
            </div>
            <div>
                <span>Page {{pageNum + 1}} of {{totalPages}}
                </span>(<span>{{currentPageStart}}</span>-<span>{{currentPageEnd}}</span> of
                <span>{{entryCount}}</span>)
            </div>
            <div>
                <button mat-icon-button [disabled]="(pageNum + 1) >= totalPages" (click)="nextPage()">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div> 
<mat-dialog-actions align="end" class="button-container">
    <button mat-raised-button mat-dialog-close color="warn">
        <mat-icon>close</mat-icon>
        <span style="padding-left: 10px;">Close</span>
    </button>
    <button mat-raised-button color="primary" (click)="onYesClick()">
        <mat-icon>done</mat-icon>
        <span style="padding-left: 10px;">Apply</span>
    </button>
</mat-dialog-actions>

<notifier-container></notifier-container>