/* You can add global styles to this file, and also import other style files */
@import './font-awesome-4.7.0/css/font-awesome.min.css';
@import './font-awesome-4.7.0/css/font-awesome.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

i{
    margin-top:-1px;
}
::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
      border-radius: 10px;
  }
  
  ::-webkit-scrollbar
  {
    width: 9px;
    height: 9px;
      background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    border: 1px solid #87ceef;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(205 226 229)), color-stop(0.72, rgb(206 229 229)), color-stop(0.86, rgb(217 237 234)));
  }
  /* Basic table styling */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Table header */
th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Table rows */
tr {
  border: 1px solid #ddd;
}

/* Alternating row colors */
tr:nth-child(even) {
  background-color: #fff;
}

/* Table cells */
td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Hover effect */
tr:hover {
  background-color: #e2e2e2;
}
//btn
.btn {
  // padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  border: none;
  color: white;
  font-weight: bold;
  font-size: small;
  opacity: 1;
  background-color: #13183f !important;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
  outline: solid rgba(255, 255, 255, 0.3) 0.3rem;
  cursor: pointer;
  transition: all linear 100ms;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white !important;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.75);
  >mat-icon {
      font-size: 1.7rem;
      width: 1.6rem;
      height: 1.6rem;
      // padding-left: 1rem;
      padding-right: 2.4rem;
      color:white !important;
  }
}
// buttons in users,roles,access template and groups
.button-container {
  flex: 0 0 auto;
  flex-direction: row;

>.button-container {
  flex: 0 0 auto;
  >.header-container {
      height: 3rem;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      >div.spacer {
          flex: 1 1 auto;
      }
      >*:not(div.spacer) {
          flex: 0 0 auto;
      }
      >.button-item-container {
          color: white;
          padding: 0.5rem 1rem;
          margin-top: 1rem;
          margin-right: 1rem;
          border-radius: 0.3rem;
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: all linear 70ms;
          box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
          background-color: #0e2954;
          >* {
              text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
          }
      }
  }
  >button {
      margin-left: 1rem;
  }
}
}

//table thead
.header{
position: sticky;
top:0px;
}
