.tl-main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    >.header-container {
        flex: 0 0 auto;
        height: 3rem;
        padding: 1rem;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
    }

    >.content-container {
        flex: 1 1 auto;
        height: 100%;
        overflow: auto;
        background-color: whitesmoke;
        border: 1rem solid white;

        .list-container {
            margin: 1rem;
            box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
            padding: 2rem;
            height: 5rem;
            width: 66rem;
            border-radius: 0.5rem;
            background-color: white;
            //overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .checkbox-content {
                margin-left: 1rem;
                padding-bottom: 1rem;
            }
        }
    }

    >.button-container {
        flex: 0 0 auto;
        height: 3rem;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-end;

        >.spacer {
            flex: 1 1 auto;
        }
    }

    >.button-container1 {
        flex: 0 0 auto;
        height: 3rem;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;

        >.spacer {
            flex: 1 1 auto;
        }
    }
}
