<div class="card">
  <div class="login">
    <h2 class="active"> Reset Password </h2>
    <div class="form">
      <input type="text" class="text" [(ngModel)]="userName" autocomplete="off" readonly>
      <div class="span">username</div>
      <input type="password" (input)="getPasswordValidation()"   oninput="this.value = this.value.replace(/^\s+/g, '');" class="text"
        [(ngModel)]="newpassword" autocomplete="off">
      <div class="span">new password</div>
      <div class="password-notifier">
        {{passwordMessage}}
    </div><br>
      <input type="password" oninput="this.value = this.value.replace(/^\s+/g, '');" class="text"
        [(ngModel)]="confirmPassword" autocomplete="off">
      <div class="span">confirm password</div>
      <button class="login__btn" name="btn" (click)="resetpassword()" [disabled]="reset()">
        Reset Password
      </button>
      <div class="err_msg" *ngIf="errorMsg">
        {{errorMsg}}
      </div>
      </div>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    <mat-icon style="color: red;">close</mat-icon>
  </button>
</mat-dialog-actions>